.date-picker-dropdown {
  display: inline-flex;
  flex-direction: column;
  position: relative;
}

.date-picker-dropdown .class-35 {
  color: var(--1-color-modes-colors-text-text-placeholder) !important;
}

.date-picker-dropdown .buttons-button-instance {
  flex: 0 0 auto !important;
}

.date-picker-dropdown .instance-node-4 {
  height: 20px !important;
  position: relative !important;
  width: 20px !important;
}

.date-picker-dropdown .date-picker-menu {
  align-items: flex-start;
  background-color: var(--1-color-modes-colors-background-bg-primary);
  border: 1px solid;
  border-color: var(--1-color-modes-colors-border-border-secondary);
  border-radius: var(--2-radius-radius-xl);
  box-shadow: var(--shadows-shadow-xl);
  overflow: hidden;
  position: absolute;
  top: 48px;
}

.date-picker-dropdown .leading-content {
  align-items: flex-start;
  align-self: stretch;
  border-color: var(--1-color-modes-colors-border-border-secondary);
  border-right-style: solid;
  border-right-width: 1px;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: var(--3-spacing-spacing-xs);
  padding: var(--3-spacing-spacing-lg) var(--3-spacing-spacing-xl)
    var(--3-spacing-spacing-lg) var(--3-spacing-spacing-xl);
  position: relative;
}

.date-picker-dropdown .date-picker-list {
  align-items: center;
  border-radius: var(--2-radius-radius-sm);
  display: flex;
  height: 40px;
  overflow: hidden;
  padding: var(--3-spacing-spacing-md) var(--3-spacing-spacing-xl)
    var(--3-spacing-spacing-md) var(--3-spacing-spacing-xl);
  position: relative;
  width: 160px;
}

.date-picker-dropdown .text-9 {
  color: var(--1-color-modes-colors-text-text-secondary-700);
  font-family: var(--text-sm-medium-font-family);
  font-size: var(--text-sm-medium-font-size);
  font-style: var(--text-sm-medium-font-style);
  font-weight: var(--text-sm-medium-font-weight);
  letter-spacing: var(--text-sm-medium-letter-spacing);
  line-height: var(--text-sm-medium-line-height);
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.date-picker-dropdown .div-wrapper {
  align-items: center;
  border-radius: var(--2-radius-radius-sm);
  display: flex;
  height: 40px;
  overflow: hidden;
  padding: var(--3-spacing-spacing-md) var(--3-spacing-spacing-xl)
    var(--3-spacing-spacing-md) var(--3-spacing-spacing-xl);
  position: relative;
  width: 160px;
}

.date-picker-dropdown .date-picker-list-2 {
  align-items: center;
  border-radius: var(--2-radius-radius-sm);
  display: flex;
  height: 40px;
  overflow: hidden;
  padding: var(--3-spacing-spacing-md) var(--3-spacing-spacing-xl)
    var(--3-spacing-spacing-md) var(--3-spacing-spacing-xl);
  position: relative;
  width: 160px;
}

.date-picker-dropdown .date-picker-list-3 {
  align-items: center;
  border-radius: var(--2-radius-radius-sm);
  display: flex;
  height: 40px;
  overflow: hidden;
  padding: var(--3-spacing-spacing-md) var(--3-spacing-spacing-xl)
    var(--3-spacing-spacing-md) var(--3-spacing-spacing-xl);
  position: relative;
  width: 160px;
}

.date-picker-dropdown .text-10 {
  font-family: var(--text-sm-medium-font-family);
  font-size: var(--text-sm-medium-font-size);
  font-style: var(--text-sm-medium-font-style);
  font-weight: var(--text-sm-medium-font-weight);
  letter-spacing: var(--text-sm-medium-letter-spacing);
  line-height: var(--text-sm-medium-line-height);
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.date-picker-dropdown .date-picker-list-4 {
  align-items: center;
  border-radius: var(--2-radius-radius-sm);
  display: flex;
  height: 40px;
  overflow: hidden;
  padding: var(--3-spacing-spacing-md) var(--3-spacing-spacing-xl)
    var(--3-spacing-spacing-md) var(--3-spacing-spacing-xl);
  position: relative;
  width: 160px;
}

.date-picker-dropdown .date-picker-list-5 {
  align-items: center;
  border-radius: var(--2-radius-radius-sm);
  display: flex;
  height: 40px;
  overflow: hidden;
  padding: var(--3-spacing-spacing-md) var(--3-spacing-spacing-xl)
    var(--3-spacing-spacing-md) var(--3-spacing-spacing-xl);
  position: relative;
  width: 160px;
}

.date-picker-dropdown .date-picker-list-6 {
  align-items: center;
  border-radius: var(--2-radius-radius-sm);
  display: flex;
  height: 40px;
  overflow: hidden;
  padding: var(--3-spacing-spacing-md) var(--3-spacing-spacing-xl)
    var(--3-spacing-spacing-md) var(--3-spacing-spacing-xl);
  position: relative;
  width: 160px;
}

.date-picker-dropdown .date-picker-list-7 {
  align-items: center;
  border-radius: var(--2-radius-radius-sm);
  display: flex;
  height: 40px;
  overflow: hidden;
  padding: var(--3-spacing-spacing-md) var(--3-spacing-spacing-xl)
    var(--3-spacing-spacing-md) var(--3-spacing-spacing-xl);
  position: relative;
  width: 160px;
}

.date-picker-dropdown .date-picker-list-8 {
  align-items: center;
  border-radius: var(--2-radius-radius-sm);
  display: flex;
  height: 40px;
  overflow: hidden;
  padding: var(--3-spacing-spacing-md) var(--3-spacing-spacing-xl)
    var(--3-spacing-spacing-md) var(--3-spacing-spacing-xl);
  position: relative;
  width: 160px;
}

.date-picker-dropdown .trailing-content {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
}

.date-picker-dropdown .date-pickers {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  position: relative;
}

.date-picker-dropdown .left-picker {
  align-items: center;
  border-color: var(--1-color-modes-colors-border-border-secondary);
  border-right-style: solid;
  border-right-width: 1px;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 328px;
}

.date-picker-dropdown .calendar-wrapper {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: var(--3-spacing-spacing-xl);
  padding: var(--3-spacing-spacing-2xl) var(--3-spacing-spacing-3xl)
    var(--3-spacing-spacing-2xl) var(--3-spacing-spacing-3xl);
  position: relative;
  width: 100%;
}

.date-picker-dropdown .calendar {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: var(--3-spacing-spacing-lg);
  position: relative;
  width: 100%;
}

.date-picker-dropdown .month {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  position: relative;
  width: 280px;
}

.date-picker-dropdown .text-11 {
  color: var(--1-color-modes-colors-foreground-fg-secondary-700);
  font-family: var(--text-md-semibold-font-family);
  font-size: var(--text-md-semibold-font-size);
  font-style: var(--text-md-semibold-font-style);
  font-weight: var(--text-md-semibold-font-weight);
  letter-spacing: var(--text-md-semibold-letter-spacing);
  line-height: var(--text-md-semibold-line-height);
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.date-picker-dropdown .dates {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  gap: 4px 0px;
  position: relative;
  width: 100%;
}

.date-picker-dropdown .calendar-cell {
  border-radius: var(--2-radius-radius-full);
  height: 40px;
  position: relative;
  width: 40px;
}

.date-picker-dropdown .number {
  color: var(--1-color-modes-colors-text-text-secondary-700);
  font-family: var(--text-sm-medium-font-family);
  font-size: var(--text-sm-medium-font-size);
  font-style: var(--text-sm-medium-font-style);
  font-weight: var(--text-sm-medium-font-weight);
  left: 8px;
  letter-spacing: var(--text-sm-medium-letter-spacing);
  line-height: var(--text-sm-medium-line-height);
  position: absolute;
  text-align: center;
  top: 9px;
  width: 24px;
}

.date-picker-dropdown .number-wrapper {
  border-radius: var(--2-radius-radius-full);
  height: 40px;
  position: relative;
  width: 40px;
}

.date-picker-dropdown .calendar-cell-2 {
  border-radius: var(--2-radius-radius-full);
  height: 40px;
  position: relative;
  width: 40px;
}

.date-picker-dropdown .calendar-cell-3 {
  border-radius: var(--2-radius-radius-full);
  height: 40px;
  position: relative;
  width: 40px;
}

.date-picker-dropdown .calendar-cell-4 {
  border-radius: var(--2-radius-radius-full);
  height: 40px;
  position: relative;
  width: 40px;
}

.date-picker-dropdown .calendar-cell-5 {
  border-radius: var(--2-radius-radius-full);
  height: 40px;
  position: relative;
  width: 40px;
}

.date-picker-dropdown .calendar-cell-6 {
  border-radius: var(--2-radius-radius-full);
  height: 40px;
  position: relative;
  width: 40px;
}

.date-picker-dropdown .calendar-cell-7 {
  border-radius: var(--2-radius-radius-full);
  height: 40px;
  position: relative;
  width: 40px;
}

.date-picker-dropdown .number-2 {
  color: var(--1-color-modes-colors-text-text-secondary-700);
  font-family: var(--text-sm-regular-font-family);
  font-size: var(--text-sm-regular-font-size);
  font-style: var(--text-sm-regular-font-style);
  font-weight: var(--text-sm-regular-font-weight);
  left: 8px;
  letter-spacing: var(--text-sm-regular-letter-spacing);
  line-height: var(--text-sm-regular-line-height);
  position: absolute;
  text-align: center;
  top: 9px;
  width: 24px;
}

.date-picker-dropdown .dot-2 {
  background-color: var(--1-color-modes-colors-foreground-fg-brand-primary-600);
  border-radius: 2.5px;
  height: 5px;
  left: 18px;
  position: absolute;
  top: 31px;
  width: 5px;
}

.date-picker-dropdown .calendar-cell-8 {
  border-radius: var(--2-radius-radius-full);
  height: 40px;
  position: relative;
  width: 40px;
}

.date-picker-dropdown .calendar-cell-9 {
  border-radius: var(--2-radius-radius-full);
  height: 40px;
  position: relative;
  width: 40px;
}

.date-picker-dropdown .calendar-cell-10 {
  border-radius: var(--2-radius-radius-full);
  height: 40px;
  position: relative;
  width: 40px;
}

.date-picker-dropdown .calendar-cell-11 {
  border-radius: var(--2-radius-radius-full);
  height: 40px;
  position: relative;
  width: 40px;
}

.date-picker-dropdown .calendar-cell-12 {
  border-radius: var(--2-radius-radius-full);
  height: 40px;
  position: relative;
  width: 40px;
}

.date-picker-dropdown .calendar-cell-13 {
  border-radius: var(--2-radius-radius-full);
  height: 40px;
  position: relative;
  width: 40px;
}

.date-picker-dropdown .calendar-cell-14 {
  border-radius: var(--2-radius-radius-full);
  height: 40px;
  position: relative;
  width: 40px;
}

.date-picker-dropdown .calendar-cell-15 {
  border-radius: var(--2-radius-radius-full);
  height: 40px;
  position: relative;
  width: 40px;
}

.date-picker-dropdown .calendar-cell-16 {
  border-radius: var(--2-radius-radius-full);
  height: 40px;
  position: relative;
  width: 40px;
}

.date-picker-dropdown .calendar-cell-17 {
  border-radius: var(--2-radius-radius-full);
  height: 40px;
  position: relative;
  width: 40px;
}

.date-picker-dropdown .calendar-cell-18 {
  border-radius: var(--2-radius-radius-full);
  height: 40px;
  position: relative;
  width: 40px;
}

.date-picker-dropdown .connector-right {
  height: 40px;
  left: -2631px;
  position: absolute;
  top: -824px;
  width: 40px;
}

.date-picker-dropdown .number-3 {
  left: 8px;
  position: absolute;
  text-align: center;
  top: 9px;
  width: 24px;
}

.date-picker-dropdown .calendar-cell-19 {
  border-radius: var(--2-radius-radius-full);
  height: 40px;
  position: relative;
  width: 40px;
}

.date-picker-dropdown .img {
  height: 40px;
  left: -2671px;
  position: absolute;
  top: -824px;
  width: 40px;
}

.date-picker-dropdown .connector-left {
  height: 40px;
  left: -2711px;
  position: absolute;
  top: -824px;
  width: 40px;
}

.date-picker-dropdown .number-4 {
  color: var(--1-color-modes-colors-text-text-secondary-700);
  left: 8px;
  position: absolute;
  text-align: center;
  width: 24px;
}

.date-picker-dropdown .calendar-cell-20 {
  border-radius: var(--2-radius-radius-full);
  height: 40px;
  position: relative;
  width: 40px;
}

.date-picker-dropdown .connector-left-2 {
  height: 40px;
  left: -2751px;
  position: absolute;
  top: -824px;
  width: 40px;
}

.date-picker-dropdown .number-5 {
  color: var(--1-color-modes-colors-text-text-secondary-700);
  left: 8px;
  position: absolute;
  text-align: center;
  width: 24px;
}

.date-picker-dropdown .calendar-cell-21 {
  border-radius: var(--2-radius-radius-full);
  height: 40px;
  position: relative;
  width: 40px;
}

.date-picker-dropdown .connector-right-2 {
  height: 40px;
  left: -2471px;
  position: absolute;
  top: -868px;
  width: 40px;
}

.date-picker-dropdown .number-6 {
  color: var(--1-color-modes-colors-text-text-secondary-700);
  left: 8px;
  position: absolute;
  text-align: center;
  width: 24px;
}

.date-picker-dropdown .calendar-cell-22 {
  border-radius: var(--2-radius-radius-full);
  height: 40px;
  position: relative;
  width: 40px;
}

.date-picker-dropdown .connector-right-3 {
  height: 40px;
  left: -2511px;
  position: absolute;
  top: -868px;
  width: 40px;
}

.date-picker-dropdown .img-2 {
  height: 40px;
  left: -2551px;
  position: absolute;
  top: -868px;
  width: 40px;
}

.date-picker-dropdown .number-7 {
  color: var(--1-color-modes-colors-text-text-secondary-700);
  left: 8px;
  position: absolute;
  text-align: center;
  width: 24px;
}

.date-picker-dropdown .calendar-cell-23 {
  border-radius: var(--2-radius-radius-full);
  height: 40px;
  position: relative;
  width: 40px;
}

.date-picker-dropdown .connector-left-3 {
  height: 40px;
  left: -2591px;
  position: absolute;
  top: -868px;
  width: 40px;
}

.date-picker-dropdown .number-8 {
  color: var(--1-color-modes-colors-text-text-secondary-700);
  left: 8px;
  position: absolute;
  text-align: center;
  width: 24px;
}

.date-picker-dropdown .calendar-cell-24 {
  border-radius: var(--2-radius-radius-full);
  height: 40px;
  position: relative;
  width: 40px;
}

.date-picker-dropdown .connector-left-4 {
  height: 40px;
  left: -2631px;
  position: absolute;
  top: -868px;
  width: 40px;
}

.date-picker-dropdown .number-9 {
  left: 8px;
  position: absolute;
  text-align: center;
  top: 9px;
  width: 24px;
}

.date-picker-dropdown .calendar-cell-25 {
  border-radius: var(--2-radius-radius-full);
  height: 40px;
  position: relative;
  width: 40px;
}

.date-picker-dropdown .calendar-cell-26 {
  border-radius: var(--2-radius-radius-full);
  height: 40px;
  position: relative;
  width: 40px;
}

.date-picker-dropdown .calendar-cell-27 {
  border-radius: var(--2-radius-radius-full);
  height: 40px;
  position: relative;
  width: 40px;
}

.date-picker-dropdown .calendar-cell-28 {
  border-radius: var(--2-radius-radius-full);
  height: 40px;
  position: relative;
  width: 40px;
}

.date-picker-dropdown .calendar-cell-29 {
  border-radius: var(--2-radius-radius-full);
  height: 40px;
  position: relative;
  width: 40px;
}

.date-picker-dropdown .calendar-cell-30 {
  border-radius: var(--2-radius-radius-full);
  height: 40px;
  position: relative;
  width: 40px;
}

.date-picker-dropdown .calendar-cell-31 {
  border-radius: var(--2-radius-radius-full);
  height: 40px;
  position: relative;
  width: 40px;
}

.date-picker-dropdown .calendar-cell-32 {
  border-radius: var(--2-radius-radius-full);
  height: 40px;
  position: relative;
  width: 40px;
}

.date-picker-dropdown .calendar-cell-33 {
  border-radius: var(--2-radius-radius-full);
  height: 40px;
  position: relative;
  width: 40px;
}

.date-picker-dropdown .overlap-wrapper {
  background-color: var(--1-color-modes-colors-background-bg-primary-hover);
  border-radius: var(--2-radius-radius-full);
  height: 40px;
  position: relative;
  width: 40px;
}

.date-picker-dropdown .overlap {
  height: 31px;
  left: 8px;
  position: relative;
  top: 9px;
  width: 36px;
}

.date-picker-dropdown .number-10 {
  color: var(--1-color-modes-colors-text-text-secondary-hover);
  font-family: var(--text-sm-medium-font-family);
  font-size: var(--text-sm-medium-font-size);
  font-style: var(--text-sm-medium-font-style);
  font-weight: var(--text-sm-medium-font-weight);
  left: 0;
  letter-spacing: var(--text-sm-medium-letter-spacing);
  line-height: var(--text-sm-medium-line-height);
  position: absolute;
  text-align: center;
  top: 0;
  width: 24px;
}

.date-picker-dropdown .cursor {
  height: 20px;
  left: 16px;
  position: absolute;
  top: 11px;
  width: 20px;
}

.date-picker-dropdown .overlap-group {
  background-size: 100% 100%;
  height: 16px;
  position: relative;
  top: -930px;
  width: 14px;
}

.date-picker-dropdown .lines {
  height: 4px;
  left: 6px;
  position: absolute;
  top: 9px;
  width: 5px;
}

.date-picker-dropdown .calendar-cell-34 {
  border-radius: var(--2-radius-radius-full);
  height: 40px;
  position: relative;
  width: 40px;
}

.date-picker-dropdown .calendar-cell-35 {
  background-color: var(--1-color-modes-colors-background-bg-active);
  border-radius: var(--2-radius-radius-full);
  height: 40px;
  position: relative;
  width: 40px;
}

.date-picker-dropdown .calendar-cell-36 {
  border-radius: var(--2-radius-radius-full);
  height: 40px;
  position: relative;
  width: 40px;
}

.date-picker-dropdown .calendar-cell-37 {
  border-radius: var(--2-radius-radius-full);
  height: 40px;
  position: relative;
  width: 40px;
}

.date-picker-dropdown .text-wrapper-2 {
  color: var(--1-color-modes-colors-text-text-disabled);
  font-family: var(--text-sm-regular-font-family);
  font-size: var(--text-sm-regular-font-size);
  font-style: var(--text-sm-regular-font-style);
  font-weight: var(--text-sm-regular-font-weight);
  left: 8px;
  letter-spacing: var(--text-sm-regular-letter-spacing);
  line-height: var(--text-sm-regular-line-height);
  position: absolute;
  text-align: center;
  top: 9px;
  width: 24px;
}

.date-picker-dropdown .calendar-cell-38 {
  border-radius: var(--2-radius-radius-full);
  height: 40px;
  position: relative;
  width: 40px;
}

.date-picker-dropdown .calendar-cell-39 {
  border-radius: var(--2-radius-radius-full);
  height: 40px;
  position: relative;
  width: 40px;
}

.date-picker-dropdown .calendar-cell-40 {
  border-radius: var(--2-radius-radius-full);
  height: 40px;
  position: relative;
  width: 40px;
}

.date-picker-dropdown .dot-3 {
  background-color: var(--1-color-modes-colors-foreground-fg-disabled);
  border-radius: 2.5px;
  height: 5px;
  left: 18px;
  position: absolute;
  top: 31px;
  width: 5px;
}

.date-picker-dropdown .calendar-cell-41 {
  border-radius: var(--2-radius-radius-full);
  height: 40px;
  position: relative;
  width: 40px;
}

.date-picker-dropdown .calendar-cell-42 {
  border-radius: var(--2-radius-radius-full);
  height: 40px;
  position: relative;
  width: 40px;
}

.date-picker-dropdown .calendar-cell-43 {
  border-radius: var(--2-radius-radius-full);
  height: 40px;
  position: relative;
  width: 40px;
}

.date-picker-dropdown .calendar-cell-44 {
  border-radius: var(--2-radius-radius-full);
  height: 40px;
  position: relative;
  width: 40px;
}

.date-picker-dropdown .calendar-cell-45 {
  border-radius: var(--2-radius-radius-full);
  height: 40px;
  position: relative;
  width: 40px;
}

.date-picker-dropdown .calendar-cell-46 {
  border-radius: var(--2-radius-radius-full);
  height: 40px;
  position: relative;
  width: 40px;
}

.date-picker-dropdown .calendar-cell-47 {
  border-radius: var(--2-radius-radius-full);
  height: 40px;
  position: relative;
  width: 40px;
}

.date-picker-dropdown .right-picker {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 328px;
}

.date-picker-dropdown .calendar-cell-48 {
  border-radius: var(--2-radius-radius-full);
  height: 40px;
  position: relative;
  width: 40px;
}

.date-picker-dropdown .calendar-cell-49 {
  border-radius: var(--2-radius-radius-full);
  height: 40px;
  position: relative;
  width: 40px;
}

.date-picker-dropdown .calendar-cell-50 {
  border-radius: var(--2-radius-radius-full);
  height: 40px;
  position: relative;
  width: 40px;
}

.date-picker-dropdown .calendar-cell-51 {
  border-radius: var(--2-radius-radius-full);
  height: 40px;
  position: relative;
  width: 40px;
}

.date-picker-dropdown .calendar-cell-52 {
  border-radius: var(--2-radius-radius-full);
  height: 40px;
  position: relative;
  width: 40px;
}

.date-picker-dropdown .calendar-cell-53 {
  border-radius: var(--2-radius-radius-full);
  height: 40px;
  position: relative;
  width: 40px;
}

.date-picker-dropdown .calendar-cell-54 {
  border-radius: var(--2-radius-radius-full);
  height: 40px;
  position: relative;
  width: 40px;
}

.date-picker-dropdown .calendar-cell-55 {
  border-radius: var(--2-radius-radius-full);
  height: 40px;
  position: relative;
  width: 40px;
}

.date-picker-dropdown .calendar-cell-56 {
  border-radius: var(--2-radius-radius-full);
  height: 40px;
  position: relative;
  width: 40px;
}

.date-picker-dropdown .calendar-cell-57 {
  border-radius: var(--2-radius-radius-full);
  height: 40px;
  position: relative;
  width: 40px;
}

.date-picker-dropdown .calendar-cell-58 {
  border-radius: var(--2-radius-radius-full);
  height: 40px;
  position: relative;
  width: 40px;
}

.date-picker-dropdown .calendar-cell-59 {
  border-radius: var(--2-radius-radius-full);
  height: 40px;
  position: relative;
  width: 40px;
}

.date-picker-dropdown .calendar-cell-60 {
  border-radius: var(--2-radius-radius-full);
  height: 40px;
  position: relative;
  width: 40px;
}

.date-picker-dropdown .calendar-cell-61 {
  border-radius: var(--2-radius-radius-full);
  height: 40px;
  position: relative;
  width: 40px;
}

.date-picker-dropdown .calendar-cell-62 {
  border-radius: var(--2-radius-radius-full);
  height: 40px;
  position: relative;
  width: 40px;
}

.date-picker-dropdown .calendar-cell-63 {
  border-radius: var(--2-radius-radius-full);
  height: 40px;
  position: relative;
  width: 40px;
}

.date-picker-dropdown .calendar-cell-64 {
  border-radius: var(--2-radius-radius-full);
  height: 40px;
  position: relative;
  width: 40px;
}

.date-picker-dropdown .calendar-cell-65 {
  border-radius: var(--2-radius-radius-full);
  height: 40px;
  position: relative;
  width: 40px;
}

.date-picker-dropdown .calendar-cell-66 {
  border-radius: var(--2-radius-radius-full);
  height: 40px;
  position: relative;
  width: 40px;
}

.date-picker-dropdown .calendar-cell-67 {
  border-radius: var(--2-radius-radius-full);
  height: 40px;
  position: relative;
  width: 40px;
}

.date-picker-dropdown .calendar-cell-68 {
  border-radius: var(--2-radius-radius-full);
  height: 40px;
  position: relative;
  width: 40px;
}

.date-picker-dropdown .calendar-cell-69 {
  border-radius: var(--2-radius-radius-full);
  height: 40px;
  position: relative;
  width: 40px;
}

.date-picker-dropdown .calendar-cell-70 {
  border-radius: var(--2-radius-radius-full);
  height: 40px;
  position: relative;
  width: 40px;
}

.date-picker-dropdown .calendar-cell-71 {
  border-radius: var(--2-radius-radius-full);
  height: 40px;
  position: relative;
  width: 40px;
}

.date-picker-dropdown .calendar-cell-72 {
  border-radius: var(--2-radius-radius-full);
  height: 40px;
  position: relative;
  width: 40px;
}

.date-picker-dropdown .calendar-cell-73 {
  border-radius: var(--2-radius-radius-full);
  height: 40px;
  position: relative;
  width: 40px;
}

.date-picker-dropdown .calendar-cell-74 {
  border-radius: var(--2-radius-radius-full);
  height: 40px;
  position: relative;
  width: 40px;
}

.date-picker-dropdown .calendar-cell-75 {
  border-radius: var(--2-radius-radius-full);
  height: 40px;
  position: relative;
  width: 40px;
}

.date-picker-dropdown .calendar-cell-76 {
  border-radius: var(--2-radius-radius-full);
  height: 40px;
  position: relative;
  width: 40px;
}

.date-picker-dropdown .calendar-cell-77 {
  border-radius: var(--2-radius-radius-full);
  height: 40px;
  position: relative;
  width: 40px;
}

.date-picker-dropdown .calendar-cell-78 {
  border-radius: var(--2-radius-radius-full);
  height: 40px;
  position: relative;
  width: 40px;
}

.date-picker-dropdown .calendar-cell-79 {
  border-radius: var(--2-radius-radius-full);
  height: 40px;
  position: relative;
  width: 40px;
}

.date-picker-dropdown .calendar-cell-80 {
  border-radius: var(--2-radius-radius-full);
  height: 40px;
  position: relative;
  width: 40px;
}

.date-picker-dropdown .calendar-cell-81 {
  border-radius: var(--2-radius-radius-full);
  height: 40px;
  position: relative;
  width: 40px;
}

.date-picker-dropdown .calendar-cell-82 {
  border-radius: var(--2-radius-radius-full);
  height: 40px;
  position: relative;
  width: 40px;
}

.date-picker-dropdown .calendar-cell-83 {
  border-radius: var(--2-radius-radius-full);
  height: 40px;
  position: relative;
  width: 40px;
}

.date-picker-dropdown .calendar-cell-84 {
  border-radius: var(--2-radius-radius-full);
  height: 40px;
  position: relative;
  width: 40px;
}

.date-picker-dropdown .calendar-cell-85 {
  border-radius: var(--2-radius-radius-full);
  height: 40px;
  position: relative;
  width: 40px;
}

.date-picker-dropdown .calendar-cell-86 {
  border-radius: var(--2-radius-radius-full);
  height: 40px;
  position: relative;
  width: 40px;
}

.date-picker-dropdown .calendar-cell-87 {
  border-radius: var(--2-radius-radius-full);
  height: 40px;
  position: relative;
  width: 40px;
}

.date-picker-dropdown .calendar-cell-88 {
  border-radius: var(--2-radius-radius-full);
  height: 40px;
  position: relative;
  width: 40px;
}

.date-picker-dropdown .calendar-cell-89 {
  border-radius: var(--2-radius-radius-full);
  height: 40px;
  position: relative;
  width: 40px;
}

.date-picker-dropdown .calendar-cell-90 {
  border-radius: var(--2-radius-radius-full);
  height: 40px;
  position: relative;
  width: 40px;
}

.date-picker-dropdown .calendar-cell-91 {
  border-radius: var(--2-radius-radius-full);
  height: 40px;
  position: relative;
  width: 40px;
}

.date-picker-dropdown .calendar-cell-92 {
  border-radius: var(--2-radius-radius-full);
  height: 40px;
  position: relative;
  width: 40px;
}

.date-picker-dropdown .calendar-cell-93 {
  border-radius: var(--2-radius-radius-full);
  height: 40px;
  position: relative;
  width: 40px;
}

.date-picker-dropdown .calendar-cell-94 {
  border-radius: var(--2-radius-radius-full);
  height: 40px;
  position: relative;
  width: 40px;
}

.date-picker-dropdown .calendar-cell-95 {
  border-radius: var(--2-radius-radius-full);
  height: 40px;
  position: relative;
  width: 40px;
}

.date-picker-dropdown .calendar-cell-96 {
  border-radius: var(--2-radius-radius-full);
  height: 40px;
  position: relative;
  width: 40px;
}

.date-picker-dropdown .bottom-panel {
  align-items: flex-start;
  align-self: stretch;
  border-color: var(--1-color-modes-colors-border-border-secondary);
  border-top-style: solid;
  border-top-width: 1px;
  display: flex;
  flex: 0 0 auto;
  gap: 12px;
  padding: var(--3-spacing-spacing-xl);
  position: relative;
  width: 100%;
}

.date-picker-dropdown .input-fields {
  align-items: center;
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: var(--3-spacing-spacing-lg);
  position: relative;
}

.date-picker-dropdown .input-field-instance {
  width: 136px !important;
}

.date-picker-dropdown .text-12 {
  color: var(--1-color-modes-colors-foreground-fg-quaternary-500);
  font-family: var(--text-md-regular-font-family);
  font-size: var(--text-md-regular-font-size);
  font-style: var(--text-md-regular-font-style);
  font-weight: var(--text-md-regular-font-weight);
  letter-spacing: var(--text-md-regular-letter-spacing);
  line-height: var(--text-md-regular-line-height);
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.date-picker-dropdown .actions-2 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: var(--3-spacing-spacing-lg);
  position: relative;
}

.date-picker-dropdown .buttons-button-2 {
  flex: 0 0 auto;
  margin-bottom: -3.00px;
  margin-right: -2.00px;
  margin-top: -1.00px;
  position: relative;
}

.date-picker-dropdown .date-picker {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
}

.date-picker-dropdown .input-fields-2 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: var(--3-spacing-spacing-md);
  justify-content: center;
  position: relative;
  width: 100%;
}

.date-picker-dropdown .input-field-2 {
  flex: 1 !important;
  flex-grow: 1 !important;
  width: unset !important;
}

.date-picker-dropdown .actions-3 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: var(--3-spacing-spacing-lg);
  justify-content: space-between;
  padding: var(--3-spacing-spacing-xs) var(--3-spacing-spacing-md) 0px
    var(--3-spacing-spacing-md);
  position: relative;
  width: 100%;
}

.date-picker-dropdown .actions-4 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: var(--3-spacing-spacing-lg);
  position: relative;
  width: 100%;
}

.date-picker-dropdown .calendar-cell-97 {
  border-radius: var(--2-radius-radius-full);
  height: 40px;
  position: relative;
  width: 40px;
}

.date-picker-dropdown .calendar-cell-98 {
  border-radius: var(--2-radius-radius-full);
  height: 40px;
  position: relative;
  width: 40px;
}

.date-picker-dropdown .calendar-cell-99 {
  border-radius: var(--2-radius-radius-full);
  height: 40px;
  position: relative;
  width: 40px;
}

.date-picker-dropdown .calendar-cell-100 {
  border-radius: var(--2-radius-radius-full);
  height: 40px;
  position: relative;
  width: 40px;
}

.date-picker-dropdown .calendar-cell-101 {
  border-radius: var(--2-radius-radius-full);
  height: 40px;
  position: relative;
  width: 40px;
}

.date-picker-dropdown .calendar-cell-102 {
  border-radius: var(--2-radius-radius-full);
  height: 40px;
  position: relative;
  width: 40px;
}

.date-picker-dropdown .calendar-cell-103 {
  border-radius: var(--2-radius-radius-full);
  height: 40px;
  position: relative;
  width: 40px;
}

.date-picker-dropdown .calendar-cell-104 {
  border-radius: var(--2-radius-radius-full);
  height: 40px;
  position: relative;
  width: 40px;
}

.date-picker-dropdown .calendar-cell-105 {
  border-radius: var(--2-radius-radius-full);
  height: 40px;
  position: relative;
  width: 40px;
}

.date-picker-dropdown .calendar-cell-106 {
  border-radius: var(--2-radius-radius-full);
  height: 40px;
  position: relative;
  width: 40px;
}

.date-picker-dropdown .calendar-cell-107 {
  border-radius: var(--2-radius-radius-full);
  height: 40px;
  position: relative;
  width: 40px;
}

.date-picker-dropdown .calendar-cell-108 {
  border-radius: var(--2-radius-radius-full);
  height: 40px;
  position: relative;
  width: 40px;
}

.date-picker-dropdown .calendar-cell-109 {
  border-radius: var(--2-radius-radius-full);
  height: 40px;
  position: relative;
  width: 40px;
}

.date-picker-dropdown .calendar-cell-110 {
  border-radius: var(--2-radius-radius-full);
  height: 40px;
  position: relative;
  width: 40px;
}

.date-picker-dropdown .calendar-cell-111 {
  border-radius: var(--2-radius-radius-full);
  height: 40px;
  position: relative;
  width: 40px;
}

.date-picker-dropdown .calendar-cell-112 {
  border-radius: var(--2-radius-radius-full);
  height: 40px;
  position: relative;
  width: 40px;
}

.date-picker-dropdown .calendar-cell-113 {
  border-radius: var(--2-radius-radius-full);
  height: 40px;
  position: relative;
  width: 40px;
}

.date-picker-dropdown .calendar-cell-114 {
  border-radius: var(--2-radius-radius-full);
  height: 40px;
  position: relative;
  width: 40px;
}

.date-picker-dropdown .calendar-cell-115 {
  border-radius: var(--2-radius-radius-full);
  height: 40px;
  position: relative;
  width: 40px;
}

.date-picker-dropdown .number-11 {
  left: 8px;
}

.date-picker-dropdown .connector-right-4 {
  height: 40px;
  left: 12px;
  position: absolute;
  top: 0;
  width: 40px;
}

.date-picker-dropdown .number-12 {
  color: var(--1-color-modes-colors-text-text-white);
  font-family: var(--text-sm-medium-font-family);
  font-size: var(--text-sm-medium-font-size);
  font-style: var(--text-sm-medium-font-style);
  font-weight: var(--text-sm-medium-font-weight);
  left: 0;
  letter-spacing: var(--text-sm-medium-letter-spacing);
  line-height: var(--text-sm-medium-line-height);
  position: absolute;
  text-align: center;
  top: 9px;
  width: 24px;
}

.date-picker-dropdown .calendar-cell-116 {
  border-radius: var(--2-radius-radius-full);
  height: 40px;
  position: relative;
  width: 40px;
}

.date-picker-dropdown .connector-right-5 {
  height: 40px;
  left: 40px;
  position: absolute;
  top: 0;
  width: 40px;
}

.date-picker-dropdown .connector-left-5 {
  height: 40px;
  left: 0;
  position: absolute;
  top: 0;
  width: 40px;
}

.date-picker-dropdown .number-13 {
  color: var(--1-color-modes-colors-text-text-secondary-700);
  font-family: var(--text-sm-medium-font-family);
  font-size: var(--text-sm-medium-font-size);
  font-style: var(--text-sm-medium-font-style);
  font-weight: var(--text-sm-medium-font-weight);
  left: 28px;
  letter-spacing: var(--text-sm-medium-letter-spacing);
  line-height: var(--text-sm-medium-line-height);
  position: absolute;
  text-align: center;
  top: 10px;
  width: 24px;
}

.date-picker-dropdown .calendar-cell-117 {
  border-radius: var(--2-radius-radius-full);
  height: 40px;
  position: relative;
  width: 40px;
}

.date-picker-dropdown .calendar-cell-118 {
  border-radius: var(--2-radius-radius-full);
  height: 40px;
  position: relative;
  width: 40px;
}

.date-picker-dropdown .connector-right-6 {
  height: 40px;
  left: -2799px;
  position: absolute;
  top: -956px;
  width: 40px;
}

.date-picker-dropdown .number-14 {
  color: var(--1-color-modes-colors-text-text-secondary-700);
  left: 8px;
  position: absolute;
  text-align: center;
  width: 24px;
}

.date-picker-dropdown .calendar-cell-119 {
  border-radius: var(--2-radius-radius-full);
  height: 40px;
  position: relative;
  width: 40px;
}

.date-picker-dropdown .overlap-2 {
  height: 40px;
  left: 8px;
  position: absolute;
  top: 0;
  width: 52px;
}

.date-picker-dropdown .connector-right-7 {
  height: 40px;
  left: 13px;
  position: absolute;
  top: 0;
  width: 39px;
}

.date-picker-dropdown .number-15 {
  color: var(--1-color-modes-colors-text-text-secondary-700);
  font-family: var(--text-sm-medium-font-family);
  font-size: var(--text-sm-medium-font-size);
  font-style: var(--text-sm-medium-font-style);
  font-weight: var(--text-sm-medium-font-weight);
  left: 0;
  letter-spacing: var(--text-sm-medium-letter-spacing);
  line-height: var(--text-sm-medium-line-height);
  position: absolute;
  text-align: center;
  top: 10px;
  width: 24px;
}

.date-picker-dropdown .connector-left-6 {
  height: 40px;
  left: -2879px;
  position: absolute;
  top: -956px;
  width: 40px;
}

.date-picker-dropdown .calendar-cell-120 {
  border-radius: var(--2-radius-radius-full);
  height: 40px;
  position: relative;
  width: 40px;
}

.date-picker-dropdown .connector-right-8 {
  height: 40px;
  left: 39px;
  position: absolute;
  top: 0;
  width: 40px;
}

.date-picker-dropdown .connector-left-7 {
  height: 40px;
  left: 0;
  position: absolute;
  top: 0;
  width: 39px;
}

.date-picker-dropdown .number-16 {
  color: var(--1-color-modes-colors-text-text-secondary-700);
  font-family: var(--text-sm-medium-font-family);
  font-size: var(--text-sm-medium-font-size);
  font-style: var(--text-sm-medium-font-style);
  font-weight: var(--text-sm-medium-font-weight);
  left: 27px;
  letter-spacing: var(--text-sm-medium-letter-spacing);
  line-height: var(--text-sm-medium-line-height);
  position: absolute;
  text-align: center;
  top: 10px;
  width: 24px;
}

.date-picker-dropdown .calendar-cell-121 {
  border-radius: var(--2-radius-radius-full);
  height: 40px;
  position: relative;
  width: 40px;
}

.date-picker-dropdown .number-17 {
  color: var(--1-color-modes-colors-text-text-white);
  font-family: var(--text-sm-medium-font-family);
  font-size: var(--text-sm-medium-font-size);
  font-style: var(--text-sm-medium-font-style);
  font-weight: var(--text-sm-medium-font-weight);
  left: 28px;
  letter-spacing: var(--text-sm-medium-letter-spacing);
  line-height: var(--text-sm-medium-line-height);
  position: absolute;
  text-align: center;
  top: 9px;
  width: 24px;
}

.date-picker-dropdown .calendar-cell-122 {
  border-radius: var(--2-radius-radius-full);
  height: 40px;
  position: relative;
  width: 40px;
}

.date-picker-dropdown .calendar-cell-123 {
  border-radius: var(--2-radius-radius-full);
  height: 40px;
  position: relative;
  width: 40px;
}

.date-picker-dropdown .calendar-cell-124 {
  border-radius: var(--2-radius-radius-full);
  height: 40px;
  position: relative;
  width: 40px;
}

.date-picker-dropdown .calendar-cell-125 {
  border-radius: var(--2-radius-radius-full);
  height: 40px;
  position: relative;
  width: 40px;
}

.date-picker-dropdown .calendar-cell-126 {
  border-radius: var(--2-radius-radius-full);
  height: 40px;
  position: relative;
  width: 40px;
}

.date-picker-dropdown .calendar-cell-127 {
  border-radius: var(--2-radius-radius-full);
  height: 40px;
  position: relative;
  width: 40px;
}

.date-picker-dropdown .calendar-cell-128 {
  border-radius: var(--2-radius-radius-full);
  height: 40px;
  position: relative;
  width: 40px;
}

.date-picker-dropdown .calendar-cell-129 {
  border-radius: var(--2-radius-radius-full);
  height: 40px;
  position: relative;
  width: 40px;
}

.date-picker-dropdown .calendar-cell-130 {
  border-radius: var(--2-radius-radius-full);
  height: 40px;
  position: relative;
  width: 40px;
}

.date-picker-dropdown .overlap-group-wrapper {
  border-radius: var(--2-radius-radius-full);
  height: 40px;
  position: relative;
  width: 40px;
}

.date-picker-dropdown .overlap-3 {
  left: 8px;
  top: 9px;
}

.date-picker-dropdown .lines-wrapper {
  background-size: 100% 100%;
  height: 21px;
  position: relative;
  top: 1px;
  width: 19px;
}

.date-picker-dropdown .lines-2 {
  height: 4px;
  left: 8px;
  position: absolute;
  top: 10px;
  width: 5px;
}

.date-picker-dropdown .calendar-cell-131 {
  border-radius: var(--2-radius-radius-full);
  height: 40px;
  position: relative;
  width: 40px;
}

.date-picker-dropdown .calendar-cell-132 {
  border-radius: var(--2-radius-radius-full);
  height: 40px;
  position: relative;
  width: 40px;
}

.date-picker-dropdown .calendar-cell-133 {
  border-radius: var(--2-radius-radius-full);
  height: 40px;
  position: relative;
  width: 40px;
}

.date-picker-dropdown .calendar-cell-134 {
  border-radius: var(--2-radius-radius-full);
  height: 40px;
  position: relative;
  width: 40px;
}

.date-picker-dropdown .calendar-cell-135 {
  border-radius: var(--2-radius-radius-full);
  height: 40px;
  position: relative;
  width: 40px;
}

.date-picker-dropdown .calendar-cell-136 {
  border-radius: var(--2-radius-radius-full);
  height: 40px;
  position: relative;
  width: 40px;
}

.date-picker-dropdown .calendar-cell-137 {
  border-radius: var(--2-radius-radius-full);
  height: 40px;
  position: relative;
  width: 40px;
}

.date-picker-dropdown .calendar-cell-138 {
  border-radius: var(--2-radius-radius-full);
  height: 40px;
  position: relative;
  width: 40px;
}

.date-picker-dropdown .calendar-cell-139 {
  border-radius: var(--2-radius-radius-full);
  height: 40px;
  position: relative;
  width: 40px;
}

.date-picker-dropdown .calendar-cell-140 {
  border-radius: var(--2-radius-radius-full);
  height: 40px;
  position: relative;
  width: 40px;
}

.date-picker-dropdown .calendar-cell-141 {
  border-radius: var(--2-radius-radius-full);
  height: 40px;
  position: relative;
  width: 40px;
}

.date-picker-dropdown .calendar-cell-142 {
  border-radius: var(--2-radius-radius-full);
  height: 40px;
  position: relative;
  width: 40px;
}

.date-picker-dropdown .calendar-cell-143 {
  border-radius: var(--2-radius-radius-full);
  height: 40px;
  position: relative;
  width: 40px;
}

.date-picker-dropdown .actions-wrapper {
  align-items: flex-start;
  align-self: stretch;
  border-color: var(--1-color-modes-colors-border-border-secondary);
  border-top-style: solid;
  border-top-width: 1px;
  display: flex;
  flex: 0 0 auto;
  gap: var(--3-spacing-spacing-lg);
  justify-content: flex-end;
  padding: var(--3-spacing-spacing-xl);
  position: relative;
  width: 100%;
}

.date-picker-dropdown .actions-5 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: var(--3-spacing-spacing-lg);
  position: relative;
}

.date-picker-dropdown .buttons-button-3 {
  display: flex !important;
  flex: 1 !important;
  flex-grow: 1 !important;
}

.date-picker-dropdown .buttons-button-4 {
  flex: 1;
  flex-grow: 1;
  margin-bottom: -3.00px;
  margin-right: -2.00px;
  margin-top: -1.00px;
  position: relative;
}

.date-picker-dropdown.opened-true {
  align-items: flex-end;
}

.date-picker-dropdown.opened-false {
  align-items: flex-start;
}

.date-picker-dropdown .desktop {
  display: inline-flex;
}

.date-picker-dropdown .single-date {
  display: inline-flex;
}

.date-picker-dropdown .single-date.placeholder {
  left: -195px;
}

.date-picker-dropdown .single-date.active {
  left: -185px;
}

.date-picker-dropdown .mobile.dual-dates {
  display: flex;
  width: 328px;
}

.date-picker-dropdown .desktop.active.dual-dates {
  left: -605px;
}

.date-picker-dropdown .mobile.placeholder.dual-dates {
  left: -187px;
}

.date-picker-dropdown .placeholder.desktop.dual-dates {
  left: -707px;
}

.date-picker-dropdown .mobile.active.dual-dates {
  left: -85px;
}

.date-picker-dropdown .date-picker-menu.active .date-picker-list-3 {
  background-color: var(--1-color-modes-colors-background-bg-active);
}

.date-picker-dropdown .date-picker-menu.active .text-10 {
  color: var(--1-color-modes-colors-text-text-secondary-hover);
}

.date-picker-dropdown .date-picker-menu.placeholder .text-10 {
  color: var(--1-color-modes-colors-text-text-secondary-700);
}

.date-picker-dropdown .date-picker-menu.active .calendar-cell-18 {
  background-color: var(--1-color-modes-colors-background-bg-brand-solid);
}

.date-picker-dropdown .date-picker-menu.active .number-3 {
  color: var(--1-color-modes-colors-text-text-white);
  font-family: var(--text-sm-medium-font-family);
  font-size: var(--text-sm-medium-font-size);
  font-style: var(--text-sm-medium-font-style);
  font-weight: var(--text-sm-medium-font-weight);
  letter-spacing: var(--text-sm-medium-letter-spacing);
  line-height: var(--text-sm-medium-line-height);
}

.date-picker-dropdown .date-picker-menu.placeholder .number-3 {
  color: var(--1-color-modes-colors-text-text-secondary-700);
  font-family: var(--text-sm-regular-font-family);
  font-size: var(--text-sm-regular-font-size);
  font-style: var(--text-sm-regular-font-style);
  font-weight: var(--text-sm-regular-font-weight);
  letter-spacing: var(--text-sm-regular-letter-spacing);
  line-height: var(--text-sm-regular-line-height);
}

.date-picker-dropdown .date-picker-menu.active .calendar-cell-19 {
  background-color: var(--1-color-modes-colors-background-bg-active);
}

.date-picker-dropdown .date-picker-menu.active .number-4 {
  font-family: var(--text-sm-medium-font-family);
  font-size: var(--text-sm-medium-font-size);
  font-style: var(--text-sm-medium-font-style);
  font-weight: var(--text-sm-medium-font-weight);
  letter-spacing: var(--text-sm-medium-letter-spacing);
  line-height: var(--text-sm-medium-line-height);
  top: 10px;
}

.date-picker-dropdown .date-picker-menu.placeholder .number-4 {
  font-family: var(--text-sm-regular-font-family);
  font-size: var(--text-sm-regular-font-size);
  font-style: var(--text-sm-regular-font-style);
  font-weight: var(--text-sm-regular-font-weight);
  letter-spacing: var(--text-sm-regular-letter-spacing);
  line-height: var(--text-sm-regular-line-height);
  top: 9px;
}

.date-picker-dropdown .date-picker-menu.active .calendar-cell-20 {
  background-color: var(--1-color-modes-colors-background-bg-active);
}

.date-picker-dropdown .date-picker-menu.active .number-5 {
  font-family: var(--text-sm-medium-font-family);
  font-size: var(--text-sm-medium-font-size);
  font-style: var(--text-sm-medium-font-style);
  font-weight: var(--text-sm-medium-font-weight);
  letter-spacing: var(--text-sm-medium-letter-spacing);
  line-height: var(--text-sm-medium-line-height);
  top: 10px;
}

.date-picker-dropdown .date-picker-menu.placeholder .number-5 {
  font-family: var(--text-sm-regular-font-family);
  font-size: var(--text-sm-regular-font-size);
  font-style: var(--text-sm-regular-font-style);
  font-weight: var(--text-sm-regular-font-weight);
  letter-spacing: var(--text-sm-regular-letter-spacing);
  line-height: var(--text-sm-regular-line-height);
  top: 9px;
}

.date-picker-dropdown .date-picker-menu.active .calendar-cell-21 {
  background-color: var(--1-color-modes-colors-background-bg-active);
}

.date-picker-dropdown .date-picker-menu.active .number-6 {
  font-family: var(--text-sm-medium-font-family);
  font-size: var(--text-sm-medium-font-size);
  font-style: var(--text-sm-medium-font-style);
  font-weight: var(--text-sm-medium-font-weight);
  letter-spacing: var(--text-sm-medium-letter-spacing);
  line-height: var(--text-sm-medium-line-height);
  top: 10px;
}

.date-picker-dropdown .date-picker-menu.placeholder .number-6 {
  font-family: var(--text-sm-regular-font-family);
  font-size: var(--text-sm-regular-font-size);
  font-style: var(--text-sm-regular-font-style);
  font-weight: var(--text-sm-regular-font-weight);
  letter-spacing: var(--text-sm-regular-letter-spacing);
  line-height: var(--text-sm-regular-line-height);
  top: 9px;
}

.date-picker-dropdown .date-picker-menu.active .calendar-cell-22 {
  background-color: var(--1-color-modes-colors-background-bg-active);
}

.date-picker-dropdown .date-picker-menu.active .number-7 {
  font-family: var(--text-sm-medium-font-family);
  font-size: var(--text-sm-medium-font-size);
  font-style: var(--text-sm-medium-font-style);
  font-weight: var(--text-sm-medium-font-weight);
  letter-spacing: var(--text-sm-medium-letter-spacing);
  line-height: var(--text-sm-medium-line-height);
  top: 10px;
}

.date-picker-dropdown .date-picker-menu.placeholder .number-7 {
  font-family: var(--text-sm-regular-font-family);
  font-size: var(--text-sm-regular-font-size);
  font-style: var(--text-sm-regular-font-style);
  font-weight: var(--text-sm-regular-font-weight);
  letter-spacing: var(--text-sm-regular-letter-spacing);
  line-height: var(--text-sm-regular-line-height);
  top: 9px;
}

.date-picker-dropdown .date-picker-menu.active .calendar-cell-23 {
  background-color: var(--1-color-modes-colors-background-bg-active);
}

.date-picker-dropdown .date-picker-menu.active .number-8 {
  font-family: var(--text-sm-medium-font-family);
  font-size: var(--text-sm-medium-font-size);
  font-style: var(--text-sm-medium-font-style);
  font-weight: var(--text-sm-medium-font-weight);
  letter-spacing: var(--text-sm-medium-letter-spacing);
  line-height: var(--text-sm-medium-line-height);
  top: 10px;
}

.date-picker-dropdown .date-picker-menu.placeholder .number-8 {
  font-family: var(--text-sm-regular-font-family);
  font-size: var(--text-sm-regular-font-size);
  font-style: var(--text-sm-regular-font-style);
  font-weight: var(--text-sm-regular-font-weight);
  letter-spacing: var(--text-sm-regular-letter-spacing);
  line-height: var(--text-sm-regular-line-height);
  top: 9px;
}

.date-picker-dropdown .date-picker-menu.active .calendar-cell-24 {
  background-color: var(--1-color-modes-colors-background-bg-brand-solid);
}

.date-picker-dropdown .date-picker-menu.active .number-9 {
  color: var(--1-color-modes-colors-text-text-white);
  font-family: var(--text-sm-medium-font-family);
  font-size: var(--text-sm-medium-font-size);
  font-style: var(--text-sm-medium-font-style);
  font-weight: var(--text-sm-medium-font-weight);
  letter-spacing: var(--text-sm-medium-letter-spacing);
  line-height: var(--text-sm-medium-line-height);
}

.date-picker-dropdown .date-picker-menu.placeholder .number-9 {
  color: var(--1-color-modes-colors-text-text-secondary-700);
  font-family: var(--text-sm-regular-font-family);
  font-size: var(--text-sm-regular-font-size);
  font-style: var(--text-sm-regular-font-style);
  font-weight: var(--text-sm-regular-font-weight);
  letter-spacing: var(--text-sm-regular-letter-spacing);
  line-height: var(--text-sm-regular-line-height);
}

.date-picker-dropdown .date-picker-menu.active .overlap-group {
  background-image: url(../../../static/img/shape-16.svg);
  left: -2753px;
}

.date-picker-dropdown .date-picker-menu.placeholder .overlap-group {
  background-image: url(../../../static/img/shape-14.svg);
  left: -2651px;
}

.date-picker-dropdown .date-picker-menu.single-date .date-picker {
  width: 328px;
}

.date-picker-dropdown .date-picker-menu.dual-dates .date-picker {
  flex: 1;
  flex-grow: 1;
}

.date-picker-dropdown .date-picker-menu.active .calendar-cell-115 {
  background-color: var(--1-color-modes-colors-background-bg-brand-solid);
}

.date-picker-dropdown .date-picker-menu.single-date .number-11 {
  position: absolute;
  text-align: center;
  top: 9px;
  width: 24px;
}

.date-picker-dropdown .date-picker-menu.placeholder .number-11 {
  color: var(--1-color-modes-colors-text-text-secondary-700);
  font-family: var(--text-sm-regular-font-family);
  font-size: var(--text-sm-regular-font-size);
  font-style: var(--text-sm-regular-font-style);
  font-weight: var(--text-sm-regular-font-weight);
  letter-spacing: var(--text-sm-regular-letter-spacing);
  line-height: var(--text-sm-regular-line-height);
  position: absolute;
  text-align: center;
  top: 9px;
  width: 24px;
}

.date-picker-dropdown .date-picker-menu.single-date.active .number-11 {
  color: var(--1-color-modes-colors-text-text-white);
  font-family: var(--text-sm-medium-font-family);
  font-size: var(--text-sm-medium-font-size);
  font-style: var(--text-sm-medium-font-style);
  font-weight: var(--text-sm-medium-font-weight);
  letter-spacing: var(--text-sm-medium-letter-spacing);
  line-height: var(--text-sm-medium-line-height);
}

.date-picker-dropdown .date-picker-menu.active.dual-dates .number-11 {
  height: 40px;
  position: relative;
  width: 52px;
}

.date-picker-dropdown .date-picker-menu.active.dual-dates .calendar-cell-116 {
  background-color: var(--1-color-modes-colors-background-bg-active);
}

.date-picker-dropdown .date-picker-menu.single-date .number-30 {
  color: var(--1-color-modes-colors-text-text-secondary-700);
  font-family: var(--text-sm-regular-font-family);
  font-size: var(--text-sm-regular-font-size);
  font-style: var(--text-sm-regular-font-style);
  font-weight: var(--text-sm-regular-font-weight);
  left: 8px;
  letter-spacing: var(--text-sm-regular-letter-spacing);
  line-height: var(--text-sm-regular-line-height);
  position: absolute;
  text-align: center;
  top: 9px;
  width: 24px;
}

.date-picker-dropdown .date-picker-menu.placeholder .number-30 {
  color: var(--1-color-modes-colors-text-text-secondary-700);
  font-family: var(--text-sm-regular-font-family);
  font-size: var(--text-sm-regular-font-size);
  font-style: var(--text-sm-regular-font-style);
  font-weight: var(--text-sm-regular-font-weight);
  left: 8px;
  letter-spacing: var(--text-sm-regular-letter-spacing);
  line-height: var(--text-sm-regular-line-height);
  position: absolute;
  text-align: center;
  top: 9px;
  width: 24px;
}

.date-picker-dropdown .date-picker-menu.active.dual-dates .number-30 {
  height: 40px;
  left: -20px;
  position: relative;
  width: 80px;
}

.date-picker-dropdown .date-picker-menu.active.dual-dates .calendar-cell-117 {
  background-color: var(--1-color-modes-colors-background-bg-active);
}

.date-picker-dropdown .date-picker-menu.single-date .number-30 {
  color: var(--1-color-modes-colors-text-text-secondary-700);
  font-family: var(--text-sm-regular-font-family);
  font-size: var(--text-sm-regular-font-size);
  font-style: var(--text-sm-regular-font-style);
  font-weight: var(--text-sm-regular-font-weight);
  left: 8px;
  letter-spacing: var(--text-sm-regular-letter-spacing);
  line-height: var(--text-sm-regular-line-height);
  position: absolute;
  text-align: center;
  top: 9px;
  width: 24px;
}

.date-picker-dropdown .date-picker-menu.placeholder .number-30 {
  color: var(--1-color-modes-colors-text-text-secondary-700);
  font-family: var(--text-sm-regular-font-family);
  font-size: var(--text-sm-regular-font-size);
  font-style: var(--text-sm-regular-font-style);
  font-weight: var(--text-sm-regular-font-weight);
  left: 8px;
  letter-spacing: var(--text-sm-regular-letter-spacing);
  line-height: var(--text-sm-regular-line-height);
  position: absolute;
  text-align: center;
  top: 9px;
  width: 24px;
}

.date-picker-dropdown .date-picker-menu.active.dual-dates .number-30 {
  height: 40px;
  left: -20px;
  position: relative;
  width: 52px;
}

.date-picker-dropdown .date-picker-menu.active.dual-dates .calendar-cell-118 {
  background-color: var(--1-color-modes-colors-background-bg-active);
}

.date-picker-dropdown .date-picker-menu.single-date .number-14 {
  font-family: var(--text-sm-regular-font-family);
  font-size: var(--text-sm-regular-font-size);
  font-style: var(--text-sm-regular-font-style);
  font-weight: var(--text-sm-regular-font-weight);
  letter-spacing: var(--text-sm-regular-letter-spacing);
  line-height: var(--text-sm-regular-line-height);
  top: 9px;
}

.date-picker-dropdown .date-picker-menu.placeholder .number-14 {
  font-family: var(--text-sm-regular-font-family);
  font-size: var(--text-sm-regular-font-size);
  font-style: var(--text-sm-regular-font-style);
  font-weight: var(--text-sm-regular-font-weight);
  letter-spacing: var(--text-sm-regular-letter-spacing);
  line-height: var(--text-sm-regular-line-height);
  top: 9px;
}

.date-picker-dropdown .date-picker-menu.active.dual-dates .number-14 {
  font-family: var(--text-sm-medium-font-family);
  font-size: var(--text-sm-medium-font-size);
  font-style: var(--text-sm-medium-font-style);
  font-weight: var(--text-sm-medium-font-weight);
  letter-spacing: var(--text-sm-medium-letter-spacing);
  line-height: var(--text-sm-medium-line-height);
  top: 10px;
}

.date-picker-dropdown .date-picker-menu.active.dual-dates .calendar-cell-119 {
  background-color: var(--1-color-modes-colors-background-bg-active);
}

.date-picker-dropdown .date-picker-menu.active.dual-dates .calendar-cell-120 {
  background-color: var(--1-color-modes-colors-background-bg-active);
}

.date-picker-dropdown .date-picker-menu.single-date .number-30 {
  color: var(--1-color-modes-colors-text-text-secondary-700);
  font-family: var(--text-sm-regular-font-family);
  font-size: var(--text-sm-regular-font-size);
  font-style: var(--text-sm-regular-font-style);
  font-weight: var(--text-sm-regular-font-weight);
  left: 8px;
  letter-spacing: var(--text-sm-regular-letter-spacing);
  line-height: var(--text-sm-regular-line-height);
  position: absolute;
  text-align: center;
  top: 9px;
  width: 24px;
}

.date-picker-dropdown .date-picker-menu.placeholder .number-30 {
  color: var(--1-color-modes-colors-text-text-secondary-700);
  font-family: var(--text-sm-regular-font-family);
  font-size: var(--text-sm-regular-font-size);
  font-style: var(--text-sm-regular-font-style);
  font-weight: var(--text-sm-regular-font-weight);
  left: 8px;
  letter-spacing: var(--text-sm-regular-letter-spacing);
  line-height: var(--text-sm-regular-line-height);
  position: absolute;
  text-align: center;
  top: 9px;
  width: 24px;
}

.date-picker-dropdown .date-picker-menu.active.dual-dates .number-30 {
  height: 40px;
  left: -19px;
  position: relative;
  width: 79px;
}

.date-picker-dropdown .date-picker-menu.active.dual-dates .calendar-cell-121 {
  background-color: var(--1-color-modes-colors-background-bg-brand-solid);
}

.date-picker-dropdown .date-picker-menu.single-date .number-30 {
  color: var(--1-color-modes-colors-text-text-secondary-700);
  font-family: var(--text-sm-regular-font-family);
  font-size: var(--text-sm-regular-font-size);
  font-style: var(--text-sm-regular-font-style);
  font-weight: var(--text-sm-regular-font-weight);
  left: 8px;
  letter-spacing: var(--text-sm-regular-letter-spacing);
  line-height: var(--text-sm-regular-line-height);
  position: absolute;
  text-align: center;
  top: 9px;
  width: 24px;
}

.date-picker-dropdown .date-picker-menu.placeholder .number-30 {
  color: var(--1-color-modes-colors-text-text-secondary-700);
  font-family: var(--text-sm-regular-font-family);
  font-size: var(--text-sm-regular-font-size);
  font-style: var(--text-sm-regular-font-style);
  font-weight: var(--text-sm-regular-font-weight);
  left: 8px;
  letter-spacing: var(--text-sm-regular-letter-spacing);
  line-height: var(--text-sm-regular-line-height);
  position: absolute;
  text-align: center;
  top: 9px;
  width: 24px;
}

.date-picker-dropdown .date-picker-menu.active.dual-dates .number-30 {
  height: 40px;
  left: -20px;
  position: relative;
  width: 52px;
}

.date-picker-dropdown .date-picker-menu.desktop .overlap-group-wrapper {
  background-color: var(--1-color-modes-colors-background-bg-primary-hover);
}

.date-picker-dropdown .date-picker-menu.mobile .overlap-3 {
  color: var(--1-color-modes-colors-text-text-secondary-700);
  font-family: var(--text-sm-regular-font-family);
  font-size: var(--text-sm-regular-font-size);
  font-style: var(--text-sm-regular-font-style);
  font-weight: var(--text-sm-regular-font-weight);
  letter-spacing: var(--text-sm-regular-letter-spacing);
  line-height: var(--text-sm-regular-line-height);
  position: absolute;
  text-align: center;
  width: 24px;
}

.date-picker-dropdown .date-picker-menu.desktop .overlap-3 {
  height: 31px;
  position: relative;
  width: 36px;
}

.date-picker-dropdown .date-picker-menu.active .lines-wrapper {
  background-image: url(../../../static/img/shape-17.svg);
}

.date-picker-dropdown .date-picker-menu.placeholder .lines-wrapper {
  background-image: url(../../../static/img/shape-15.svg);
}
