.avatar-add-button {
  border: 1px dashed;
  border-radius: var(--2-radius-radius-full);
}

.avatar-add-button .plus-wrapper {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  padding: var(--3-spacing-spacing-xs);
  position: relative;
}

.avatar-add-button .plus {
  height: 16px !important;
  position: relative !important;
  width: 16px !important;
}

.avatar-add-button .plus-130 {
  height: 20px !important;
  position: relative !important;
  width: 20px !important;
}

.avatar-add-button .overlap-5 {
  position: absolute;
}

.avatar-add-button .content-24 {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  left: 0;
  padding: var(--3-spacing-spacing-xs);
  position: absolute;
  top: 0;
}

.avatar-add-button .cursor-4 {
  height: 20px;
  position: absolute;
  width: 20px;
}

.avatar-add-button .overlap-group-9 {
  background-size: 100% 100%;
  height: 21px;
  position: relative;
  top: 1px;
  width: 19px;
}

.avatar-add-button .lines-4 {
  height: 4px;
  left: 8px;
  position: absolute;
  top: 10px;
  width: 5px;
}

.avatar-add-button .tooltip-7 {
  align-items: center;
  box-shadow: var(--shadows-shadow-lg);
  display: inline-flex;
  flex-direction: column;
  position: absolute;
  top: -43px;
}

.avatar-add-button .content-25 {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--1-color-modes-colors-background-bg-primary-solid);
  border-radius: var(--3-spacing-spacing-md);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: var(--3-spacing-spacing-md) var(--3-spacing-spacing-lg)
    var(--3-spacing-spacing-md) var(--3-spacing-spacing-lg);
  position: relative;
  width: 100%;
}

.avatar-add-button .FIND-ME-3 {
  color: var(--1-color-modes-colors-text-text-white);
  font-family: var(--text-xs-semibold-font-family);
  font-size: var(--text-xs-semibold-font-size);
  font-style: var(--text-xs-semibold-font-style);
  font-weight: var(--text-xs-semibold-font-weight);
  letter-spacing: var(--text-xs-semibold-letter-spacing);
  line-height: var(--text-xs-semibold-line-height);
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.avatar-add-button .tooltip-8 {
  height: 6px;
  margin-top: -543.00px;
  position: relative;
  width: 16px;
}

.avatar-add-button.size-35-md {
  height: 42px;
  width: 42px;
}

.avatar-add-button.size-35-sm {
  height: 34px;
  width: 34px;
}

.avatar-add-button.state-12-disabled {
  background-color: var(--1-color-modes-colors-background-bg-disabled-subtle);
  border-color: var(--1-color-modes-colors-border-border-disabled);
}

.avatar-add-button.state-12-hover {
  background-color: var(--1-color-modes-colors-background-bg-primary-hover);
  border-color: var(--1-color-modes-colors-border-border-primary);
  position: relative;
}

.avatar-add-button.state-12-focus {
  background-color: var(--1-color-modes-colors-background-bg-primary);
  border-color: var(--1-color-modes-colors-border-border-primary);
  box-shadow: var(--focus-rings-focus-ring);
  overflow: hidden;
}

.avatar-add-button.state-12-default {
  background-color: var(--1-color-modes-colors-background-bg-primary);
  border-color: var(--1-color-modes-colors-border-border-primary);
}

.avatar-add-button.size-35-xs {
  height: 26px;
  width: 26px;
}

.avatar-add-button.size-35-md .plus-wrapper {
  left: 6px;
  top: 6px;
}

.avatar-add-button.size-35-sm .plus-wrapper {
  left: 4px;
  top: 4px;
}

.avatar-add-button.size-35-xs .overlap-5 {
  height: 32px;
  left: 0;
  top: 0;
  width: 36px;
}

.avatar-add-button.size-35-md .overlap-5 {
  height: 38px;
  left: 6px;
  top: 6px;
  width: 42px;
}

.avatar-add-button.size-35-sm .overlap-5 {
  height: 32px;
  left: 4px;
  top: 4px;
  width: 36px;
}

.avatar-add-button.size-35-xs .cursor-4 {
  left: 16px;
  top: 12px;
}

.avatar-add-button.size-35-md .cursor-4 {
  left: 22px;
  top: 18px;
}

.avatar-add-button.size-35-sm .cursor-4 {
  left: 16px;
  top: 12px;
}

.avatar-add-button.size-35-xs .overlap-group-9 {
  background-image: url(../../../static/img/shape-18.svg);
}

.avatar-add-button.size-35-md .overlap-group-9 {
  background-image: url(../../../static/img/shape-20.svg);
}

.avatar-add-button.size-35-sm .overlap-group-9 {
  background-image: url(../../../static/img/shape-19.svg);
}

.avatar-add-button.size-35-xs .tooltip-7 {
  left: -26px;
}

.avatar-add-button.size-35-md .tooltip-7 {
  left: -18px;
}

.avatar-add-button.size-35-sm .tooltip-7 {
  left: -22px;
}

.avatar-add-button.size-35-xs .tooltip-8 {
  margin-left: -1301.50px;
}

.avatar-add-button.size-35-md .tooltip-8 {
  margin-left: -1309.00px;
}

.avatar-add-button.size-35-sm .tooltip-8 {
  margin-left: -1305.00px;
}
