.nav-item-base {
  align-items: center;
  border-radius: var(--2-radius-radius-sm);
  display: flex;
  gap: var(--3-spacing-spacing-md);
  overflow: hidden;
  padding: var(--3-spacing-spacing-md) var(--3-spacing-spacing-lg)
    var(--3-spacing-spacing-md) var(--3-spacing-spacing-lg);
  position: relative;
  width: 272px;
}

.nav-item-base .content {
  align-items: center;
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: var(--3-spacing-spacing-lg);
  position: relative;
}

.nav-item-base .dot-instance {
  position: relative !important;
}

.nav-item-base .bar-chart {
  height: 24px !important;
  position: relative !important;
  width: 24px !important;
}

.nav-item-base .text-wrapper {
  font-family: var(--text-md-semibold-font-family);
  font-size: var(--text-md-semibold-font-size);
  font-style: var(--text-md-semibold-font-style);
  font-weight: var(--text-md-semibold-font-weight);
  letter-spacing: var(--text-md-semibold-letter-spacing);
  line-height: var(--text-md-semibold-line-height);
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.nav-item-base .badge-instance {
  flex: 0 0 auto !important;
}

.nav-item-base .chevron-down {
  height: 20px !important;
  position: relative !important;
  width: 20px !important;
}

.nav-item-base.focused {
  box-shadow: var(--focus-rings-focus-ring);
}

.nav-item-base.hover.current-true {
  background-color: var(--1-color-modes-colors-background-bg-secondary-hover);
}

.nav-item-base.hover.current-false {
  background-color: var(--1-color-modes-colors-background-bg-primary-hover);
}

.nav-item-base.focused.current-false {
  background-color: var(--1-color-modes-colors-background-bg-primary);
}

.nav-item-base.default.current-true {
  background-color: var(--1-color-modes-colors-background-bg-active);
}

.nav-item-base.default.current-false {
  background-color: var(--1-color-modes-colors-background-bg-primary);
}

.nav-item-base.focused.current-true {
  background-color: var(--1-color-modes-colors-background-bg-active);
}

.nav-item-base.hover .text-wrapper {
  color: var(--1-color-modes-colors-text-text-secondary-hover);
}

.nav-item-base.current-true .text-wrapper {
  color: var(--1-color-modes-colors-text-text-secondary-hover);
}

.nav-item-base.focused.current-false .text-wrapper {
  color: var(--1-color-modes-colors-text-text-secondary-700);
}

.nav-item-base.default.current-false .text-wrapper {
  color: var(--1-color-modes-colors-text-text-secondary-700);
}
