.table-cell {
  align-items: center;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: var(--1-color-modes-colors-border-border-secondary);
  height: 72px;
  position: relative;
}

.table-cell .text-and-supporting-2 {
  position: relative;
}

.table-cell .text-13 {
  color: var(--1-color-modes-colors-text-text-primary-900);
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.table-cell .supporting-text-2 {
  color: var(--1-color-modes-colors-text-text-tertiary-600);
  font-family: var(--text-sm-regular-font-family);
  font-size: var(--text-sm-regular-font-size);
  font-style: var(--text-sm-regular-font-style);
  font-weight: var(--text-sm-regular-font-weight);
  letter-spacing: var(--text-sm-regular-letter-spacing);
  line-height: var(--text-sm-regular-line-height);
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.table-cell .instance-node-5 {
  flex: 0 0 auto !important;
}

.table-cell .toggle-base {
  align-items: center;
  background-color: var(--1-color-modes-colors-background-bg-brand-solid);
  border-radius: var(--2-radius-radius-full);
  display: flex;
  height: 20px;
  justify-content: flex-end;
  overflow: hidden;
  padding: var(--3-spacing-spacing-xxs);
  position: relative;
  width: 36px;
}

.table-cell .button {
  background-color: var(--1-color-modes-colors-foreground-fg-white);
  border-radius: var(--2-radius-radius-full);
  box-shadow: var(--shadows-shadow-sm);
  height: 16px;
  position: relative;
  width: 16px;
}

.table-cell .avatar-3 {
  position: relative !important;
}

.table-cell .payment-method-icon {
  position: relative;
}

.table-cell .visa-logo {
  height: 10px;
  left: 6px;
  position: absolute;
  top: 11px;
  width: 32px;
}

.table-cell .overlap-group-2 {
  position: relative;
}

.table-cell .page {
  height: 40px;
  left: 6px;
  position: absolute;
  top: 0;
  width: 32px;
}

.table-cell .file-type-wrap {
  align-items: flex-start;
  background-color: var(--primitives-colors-error-600);
  border-radius: var(--3-spacing-spacing-xxs);
  display: inline-flex;
  gap: var(--3-spacing-spacing-md);
  left: 0;
  padding: var(--3-spacing-spacing-xxs) 3px var(--3-spacing-spacing-xxs) 3px;
  position: absolute;
  top: 18px;
}

.table-cell .file-type {
  color: var(--1-color-modes-colors-foreground-fg-white);
  font-family: "Inter", Helvetica;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.table-cell .text-and-supporting-3 {
  position: relative;
}

.table-cell .text-14 {
  color: var(--1-color-modes-colors-text-text-primary-900);
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.table-cell .toggle {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

.table-cell .avatar-4 {
  position: relative !important;
}

.table-cell .file-type-icon {
  position: relative;
}

.table-cell .overlap-group-3 {
  height: 40px;
  left: 1px;
  position: relative;
  width: 38px;
}

.table-cell .text-and-supporting-4 {
  position: relative;
}

.table-cell .text-15 {
  color: var(--1-color-modes-colors-text-text-primary-900);
  font-family: var(--text-sm-medium-font-family);
  font-size: var(--text-sm-medium-font-size);
  font-style: var(--text-sm-medium-font-style);
  font-weight: var(--text-sm-medium-font-weight);
  letter-spacing: var(--text-sm-medium-letter-spacing);
  line-height: var(--text-sm-medium-line-height);
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.table-cell .instance-node-6 {
  height: 12px !important;
  position: relative !important;
  width: 12px !important;
}

.table-cell .progress-bar-instance {
  margin-top: unset !important;
}

.table-cell .progress-bar-2 {
  width: 115px !important;
}

.table-cell .progress-bar-3 {
  align-self: stretch !important;
  flex: 1 !important;
  flex-grow: 1 !important;
  width: unset !important;
}

.table-cell .instance-node-7 {
  height: 20px !important;
  position: relative !important;
  width: 20px !important;
}

.table-cell .star-icon-instance {
  position: relative !important;
}

.table-cell .star-icon-2 {
  position: relative !important;
}

.table-cell .star-icon-3 {
  position: relative !important;
}

.table-cell .star-icon-4 {
  position: relative !important;
}

.table-cell .star-icon-5 {
  left: -192px !important;
  top: -646px !important;
}

.table-cell.style-toggle-only {
  display: inline-flex;
  gap: var(--3-spacing-spacing-lg);
  padding: var(--3-spacing-spacing-xl) var(--3-spacing-spacing-3xl)
    var(--3-spacing-spacing-xl) var(--3-spacing-spacing-3xl);
}

.table-cell.style-lead-icon {
  display: flex;
  gap: var(--3-spacing-spacing-lg);
  padding: var(--3-spacing-spacing-xl) var(--3-spacing-spacing-3xl)
    var(--3-spacing-spacing-xl) var(--3-spacing-spacing-3xl);
  width: 320px;
}

.table-cell.style-avatar {
  display: flex;
  gap: var(--3-spacing-spacing-lg);
  padding: var(--3-spacing-spacing-xl) var(--3-spacing-spacing-3xl)
    var(--3-spacing-spacing-xl) var(--3-spacing-spacing-3xl);
  width: 280px;
}

.table-cell.style-badges-multiple {
  display: inline-flex;
  padding: var(--3-spacing-spacing-xl) var(--3-spacing-spacing-3xl)
    var(--3-spacing-spacing-xl) var(--3-spacing-spacing-3xl);
}

.table-cell.style-badge {
  display: inline-flex;
  padding: var(--3-spacing-spacing-xl) var(--3-spacing-spacing-3xl)
    var(--3-spacing-spacing-xl) var(--3-spacing-spacing-3xl);
}

.table-cell.style-lead-icon-radio-button {
  display: flex;
  gap: var(--3-spacing-spacing-lg);
  padding: var(--3-spacing-spacing-xl) var(--3-spacing-spacing-3xl)
    var(--3-spacing-spacing-xl) var(--3-spacing-spacing-3xl);
  width: 320px;
}

.table-cell.style-lead-text {
  display: flex;
  padding: var(--3-spacing-spacing-xl) var(--3-spacing-spacing-3xl)
    var(--3-spacing-spacing-xl) var(--3-spacing-spacing-3xl);
  width: 320px;
}

.table-cell.state-5-hover {
  background-color: var(--1-color-modes-colors-background-bg-primary-hover);
}

.table-cell.style-lead-icon-toggle {
  display: flex;
  gap: var(--3-spacing-spacing-lg);
  padding: var(--3-spacing-spacing-xl) var(--3-spacing-spacing-3xl)
    var(--3-spacing-spacing-xl) var(--3-spacing-spacing-3xl);
  width: 320px;
}

.table-cell.style-progress-bar {
  display: flex;
  gap: var(--3-spacing-spacing-lg);
  padding: var(--3-spacing-spacing-xl) var(--3-spacing-spacing-3xl)
    var(--3-spacing-spacing-xl) var(--3-spacing-spacing-3xl);
  width: 280px;
}

.table-cell.style-lead-checkbox {
  display: flex;
  gap: var(--3-spacing-spacing-lg);
  padding: var(--3-spacing-spacing-xl) var(--3-spacing-spacing-3xl)
    var(--3-spacing-spacing-xl) var(--3-spacing-spacing-3xl);
  width: 320px;
}

.table-cell.style-lead-radio-button {
  display: flex;
  gap: var(--3-spacing-spacing-lg);
  padding: var(--3-spacing-spacing-xl) var(--3-spacing-spacing-3xl)
    var(--3-spacing-spacing-xl) var(--3-spacing-spacing-3xl);
  width: 320px;
}

.table-cell.style-trend-negative {
  display: inline-flex;
  gap: var(--3-spacing-spacing-lg);
  padding: var(--3-spacing-spacing-xl) var(--3-spacing-spacing-3xl)
    var(--3-spacing-spacing-xl) var(--3-spacing-spacing-3xl);
}

.table-cell.style-star-ratings {
  display: inline-flex;
  gap: var(--3-spacing-spacing-xs);
  padding: var(--3-spacing-spacing-xl);
}

.table-cell.style-lead-payment-method-toggle {
  display: flex;
  gap: var(--3-spacing-spacing-lg);
  padding: var(--3-spacing-spacing-xl) var(--3-spacing-spacing-3xl)
    var(--3-spacing-spacing-xl) var(--3-spacing-spacing-3xl);
  width: 320px;
}

.table-cell.style-action-dropdown-icon {
  display: inline-flex;
  gap: var(--3-spacing-spacing-lg);
  padding: var(--3-spacing-spacing-xl) var(--3-spacing-spacing-3xl)
    var(--3-spacing-spacing-xl) var(--3-spacing-spacing-3xl);
}

.table-cell.style-lead-payment-method-radio-button {
  display: flex;
  gap: var(--3-spacing-spacing-lg);
  padding: var(--3-spacing-spacing-xl) var(--3-spacing-spacing-3xl)
    var(--3-spacing-spacing-xl) var(--3-spacing-spacing-3xl);
  width: 320px;
}

.table-cell.style-lead-avatar-checkbox {
  display: flex;
  gap: var(--3-spacing-spacing-lg);
  padding: var(--3-spacing-spacing-xl) var(--3-spacing-spacing-3xl)
    var(--3-spacing-spacing-xl) var(--3-spacing-spacing-3xl);
  width: 320px;
}

.table-cell.style-payment-method {
  display: flex;
  gap: var(--3-spacing-spacing-lg);
  padding: var(--3-spacing-spacing-xl) var(--3-spacing-spacing-3xl)
    var(--3-spacing-spacing-xl) var(--3-spacing-spacing-3xl);
  width: 280px;
}

.table-cell.style-lead-payment-method-checkbox {
  display: flex;
  gap: var(--3-spacing-spacing-lg);
  padding: var(--3-spacing-spacing-xl) var(--3-spacing-spacing-3xl)
    var(--3-spacing-spacing-xl) var(--3-spacing-spacing-3xl);
  width: 320px;
}

.table-cell.style-lead-icon-checkbox {
  display: flex;
  gap: var(--3-spacing-spacing-lg);
  padding: var(--3-spacing-spacing-xl) var(--3-spacing-spacing-3xl)
    var(--3-spacing-spacing-xl) var(--3-spacing-spacing-3xl);
  width: 320px;
}

.table-cell.style-radio-button-only {
  display: inline-flex;
  gap: var(--3-spacing-spacing-lg);
  padding: var(--3-spacing-spacing-xl) var(--3-spacing-spacing-3xl)
    var(--3-spacing-spacing-xl) var(--3-spacing-spacing-3xl);
}

.table-cell.style-lead-avatar-toggle {
  display: flex;
  gap: var(--3-spacing-spacing-lg);
  padding: var(--3-spacing-spacing-xl) var(--3-spacing-spacing-3xl)
    var(--3-spacing-spacing-xl) var(--3-spacing-spacing-3xl);
  width: 320px;
}

.table-cell.style-trend-positive {
  display: inline-flex;
  gap: var(--3-spacing-spacing-lg);
  padding: var(--3-spacing-spacing-xl) var(--3-spacing-spacing-3xl)
    var(--3-spacing-spacing-xl) var(--3-spacing-spacing-3xl);
}

.table-cell.style-lead-avatar-radio-button {
  display: flex;
  gap: var(--3-spacing-spacing-lg);
  padding: var(--3-spacing-spacing-xl) var(--3-spacing-spacing-3xl)
    var(--3-spacing-spacing-xl) var(--3-spacing-spacing-3xl);
  width: 320px;
}

.table-cell.style-text {
  display: flex;
  padding: var(--3-spacing-spacing-xl) var(--3-spacing-spacing-3xl)
    var(--3-spacing-spacing-xl) var(--3-spacing-spacing-3xl);
  width: 240px;
}

.table-cell.style-avatar-group {
  display: flex;
  gap: var(--3-spacing-spacing-lg);
  padding: var(--3-spacing-spacing-xl) var(--3-spacing-spacing-3xl)
    var(--3-spacing-spacing-xl) var(--3-spacing-spacing-3xl);
}

.table-cell.style-action-buttons {
  display: inline-flex;
  gap: var(--3-spacing-spacing-lg);
  justify-content: flex-end;
  padding: var(--3-spacing-spacing-xl) var(--3-spacing-spacing-3xl)
    var(--3-spacing-spacing-xl) var(--3-spacing-spacing-3xl);
}

.table-cell.style-action-icons {
  display: inline-flex;
  gap: var(--3-spacing-spacing-xs);
  padding: var(--3-spacing-spacing-xl);
}

.table-cell.style-checkbox-only {
  display: inline-flex;
  gap: var(--3-spacing-spacing-lg);
  padding: var(--3-spacing-spacing-xl) var(--3-spacing-spacing-3xl)
    var(--3-spacing-spacing-xl) var(--3-spacing-spacing-3xl);
}

.table-cell.style-lead-toggle {
  display: flex;
  gap: var(--3-spacing-spacing-lg);
  padding: var(--3-spacing-spacing-xl) var(--3-spacing-spacing-3xl)
    var(--3-spacing-spacing-xl) var(--3-spacing-spacing-3xl);
  width: 320px;
}

.table-cell.style-lead-payment-method {
  display: flex;
  gap: var(--3-spacing-spacing-lg);
  padding: var(--3-spacing-spacing-xl) var(--3-spacing-spacing-3xl)
    var(--3-spacing-spacing-xl) var(--3-spacing-spacing-3xl);
  width: 320px;
}

.table-cell.style-lead-avatar {
  display: flex;
  gap: var(--3-spacing-spacing-lg);
  padding: var(--3-spacing-spacing-xl) var(--3-spacing-spacing-3xl)
    var(--3-spacing-spacing-xl) var(--3-spacing-spacing-3xl);
  width: 320px;
}

.table-cell.supporting-text-true.style-avatar-group {
  width: 240px;
}

.table-cell.supporting-text-false.style-avatar-group {
  width: 172px;
}

.table-cell.style-toggle-only .text-and-supporting-2 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
}

.table-cell.supporting-text-true .text-and-supporting-2 {
  align-items: flex-start;
  align-self: stretch;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
}

.table-cell.style-badges-multiple .text-and-supporting-2 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: var(--3-spacing-spacing-xs);
}

.table-cell.supporting-text-false.style-lead-text .text-and-supporting-2 {
  color: var(--1-color-modes-colors-text-text-primary-900);
  font-family: var(--text-sm-medium-font-family);
  font-size: var(--text-sm-medium-font-size);
  font-style: var(--text-sm-medium-font-style);
  font-weight: var(--text-sm-medium-font-weight);
  letter-spacing: var(--text-sm-medium-letter-spacing);
  line-height: var(--text-sm-medium-line-height);
  white-space: nowrap;
  width: fit-content;
}

.table-cell.supporting-text-false.style-text .text-and-supporting-2 {
  color: var(--1-color-modes-colors-text-text-tertiary-600);
  font-family: var(--text-sm-regular-font-family);
  font-size: var(--text-sm-regular-font-size);
  font-style: var(--text-sm-regular-font-style);
  font-weight: var(--text-sm-regular-font-weight);
  letter-spacing: var(--text-sm-regular-letter-spacing);
  line-height: var(--text-sm-regular-line-height);
  white-space: nowrap;
  width: fit-content;
}

.table-cell.style-lead-text .text-13 {
  font-family: var(--text-sm-medium-font-family);
  font-size: var(--text-sm-medium-font-size);
  font-style: var(--text-sm-medium-font-style);
  font-weight: var(--text-sm-medium-font-weight);
  letter-spacing: var(--text-sm-medium-letter-spacing);
  line-height: var(--text-sm-medium-line-height);
}

.table-cell.style-text .text-13 {
  font-family: var(--text-sm-regular-font-family);
  font-size: var(--text-sm-regular-font-size);
  font-style: var(--text-sm-regular-font-style);
  font-weight: var(--text-sm-regular-font-weight);
  letter-spacing: var(--text-sm-regular-letter-spacing);
  line-height: var(--text-sm-regular-line-height);
}

.table-cell.style-lead-icon .payment-method-icon {
  height: 40px;
  width: 40px;
}

.table-cell.style-trend-negative .payment-method-icon {
  color: var(--1-color-modes-colors-text-text-tertiary-600);
  font-family: var(--text-sm-regular-font-family);
  font-size: var(--text-sm-regular-font-size);
  font-style: var(--text-sm-regular-font-style);
  font-weight: var(--text-sm-regular-font-weight);
  letter-spacing: var(--text-sm-regular-letter-spacing);
  line-height: var(--text-sm-regular-line-height);
  white-space: nowrap;
  width: fit-content;
}

.table-cell.style-payment-method .payment-method-icon {
  background-color: var(--primitives-colors-base-white);
  border: 1px solid;
  border-color: var(--1-color-modes-colors-border-border-secondary);
  border-radius: var(--3-spacing-spacing-xs);
  height: 32px;
  width: 46px;
}

.table-cell.style-trend-positive .payment-method-icon {
  color: var(--1-color-modes-colors-text-text-tertiary-600);
  font-family: var(--text-sm-regular-font-family);
  font-size: var(--text-sm-regular-font-size);
  font-style: var(--text-sm-regular-font-style);
  font-weight: var(--text-sm-regular-font-weight);
  letter-spacing: var(--text-sm-regular-letter-spacing);
  line-height: var(--text-sm-regular-line-height);
  white-space: nowrap;
  width: fit-content;
}

.table-cell.style-avatar-group .payment-method-icon {
  color: var(--1-color-modes-colors-text-text-tertiary-600);
  font-family: var(--text-sm-regular-font-family);
  font-size: var(--text-sm-regular-font-size);
  font-style: var(--text-sm-regular-font-style);
  font-weight: var(--text-sm-regular-font-weight);
  letter-spacing: var(--text-sm-regular-letter-spacing);
  line-height: var(--text-sm-regular-line-height);
  white-space: nowrap;
  width: fit-content;
}

.table-cell.style-lead-toggle .payment-method-icon {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
}

.table-cell.style-lead-payment-method .payment-method-icon {
  background-color: var(--primitives-colors-base-white);
  border: 1px solid;
  border-color: var(--1-color-modes-colors-border-border-secondary);
  border-radius: var(--3-spacing-spacing-xs);
  height: 32px;
  width: 46px;
}

.table-cell.style-toggle-only .overlap-group-2 {
  height: 40px;
  width: 38px;
}

.table-cell.style-lead-icon .overlap-group-2 {
  height: 40px;
  left: 1px;
  width: 38px;
}

.table-cell.style-avatar .overlap-group-2 {
  height: 40px;
  width: 38px;
}

.table-cell.style-badges-multiple .overlap-group-2 {
  height: 40px;
  width: 38px;
}

.table-cell.style-badge .overlap-group-2 {
  height: 40px;
  width: 38px;
}

.table-cell.style-lead-icon-radio-button .overlap-group-2 {
  height: 40px;
  width: 38px;
}

.table-cell.style-lead-text .overlap-group-2 {
  height: 40px;
  width: 38px;
}

.table-cell.style-lead-icon-toggle .overlap-group-2 {
  height: 40px;
  width: 38px;
}

.table-cell.style-progress-bar .overlap-group-2 {
  height: 40px;
  width: 38px;
}

.table-cell.style-lead-checkbox .overlap-group-2 {
  height: 40px;
  width: 38px;
}

.table-cell.style-lead-radio-button .overlap-group-2 {
  height: 40px;
  width: 38px;
}

.table-cell.style-trend-negative .overlap-group-2 {
  height: 40px;
  width: 38px;
}

.table-cell.style-star-ratings .overlap-group-2 {
  height: 40px;
  width: 38px;
}

.table-cell.style-lead-payment-method-toggle .overlap-group-2 {
  height: 40px;
  width: 38px;
}

.table-cell.style-action-dropdown-icon .overlap-group-2 {
  height: 40px;
  width: 38px;
}

.table-cell.style-lead-payment-method-radio-button .overlap-group-2 {
  height: 40px;
  width: 38px;
}

.table-cell.style-lead-avatar-checkbox .overlap-group-2 {
  height: 40px;
  width: 38px;
}

.table-cell.style-payment-method .overlap-group-2 {
  height: 40px;
  width: 38px;
}

.table-cell.style-lead-payment-method-checkbox .overlap-group-2 {
  height: 40px;
  width: 38px;
}

.table-cell.style-lead-icon-checkbox .overlap-group-2 {
  height: 40px;
  width: 38px;
}

.table-cell.style-radio-button-only .overlap-group-2 {
  height: 40px;
  width: 38px;
}

.table-cell.style-lead-avatar-toggle .overlap-group-2 {
  height: 40px;
  width: 38px;
}

.table-cell.style-trend-positive .overlap-group-2 {
  height: 40px;
  width: 38px;
}

.table-cell.style-lead-avatar-radio-button .overlap-group-2 {
  height: 40px;
  width: 38px;
}

.table-cell.style-text .overlap-group-2 {
  height: 40px;
  width: 38px;
}

.table-cell.style-avatar-group .overlap-group-2 {
  height: 40px;
  width: 38px;
}

.table-cell.style-action-buttons .overlap-group-2 {
  height: 40px;
  width: 38px;
}

.table-cell.style-action-icons .overlap-group-2 {
  height: 40px;
  width: 38px;
}

.table-cell.style-checkbox-only .overlap-group-2 {
  height: 40px;
  width: 38px;
}

.table-cell.style-lead-toggle .overlap-group-2 {
  align-items: center;
  background-color: var(--1-color-modes-colors-background-bg-brand-solid);
  border-radius: var(--2-radius-radius-full);
  display: flex;
  height: 20px;
  justify-content: flex-end;
  overflow: hidden;
  padding: var(--3-spacing-spacing-xxs);
  width: 36px;
}

.table-cell.style-lead-payment-method .overlap-group-2 {
  height: 40px;
  width: 38px;
}

.table-cell.style-lead-avatar .overlap-group-2 {
  height: 40px;
  width: 38px;
}

.table-cell.style-toggle-only .text-and-supporting-3 {
  color: var(--1-color-modes-colors-text-text-primary-900);
  font-family: var(--text-sm-medium-font-family);
  font-size: var(--text-sm-medium-font-size);
  font-style: var(--text-sm-medium-font-style);
  font-weight: var(--text-sm-medium-font-weight);
  letter-spacing: var(--text-sm-medium-letter-spacing);
  line-height: var(--text-sm-medium-line-height);
}

.table-cell.style-lead-icon .text-and-supporting-3 {
  color: var(--1-color-modes-colors-text-text-primary-900);
  font-family: var(--text-sm-medium-font-family);
  font-size: var(--text-sm-medium-font-size);
  font-style: var(--text-sm-medium-font-style);
  font-weight: var(--text-sm-medium-font-weight);
  letter-spacing: var(--text-sm-medium-letter-spacing);
  line-height: var(--text-sm-medium-line-height);
}

.table-cell.supporting-text-true .text-and-supporting-3 {
  align-items: flex-start;
  color: var(--1-color-modes-colors-text-text-primary-900);
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  font-family: var(--text-sm-medium-font-family);
  font-size: var(--text-sm-medium-font-size);
  font-style: var(--text-sm-medium-font-style);
  font-weight: var(--text-sm-medium-font-weight);
  letter-spacing: var(--text-sm-medium-letter-spacing);
  line-height: var(--text-sm-medium-line-height);
}

.table-cell.style-badges-multiple .text-and-supporting-3 {
  color: var(--1-color-modes-colors-text-text-primary-900);
  font-family: var(--text-sm-medium-font-family);
  font-size: var(--text-sm-medium-font-size);
  font-style: var(--text-sm-medium-font-style);
  font-weight: var(--text-sm-medium-font-weight);
  letter-spacing: var(--text-sm-medium-letter-spacing);
  line-height: var(--text-sm-medium-line-height);
}

.table-cell.supporting-text-false .text-and-supporting-3 {
  white-space: nowrap;
  width: fit-content;
}

.table-cell.style-badge .text-and-supporting-3 {
  color: var(--1-color-modes-colors-text-text-primary-900);
  font-family: var(--text-sm-medium-font-family);
  font-size: var(--text-sm-medium-font-size);
  font-style: var(--text-sm-medium-font-style);
  font-weight: var(--text-sm-medium-font-weight);
  letter-spacing: var(--text-sm-medium-letter-spacing);
  line-height: var(--text-sm-medium-line-height);
}

.table-cell.style-lead-icon-radio-button .text-and-supporting-3 {
  color: var(--1-color-modes-colors-text-text-primary-900);
  font-family: var(--text-sm-medium-font-family);
  font-size: var(--text-sm-medium-font-size);
  font-style: var(--text-sm-medium-font-style);
  font-weight: var(--text-sm-medium-font-weight);
  letter-spacing: var(--text-sm-medium-letter-spacing);
  line-height: var(--text-sm-medium-line-height);
}

.table-cell.style-lead-text .text-and-supporting-3 {
  color: var(--1-color-modes-colors-text-text-primary-900);
  font-family: var(--text-sm-medium-font-family);
  font-size: var(--text-sm-medium-font-size);
  font-style: var(--text-sm-medium-font-style);
  font-weight: var(--text-sm-medium-font-weight);
  letter-spacing: var(--text-sm-medium-letter-spacing);
  line-height: var(--text-sm-medium-line-height);
}

.table-cell.style-lead-icon-toggle .text-and-supporting-3 {
  color: var(--1-color-modes-colors-text-text-primary-900);
  font-family: var(--text-sm-medium-font-family);
  font-size: var(--text-sm-medium-font-size);
  font-style: var(--text-sm-medium-font-style);
  font-weight: var(--text-sm-medium-font-weight);
  letter-spacing: var(--text-sm-medium-letter-spacing);
  line-height: var(--text-sm-medium-line-height);
}

.table-cell.style-progress-bar .text-and-supporting-3 {
  color: var(--1-color-modes-colors-text-text-primary-900);
  font-family: var(--text-sm-medium-font-family);
  font-size: var(--text-sm-medium-font-size);
  font-style: var(--text-sm-medium-font-style);
  font-weight: var(--text-sm-medium-font-weight);
  letter-spacing: var(--text-sm-medium-letter-spacing);
  line-height: var(--text-sm-medium-line-height);
}

.table-cell.style-lead-checkbox .text-and-supporting-3 {
  color: var(--1-color-modes-colors-text-text-primary-900);
  font-family: var(--text-sm-medium-font-family);
  font-size: var(--text-sm-medium-font-size);
  font-style: var(--text-sm-medium-font-style);
  font-weight: var(--text-sm-medium-font-weight);
  letter-spacing: var(--text-sm-medium-letter-spacing);
  line-height: var(--text-sm-medium-line-height);
}

.table-cell.style-lead-radio-button .text-and-supporting-3 {
  color: var(--1-color-modes-colors-text-text-primary-900);
  font-family: var(--text-sm-medium-font-family);
  font-size: var(--text-sm-medium-font-size);
  font-style: var(--text-sm-medium-font-style);
  font-weight: var(--text-sm-medium-font-weight);
  letter-spacing: var(--text-sm-medium-letter-spacing);
  line-height: var(--text-sm-medium-line-height);
}

.table-cell.style-trend-negative .text-and-supporting-3 {
  color: var(--1-color-modes-colors-text-text-primary-900);
  font-family: var(--text-sm-medium-font-family);
  font-size: var(--text-sm-medium-font-size);
  font-style: var(--text-sm-medium-font-style);
  font-weight: var(--text-sm-medium-font-weight);
  letter-spacing: var(--text-sm-medium-letter-spacing);
  line-height: var(--text-sm-medium-line-height);
}

.table-cell.style-star-ratings .text-and-supporting-3 {
  color: var(--1-color-modes-colors-text-text-primary-900);
  font-family: var(--text-sm-medium-font-family);
  font-size: var(--text-sm-medium-font-size);
  font-style: var(--text-sm-medium-font-style);
  font-weight: var(--text-sm-medium-font-weight);
  letter-spacing: var(--text-sm-medium-letter-spacing);
  line-height: var(--text-sm-medium-line-height);
}

.table-cell.style-lead-payment-method-toggle .text-and-supporting-3 {
  color: var(--1-color-modes-colors-text-text-primary-900);
  font-family: var(--text-sm-medium-font-family);
  font-size: var(--text-sm-medium-font-size);
  font-style: var(--text-sm-medium-font-style);
  font-weight: var(--text-sm-medium-font-weight);
  letter-spacing: var(--text-sm-medium-letter-spacing);
  line-height: var(--text-sm-medium-line-height);
}

.table-cell.style-action-dropdown-icon .text-and-supporting-3 {
  color: var(--1-color-modes-colors-text-text-primary-900);
  font-family: var(--text-sm-medium-font-family);
  font-size: var(--text-sm-medium-font-size);
  font-style: var(--text-sm-medium-font-style);
  font-weight: var(--text-sm-medium-font-weight);
  letter-spacing: var(--text-sm-medium-letter-spacing);
  line-height: var(--text-sm-medium-line-height);
}

.table-cell.style-lead-payment-method-radio-button .text-and-supporting-3 {
  color: var(--1-color-modes-colors-text-text-primary-900);
  font-family: var(--text-sm-medium-font-family);
  font-size: var(--text-sm-medium-font-size);
  font-style: var(--text-sm-medium-font-style);
  font-weight: var(--text-sm-medium-font-weight);
  letter-spacing: var(--text-sm-medium-letter-spacing);
  line-height: var(--text-sm-medium-line-height);
}

.table-cell.style-lead-avatar-checkbox .text-and-supporting-3 {
  color: var(--1-color-modes-colors-text-text-primary-900);
  font-family: var(--text-sm-medium-font-family);
  font-size: var(--text-sm-medium-font-size);
  font-style: var(--text-sm-medium-font-style);
  font-weight: var(--text-sm-medium-font-weight);
  letter-spacing: var(--text-sm-medium-letter-spacing);
  line-height: var(--text-sm-medium-line-height);
}

.table-cell.style-lead-payment-method-checkbox .text-and-supporting-3 {
  color: var(--1-color-modes-colors-text-text-primary-900);
  font-family: var(--text-sm-medium-font-family);
  font-size: var(--text-sm-medium-font-size);
  font-style: var(--text-sm-medium-font-style);
  font-weight: var(--text-sm-medium-font-weight);
  letter-spacing: var(--text-sm-medium-letter-spacing);
  line-height: var(--text-sm-medium-line-height);
}

.table-cell.style-lead-icon-checkbox .text-and-supporting-3 {
  color: var(--1-color-modes-colors-text-text-primary-900);
  font-family: var(--text-sm-medium-font-family);
  font-size: var(--text-sm-medium-font-size);
  font-style: var(--text-sm-medium-font-style);
  font-weight: var(--text-sm-medium-font-weight);
  letter-spacing: var(--text-sm-medium-letter-spacing);
  line-height: var(--text-sm-medium-line-height);
}

.table-cell.style-radio-button-only .text-and-supporting-3 {
  color: var(--1-color-modes-colors-text-text-primary-900);
  font-family: var(--text-sm-medium-font-family);
  font-size: var(--text-sm-medium-font-size);
  font-style: var(--text-sm-medium-font-style);
  font-weight: var(--text-sm-medium-font-weight);
  letter-spacing: var(--text-sm-medium-letter-spacing);
  line-height: var(--text-sm-medium-line-height);
}

.table-cell.style-lead-avatar-toggle .text-and-supporting-3 {
  color: var(--1-color-modes-colors-text-text-primary-900);
  font-family: var(--text-sm-medium-font-family);
  font-size: var(--text-sm-medium-font-size);
  font-style: var(--text-sm-medium-font-style);
  font-weight: var(--text-sm-medium-font-weight);
  letter-spacing: var(--text-sm-medium-letter-spacing);
  line-height: var(--text-sm-medium-line-height);
}

.table-cell.style-trend-positive .text-and-supporting-3 {
  color: var(--1-color-modes-colors-text-text-primary-900);
  font-family: var(--text-sm-medium-font-family);
  font-size: var(--text-sm-medium-font-size);
  font-style: var(--text-sm-medium-font-style);
  font-weight: var(--text-sm-medium-font-weight);
  letter-spacing: var(--text-sm-medium-letter-spacing);
  line-height: var(--text-sm-medium-line-height);
}

.table-cell.style-lead-avatar-radio-button .text-and-supporting-3 {
  color: var(--1-color-modes-colors-text-text-primary-900);
  font-family: var(--text-sm-medium-font-family);
  font-size: var(--text-sm-medium-font-size);
  font-style: var(--text-sm-medium-font-style);
  font-weight: var(--text-sm-medium-font-weight);
  letter-spacing: var(--text-sm-medium-letter-spacing);
  line-height: var(--text-sm-medium-line-height);
}

.table-cell.style-text .text-and-supporting-3 {
  color: var(--1-color-modes-colors-text-text-primary-900);
  font-family: var(--text-sm-medium-font-family);
  font-size: var(--text-sm-medium-font-size);
  font-style: var(--text-sm-medium-font-style);
  font-weight: var(--text-sm-medium-font-weight);
  letter-spacing: var(--text-sm-medium-letter-spacing);
  line-height: var(--text-sm-medium-line-height);
}

.table-cell.style-avatar-group .text-and-supporting-3 {
  color: var(--1-color-modes-colors-text-text-primary-900);
  font-family: var(--text-sm-medium-font-family);
  font-size: var(--text-sm-medium-font-size);
  font-style: var(--text-sm-medium-font-style);
  font-weight: var(--text-sm-medium-font-weight);
  letter-spacing: var(--text-sm-medium-letter-spacing);
  line-height: var(--text-sm-medium-line-height);
}

.table-cell.style-action-buttons .text-and-supporting-3 {
  color: var(--1-color-modes-colors-text-text-primary-900);
  font-family: var(--text-sm-medium-font-family);
  font-size: var(--text-sm-medium-font-size);
  font-style: var(--text-sm-medium-font-style);
  font-weight: var(--text-sm-medium-font-weight);
  letter-spacing: var(--text-sm-medium-letter-spacing);
  line-height: var(--text-sm-medium-line-height);
}

.table-cell.style-action-icons .text-and-supporting-3 {
  color: var(--1-color-modes-colors-text-text-primary-900);
  font-family: var(--text-sm-medium-font-family);
  font-size: var(--text-sm-medium-font-size);
  font-style: var(--text-sm-medium-font-style);
  font-weight: var(--text-sm-medium-font-weight);
  letter-spacing: var(--text-sm-medium-letter-spacing);
  line-height: var(--text-sm-medium-line-height);
}

.table-cell.style-checkbox-only .text-and-supporting-3 {
  color: var(--1-color-modes-colors-text-text-primary-900);
  font-family: var(--text-sm-medium-font-family);
  font-size: var(--text-sm-medium-font-size);
  font-style: var(--text-sm-medium-font-style);
  font-weight: var(--text-sm-medium-font-weight);
  letter-spacing: var(--text-sm-medium-letter-spacing);
  line-height: var(--text-sm-medium-line-height);
}

.table-cell.style-lead-toggle .text-and-supporting-3 {
  color: var(--1-color-modes-colors-text-text-primary-900);
  font-family: var(--text-sm-medium-font-family);
  font-size: var(--text-sm-medium-font-size);
  font-style: var(--text-sm-medium-font-style);
  font-weight: var(--text-sm-medium-font-weight);
  letter-spacing: var(--text-sm-medium-letter-spacing);
  line-height: var(--text-sm-medium-line-height);
}

.table-cell.style-lead-payment-method .text-and-supporting-3 {
  color: var(--1-color-modes-colors-text-text-primary-900);
  font-family: var(--text-sm-medium-font-family);
  font-size: var(--text-sm-medium-font-size);
  font-style: var(--text-sm-medium-font-style);
  font-weight: var(--text-sm-medium-font-weight);
  letter-spacing: var(--text-sm-medium-letter-spacing);
  line-height: var(--text-sm-medium-line-height);
}

.table-cell.style-lead-avatar .text-and-supporting-3 {
  color: var(--1-color-modes-colors-text-text-primary-900);
  font-family: var(--text-sm-medium-font-family);
  font-size: var(--text-sm-medium-font-size);
  font-style: var(--text-sm-medium-font-style);
  font-weight: var(--text-sm-medium-font-weight);
  letter-spacing: var(--text-sm-medium-letter-spacing);
  line-height: var(--text-sm-medium-line-height);
}

.table-cell.supporting-text-false.style-avatar .text-and-supporting-3 {
  color: var(--1-color-modes-colors-text-text-tertiary-600);
  font-family: var(--text-sm-regular-font-family);
  font-size: var(--text-sm-regular-font-size);
  font-style: var(--text-sm-regular-font-style);
  font-weight: var(--text-sm-regular-font-weight);
  letter-spacing: var(--text-sm-regular-letter-spacing);
  line-height: var(--text-sm-regular-line-height);
}

.table-cell.supporting-text-false.style-payment-method .text-and-supporting-3 {
  color: var(--1-color-modes-colors-text-text-tertiary-600);
  font-family: var(--text-sm-regular-font-family);
  font-size: var(--text-sm-regular-font-size);
  font-style: var(--text-sm-regular-font-style);
  font-weight: var(--text-sm-regular-font-weight);
  letter-spacing: var(--text-sm-regular-letter-spacing);
  line-height: var(--text-sm-regular-line-height);
}

.table-cell.style-toggle-only .text-14 {
  font-family: var(--text-sm-medium-font-family);
  font-size: var(--text-sm-medium-font-size);
  font-style: var(--text-sm-medium-font-style);
  font-weight: var(--text-sm-medium-font-weight);
  letter-spacing: var(--text-sm-medium-letter-spacing);
  line-height: var(--text-sm-medium-line-height);
}

.table-cell.style-lead-icon .text-14 {
  font-family: var(--text-sm-medium-font-family);
  font-size: var(--text-sm-medium-font-size);
  font-style: var(--text-sm-medium-font-style);
  font-weight: var(--text-sm-medium-font-weight);
  letter-spacing: var(--text-sm-medium-letter-spacing);
  line-height: var(--text-sm-medium-line-height);
}

.table-cell.style-avatar .text-14 {
  font-family: var(--text-sm-regular-font-family);
  font-size: var(--text-sm-regular-font-size);
  font-style: var(--text-sm-regular-font-style);
  font-weight: var(--text-sm-regular-font-weight);
  letter-spacing: var(--text-sm-regular-letter-spacing);
  line-height: var(--text-sm-regular-line-height);
}

.table-cell.style-badges-multiple .text-14 {
  font-family: var(--text-sm-medium-font-family);
  font-size: var(--text-sm-medium-font-size);
  font-style: var(--text-sm-medium-font-style);
  font-weight: var(--text-sm-medium-font-weight);
  letter-spacing: var(--text-sm-medium-letter-spacing);
  line-height: var(--text-sm-medium-line-height);
}

.table-cell.style-badge .text-14 {
  font-family: var(--text-sm-medium-font-family);
  font-size: var(--text-sm-medium-font-size);
  font-style: var(--text-sm-medium-font-style);
  font-weight: var(--text-sm-medium-font-weight);
  letter-spacing: var(--text-sm-medium-letter-spacing);
  line-height: var(--text-sm-medium-line-height);
}

.table-cell.style-lead-icon-radio-button .text-14 {
  font-family: var(--text-sm-medium-font-family);
  font-size: var(--text-sm-medium-font-size);
  font-style: var(--text-sm-medium-font-style);
  font-weight: var(--text-sm-medium-font-weight);
  letter-spacing: var(--text-sm-medium-letter-spacing);
  line-height: var(--text-sm-medium-line-height);
}

.table-cell.style-lead-text .text-14 {
  font-family: var(--text-sm-medium-font-family);
  font-size: var(--text-sm-medium-font-size);
  font-style: var(--text-sm-medium-font-style);
  font-weight: var(--text-sm-medium-font-weight);
  letter-spacing: var(--text-sm-medium-letter-spacing);
  line-height: var(--text-sm-medium-line-height);
}

.table-cell.style-lead-icon-toggle .text-14 {
  font-family: var(--text-sm-medium-font-family);
  font-size: var(--text-sm-medium-font-size);
  font-style: var(--text-sm-medium-font-style);
  font-weight: var(--text-sm-medium-font-weight);
  letter-spacing: var(--text-sm-medium-letter-spacing);
  line-height: var(--text-sm-medium-line-height);
}

.table-cell.style-progress-bar .text-14 {
  font-family: var(--text-sm-medium-font-family);
  font-size: var(--text-sm-medium-font-size);
  font-style: var(--text-sm-medium-font-style);
  font-weight: var(--text-sm-medium-font-weight);
  letter-spacing: var(--text-sm-medium-letter-spacing);
  line-height: var(--text-sm-medium-line-height);
}

.table-cell.style-lead-checkbox .text-14 {
  font-family: var(--text-sm-medium-font-family);
  font-size: var(--text-sm-medium-font-size);
  font-style: var(--text-sm-medium-font-style);
  font-weight: var(--text-sm-medium-font-weight);
  letter-spacing: var(--text-sm-medium-letter-spacing);
  line-height: var(--text-sm-medium-line-height);
}

.table-cell.style-lead-radio-button .text-14 {
  font-family: var(--text-sm-medium-font-family);
  font-size: var(--text-sm-medium-font-size);
  font-style: var(--text-sm-medium-font-style);
  font-weight: var(--text-sm-medium-font-weight);
  letter-spacing: var(--text-sm-medium-letter-spacing);
  line-height: var(--text-sm-medium-line-height);
}

.table-cell.style-trend-negative .text-14 {
  font-family: var(--text-sm-medium-font-family);
  font-size: var(--text-sm-medium-font-size);
  font-style: var(--text-sm-medium-font-style);
  font-weight: var(--text-sm-medium-font-weight);
  letter-spacing: var(--text-sm-medium-letter-spacing);
  line-height: var(--text-sm-medium-line-height);
}

.table-cell.style-star-ratings .text-14 {
  font-family: var(--text-sm-medium-font-family);
  font-size: var(--text-sm-medium-font-size);
  font-style: var(--text-sm-medium-font-style);
  font-weight: var(--text-sm-medium-font-weight);
  letter-spacing: var(--text-sm-medium-letter-spacing);
  line-height: var(--text-sm-medium-line-height);
}

.table-cell.style-lead-payment-method-toggle .text-14 {
  font-family: var(--text-sm-medium-font-family);
  font-size: var(--text-sm-medium-font-size);
  font-style: var(--text-sm-medium-font-style);
  font-weight: var(--text-sm-medium-font-weight);
  letter-spacing: var(--text-sm-medium-letter-spacing);
  line-height: var(--text-sm-medium-line-height);
}

.table-cell.style-action-dropdown-icon .text-14 {
  font-family: var(--text-sm-medium-font-family);
  font-size: var(--text-sm-medium-font-size);
  font-style: var(--text-sm-medium-font-style);
  font-weight: var(--text-sm-medium-font-weight);
  letter-spacing: var(--text-sm-medium-letter-spacing);
  line-height: var(--text-sm-medium-line-height);
}

.table-cell.style-lead-payment-method-radio-button .text-14 {
  font-family: var(--text-sm-medium-font-family);
  font-size: var(--text-sm-medium-font-size);
  font-style: var(--text-sm-medium-font-style);
  font-weight: var(--text-sm-medium-font-weight);
  letter-spacing: var(--text-sm-medium-letter-spacing);
  line-height: var(--text-sm-medium-line-height);
}

.table-cell.style-lead-avatar-checkbox .text-14 {
  font-family: var(--text-sm-medium-font-family);
  font-size: var(--text-sm-medium-font-size);
  font-style: var(--text-sm-medium-font-style);
  font-weight: var(--text-sm-medium-font-weight);
  letter-spacing: var(--text-sm-medium-letter-spacing);
  line-height: var(--text-sm-medium-line-height);
}

.table-cell.style-payment-method .text-14 {
  font-family: var(--text-sm-regular-font-family);
  font-size: var(--text-sm-regular-font-size);
  font-style: var(--text-sm-regular-font-style);
  font-weight: var(--text-sm-regular-font-weight);
  letter-spacing: var(--text-sm-regular-letter-spacing);
  line-height: var(--text-sm-regular-line-height);
}

.table-cell.style-lead-payment-method-checkbox .text-14 {
  font-family: var(--text-sm-medium-font-family);
  font-size: var(--text-sm-medium-font-size);
  font-style: var(--text-sm-medium-font-style);
  font-weight: var(--text-sm-medium-font-weight);
  letter-spacing: var(--text-sm-medium-letter-spacing);
  line-height: var(--text-sm-medium-line-height);
}

.table-cell.style-lead-icon-checkbox .text-14 {
  font-family: var(--text-sm-medium-font-family);
  font-size: var(--text-sm-medium-font-size);
  font-style: var(--text-sm-medium-font-style);
  font-weight: var(--text-sm-medium-font-weight);
  letter-spacing: var(--text-sm-medium-letter-spacing);
  line-height: var(--text-sm-medium-line-height);
}

.table-cell.style-radio-button-only .text-14 {
  font-family: var(--text-sm-medium-font-family);
  font-size: var(--text-sm-medium-font-size);
  font-style: var(--text-sm-medium-font-style);
  font-weight: var(--text-sm-medium-font-weight);
  letter-spacing: var(--text-sm-medium-letter-spacing);
  line-height: var(--text-sm-medium-line-height);
}

.table-cell.style-lead-avatar-toggle .text-14 {
  font-family: var(--text-sm-medium-font-family);
  font-size: var(--text-sm-medium-font-size);
  font-style: var(--text-sm-medium-font-style);
  font-weight: var(--text-sm-medium-font-weight);
  letter-spacing: var(--text-sm-medium-letter-spacing);
  line-height: var(--text-sm-medium-line-height);
}

.table-cell.style-trend-positive .text-14 {
  font-family: var(--text-sm-medium-font-family);
  font-size: var(--text-sm-medium-font-size);
  font-style: var(--text-sm-medium-font-style);
  font-weight: var(--text-sm-medium-font-weight);
  letter-spacing: var(--text-sm-medium-letter-spacing);
  line-height: var(--text-sm-medium-line-height);
}

.table-cell.style-lead-avatar-radio-button .text-14 {
  font-family: var(--text-sm-medium-font-family);
  font-size: var(--text-sm-medium-font-size);
  font-style: var(--text-sm-medium-font-style);
  font-weight: var(--text-sm-medium-font-weight);
  letter-spacing: var(--text-sm-medium-letter-spacing);
  line-height: var(--text-sm-medium-line-height);
}

.table-cell.style-text .text-14 {
  font-family: var(--text-sm-medium-font-family);
  font-size: var(--text-sm-medium-font-size);
  font-style: var(--text-sm-medium-font-style);
  font-weight: var(--text-sm-medium-font-weight);
  letter-spacing: var(--text-sm-medium-letter-spacing);
  line-height: var(--text-sm-medium-line-height);
}

.table-cell.style-avatar-group .text-14 {
  font-family: var(--text-sm-medium-font-family);
  font-size: var(--text-sm-medium-font-size);
  font-style: var(--text-sm-medium-font-style);
  font-weight: var(--text-sm-medium-font-weight);
  letter-spacing: var(--text-sm-medium-letter-spacing);
  line-height: var(--text-sm-medium-line-height);
}

.table-cell.style-action-buttons .text-14 {
  font-family: var(--text-sm-medium-font-family);
  font-size: var(--text-sm-medium-font-size);
  font-style: var(--text-sm-medium-font-style);
  font-weight: var(--text-sm-medium-font-weight);
  letter-spacing: var(--text-sm-medium-letter-spacing);
  line-height: var(--text-sm-medium-line-height);
}

.table-cell.style-action-icons .text-14 {
  font-family: var(--text-sm-medium-font-family);
  font-size: var(--text-sm-medium-font-size);
  font-style: var(--text-sm-medium-font-style);
  font-weight: var(--text-sm-medium-font-weight);
  letter-spacing: var(--text-sm-medium-letter-spacing);
  line-height: var(--text-sm-medium-line-height);
}

.table-cell.style-checkbox-only .text-14 {
  font-family: var(--text-sm-medium-font-family);
  font-size: var(--text-sm-medium-font-size);
  font-style: var(--text-sm-medium-font-style);
  font-weight: var(--text-sm-medium-font-weight);
  letter-spacing: var(--text-sm-medium-letter-spacing);
  line-height: var(--text-sm-medium-line-height);
}

.table-cell.style-lead-toggle .text-14 {
  font-family: var(--text-sm-medium-font-family);
  font-size: var(--text-sm-medium-font-size);
  font-style: var(--text-sm-medium-font-style);
  font-weight: var(--text-sm-medium-font-weight);
  letter-spacing: var(--text-sm-medium-letter-spacing);
  line-height: var(--text-sm-medium-line-height);
}

.table-cell.style-lead-payment-method .text-14 {
  font-family: var(--text-sm-medium-font-family);
  font-size: var(--text-sm-medium-font-size);
  font-style: var(--text-sm-medium-font-style);
  font-weight: var(--text-sm-medium-font-weight);
  letter-spacing: var(--text-sm-medium-letter-spacing);
  line-height: var(--text-sm-medium-line-height);
}

.table-cell.style-lead-avatar .text-14 {
  font-family: var(--text-sm-medium-font-family);
  font-size: var(--text-sm-medium-font-size);
  font-style: var(--text-sm-medium-font-style);
  font-weight: var(--text-sm-medium-font-weight);
  letter-spacing: var(--text-sm-medium-letter-spacing);
  line-height: var(--text-sm-medium-line-height);
}

.table-cell.style-toggle-only .file-type-icon {
  height: 40px;
  width: 40px;
}

.table-cell.style-lead-icon .file-type-icon {
  height: 40px;
  width: 40px;
}

.table-cell.style-avatar .file-type-icon {
  height: 40px;
  width: 40px;
}

.table-cell.style-badges-multiple .file-type-icon {
  height: 40px;
  width: 40px;
}

.table-cell.style-badge .file-type-icon {
  height: 40px;
  width: 40px;
}

.table-cell.style-lead-icon-radio-button .file-type-icon {
  height: 40px;
  width: 40px;
}

.table-cell.style-lead-text .file-type-icon {
  height: 40px;
  width: 40px;
}

.table-cell.style-lead-icon-toggle .file-type-icon {
  height: 40px;
  width: 40px;
}

.table-cell.style-progress-bar .file-type-icon {
  height: 40px;
  width: 40px;
}

.table-cell.style-lead-checkbox .file-type-icon {
  height: 40px;
  width: 40px;
}

.table-cell.style-lead-radio-button .file-type-icon {
  height: 40px;
  width: 40px;
}

.table-cell.style-trend-negative .file-type-icon {
  height: 40px;
  width: 40px;
}

.table-cell.style-star-ratings .file-type-icon {
  height: 40px;
  width: 40px;
}

.table-cell.style-lead-payment-method-toggle .file-type-icon {
  background-color: var(--primitives-colors-base-white);
  border: 1px solid;
  border-color: var(--1-color-modes-colors-border-border-secondary);
  border-radius: var(--3-spacing-spacing-xs);
  height: 32px;
  width: 46px;
}

.table-cell.style-action-dropdown-icon .file-type-icon {
  height: 40px;
  width: 40px;
}

.table-cell.style-lead-payment-method-radio-button .file-type-icon {
  background-color: var(--primitives-colors-base-white);
  border: 1px solid;
  border-color: var(--1-color-modes-colors-border-border-secondary);
  border-radius: var(--3-spacing-spacing-xs);
  height: 32px;
  width: 46px;
}

.table-cell.style-lead-avatar-checkbox .file-type-icon {
  height: 40px;
  width: 40px;
}

.table-cell.style-payment-method .file-type-icon {
  height: 40px;
  width: 40px;
}

.table-cell.style-lead-payment-method-checkbox .file-type-icon {
  background-color: var(--primitives-colors-base-white);
  border: 1px solid;
  border-color: var(--1-color-modes-colors-border-border-secondary);
  border-radius: var(--3-spacing-spacing-xs);
  height: 32px;
  width: 46px;
}

.table-cell.style-lead-icon-checkbox .file-type-icon {
  height: 40px;
  width: 40px;
}

.table-cell.style-radio-button-only .file-type-icon {
  height: 40px;
  width: 40px;
}

.table-cell.style-lead-avatar-toggle .file-type-icon {
  height: 40px;
  width: 40px;
}

.table-cell.style-trend-positive .file-type-icon {
  height: 40px;
  width: 40px;
}

.table-cell.style-lead-avatar-radio-button .file-type-icon {
  height: 40px;
  width: 40px;
}

.table-cell.style-text .file-type-icon {
  height: 40px;
  width: 40px;
}

.table-cell.style-avatar-group .file-type-icon {
  height: 40px;
  width: 40px;
}

.table-cell.style-action-buttons .file-type-icon {
  height: 40px;
  width: 40px;
}

.table-cell.style-action-icons .file-type-icon {
  height: 40px;
  width: 40px;
}

.table-cell.style-checkbox-only .file-type-icon {
  height: 40px;
  width: 40px;
}

.table-cell.style-lead-toggle .file-type-icon {
  height: 40px;
  width: 40px;
}

.table-cell.style-lead-payment-method .file-type-icon {
  height: 40px;
  width: 40px;
}

.table-cell.style-lead-avatar .file-type-icon {
  height: 40px;
  width: 40px;
}

.table-cell.supporting-text-false .text-and-supporting-4 {
  color: var(--1-color-modes-colors-text-text-primary-900);
  font-family: var(--text-sm-medium-font-family);
  font-size: var(--text-sm-medium-font-size);
  font-style: var(--text-sm-medium-font-style);
  font-weight: var(--text-sm-medium-font-weight);
  letter-spacing: var(--text-sm-medium-letter-spacing);
  line-height: var(--text-sm-medium-line-height);
  white-space: nowrap;
  width: fit-content;
}

.table-cell.supporting-text-true .text-and-supporting-4 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
}
