.metric-item {
  align-items: flex-start;
  background-color: var(--1-color-modes-colors-background-bg-primary);
  border: 1px solid;
  border-color: var(--1-color-modes-colors-border-border-secondary);
  border-radius: var(--2-radius-radius-xl);
  box-shadow: var(--shadows-shadow-xs);
  display: flex;
  flex-direction: column;
  position: relative;
}

.metric-item .heading {
  align-self: stretch;
  position: relative;
}

.metric-item .heading-2 {
  align-self: stretch;
  position: relative;
}

.metric-item .instance-node-5 {
  height: 24px !important;
  left: 12px !important;
  position: absolute !important;
  top: 12px !important;
  width: 24px !important;
}

.metric-item .heading-3 {
  color: var(--1-color-modes-colors-text-text-primary-900);
  flex: 1;
  font-family: var(--text-md-semibold-font-family);
  font-size: var(--text-md-semibold-font-size);
  font-style: var(--text-md-semibold-font-style);
  font-weight: var(--text-md-semibold-font-weight);
  letter-spacing: var(--text-md-semibold-letter-spacing);
  line-height: var(--text-md-semibold-line-height);
  position: relative;
}

.metric-item .number-and-badge {
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  position: relative;
  width: 100%;
}

.metric-item .number-18 {
  margin-top: -1.00px;
  position: relative;
}

.metric-item .badge-wrap {
  flex: 0 0 auto;
  position: relative;
}

.metric-item .instance-node-6 {
  flex: 0 0 auto !important;
}

.metric-item .arrow-up {
  height: 12px !important;
  position: relative !important;
  width: 12px !important;
}

.metric-item .text-13 {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  color: var(--1-color-modes-colors-text-text-tertiary-600);
  display: -webkit-box;
  flex: 1;
  font-family: var(--text-sm-medium-font-family);
  font-size: var(--text-sm-medium-font-size);
  font-style: var(--text-sm-medium-font-style);
  font-weight: var(--text-sm-medium-font-weight);
  letter-spacing: var(--text-sm-medium-letter-spacing);
  line-height: var(--text-sm-medium-line-height);
  margin-top: -1.00px;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
}

.metric-item .number-19 {
  color: var(--1-color-modes-colors-text-text-primary-900);
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.metric-item .change-and-text {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: var(--3-spacing-spacing-md);
  position: relative;
}

.metric-item .text-14 {
  color: var(--1-color-modes-colors-text-text-tertiary-600);
  font-family: var(--text-sm-medium-font-family);
  font-size: var(--text-sm-medium-font-size);
  font-style: var(--text-sm-medium-font-style);
  font-weight: var(--text-sm-medium-font-weight);
  letter-spacing: var(--text-sm-medium-letter-spacing);
  line-height: var(--text-sm-medium-line-height);
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.metric-item .number-and-badge-2 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: var(--3-spacing-spacing-md);
  position: relative;
}

.metric-item .number-20 {
  color: var(--1-color-modes-colors-text-text-primary-900);
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.metric-item .chart-mini {
  height: 56px !important;
  position: relative !important;
  width: 128px !important;
}

.metric-item .number-and-badge-3 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: var(--3-spacing-spacing-xl);
  position: relative;
}

.metric-item .number-21 {
  align-self: stretch;
  color: var(--1-color-modes-colors-text-text-primary-900);
  margin-top: -1.00px;
  position: relative;
}

.metric-item .change-and-text-2 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: var(--3-spacing-spacing-md);
  position: relative;
  width: 100%;
}

.metric-item .chart-mini-2 {
  height: 58px !important;
  margin-bottom: -1.00px !important;
  margin-right: -1.00px !important;
  position: relative !important;
  width: 114px !important;
}

.metric-item .chart-mini-3 {
  height: 50px !important;
  margin-bottom: -1.00px !important;
  margin-right: -1.00px !important;
  position: relative !important;
  width: 98px !important;
}

.metric-item .heading-and-number {
  position: relative;
}

.metric-item .heading-4 {
  align-self: stretch;
  color: var(--1-color-modes-colors-text-text-tertiary-600);
  font-family: var(--text-sm-medium-font-family);
  font-size: var(--text-sm-medium-font-size);
  font-style: var(--text-sm-medium-font-style);
  font-weight: var(--text-sm-medium-font-weight);
  letter-spacing: var(--text-sm-medium-letter-spacing);
  line-height: var(--text-sm-medium-line-height);
  margin-top: -1.00px;
  position: relative;
}

.metric-item .number-and-badge-4 {
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: var(--3-spacing-spacing-xl);
  position: relative;
  width: 100%;
}

.metric-item .number-22 {
  color: var(--1-color-modes-colors-text-text-primary-900);
  margin-top: -1.00px;
  position: relative;
}

.metric-item .badge-wrap-2 {
  display: inline-flex;
  flex: 0 0 auto;
  position: relative;
}

.metric-item .chart-mini-4 {
  align-self: stretch !important;
  height: 74px !important;
  margin-bottom: -1.00px !important;
  margin-left: -1.00px !important;
  margin-right: -1.00px !important;
  position: relative !important;
  width: 100% !important;
}

.metric-item .number-and-badge-5 {
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  position: relative;
  width: 100%;
}

.metric-item .number-23 {
  position: relative;
}

.metric-item .number-24 {
  color: var(--1-color-modes-colors-text-text-primary-900);
  margin-top: -1.00px;
  position: relative;
}

.metric-item .badge-wrap-3 {
  flex: 0 0 auto;
  position: relative;
}

.metric-item .content-6 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: var(--3-spacing-spacing-xl);
  position: relative;
  width: 100%;
}

.metric-item .settings {
  height: 20px !important;
  position: relative !important;
  width: 20px !important;
}

.metric-item .dropdown-instance {
  left: 307px !important;
  position: absolute !important;
  top: 16px !important;
}

.metric-item .class-38 {
  left: 348px !important;
  position: absolute !important;
  top: 20px !important;
}

.metric-item .heading-and-number-2 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: var(--3-spacing-spacing-md);
  position: relative;
  width: 100%;
}

.metric-item .number-and-badge-6 {
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: var(--3-spacing-spacing-xl);
  position: relative;
  width: 100%;
}

.metric-item .number-25 {
  color: var(--1-color-modes-colors-text-text-primary-900);
  margin-top: -1.00px;
  position: relative;
}

.metric-item .badge-wrap-4 {
  display: inline-flex;
  flex: 0 0 auto;
  position: relative;
}

.metric-item .number-and-badge-7 {
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: var(--3-spacing-spacing-xl);
  position: relative;
  width: 100%;
}

.metric-item .number-26 {
  color: var(--1-color-modes-colors-text-text-primary-900);
  font-family: var(--display-md-semibold-font-family);
  font-size: var(--display-md-semibold-font-size);
  font-style: var(--display-md-semibold-font-style);
  font-weight: var(--display-md-semibold-font-weight);
  letter-spacing: var(--display-md-semibold-letter-spacing);
  line-height: var(--display-md-semibold-line-height);
  margin-top: -1.00px;
  position: relative;
}

.metric-item .badge-wrap-5 {
  display: inline-flex;
  flex: 0 0 auto;
  position: relative;
}

.metric-item .number-and-badge-8 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  gap: var(--3-spacing-spacing-xl);
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.metric-item .number-27 {
  color: var(--1-color-modes-colors-text-text-primary-900);
  font-family: var(--display-sm-semibold-font-family);
  font-size: var(--display-sm-semibold-font-size);
  font-style: var(--display-sm-semibold-font-style);
  font-weight: var(--display-sm-semibold-font-weight);
  letter-spacing: var(--display-sm-semibold-letter-spacing);
  line-height: var(--display-sm-semibold-line-height);
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.metric-item.breakpoint-1-desktop {
  width: 388px;
}

.metric-item.breakpoint-1-mobile {
  width: 343px;
}

.metric-item.breakpoint-1-mobile.actions-false {
  padding: var(--3-spacing-spacing-2xl) var(--3-spacing-spacing-xl)
    var(--3-spacing-spacing-2xl) var(--3-spacing-spacing-xl);
}

.metric-item.actions-false.breakpoint-1-desktop {
  padding: var(--3-spacing-spacing-3xl);
}

.metric-item.icon-03.actions-false {
  gap: var(--3-spacing-spacing-2xl);
}

.metric-item.actions-false.simple {
  gap: var(--3-spacing-spacing-md);
}

.metric-item.chart-03.actions-false {
  gap: var(--3-spacing-spacing-2xl);
}

.metric-item.chart-02.breakpoint-1-mobile.actions-false {
  gap: var(--3-spacing-spacing-2xl);
}

.metric-item.icon-02.actions-false.breakpoint-1-desktop {
  gap: var(--3-spacing-spacing-3xl);
}

.metric-item.chart-02.actions-false.breakpoint-1-desktop {
  gap: var(--3-spacing-spacing-3xl);
}

.metric-item.icon-01.actions-false.breakpoint-1-desktop {
  gap: var(--3-spacing-spacing-3xl);
}

.metric-item.chart-01.breakpoint-1-mobile.actions-false {
  gap: var(--3-spacing-spacing-2xl);
}

.metric-item.icon-01.breakpoint-1-mobile.actions-false {
  gap: var(--3-spacing-spacing-2xl);
}

.metric-item.actions-false.breakpoint-1-desktop.chart-01 {
  gap: var(--3-spacing-spacing-3xl);
}

.metric-item.icon-02.breakpoint-1-mobile.actions-false {
  gap: var(--3-spacing-spacing-2xl);
}

.metric-item.icon-03 .heading {
  gap: var(--3-spacing-spacing-2xl);
}

.metric-item.icon-02 .heading {
  display: flex;
  flex: 0 0 auto;
  width: 100%;
}

.metric-item.chart-03 .heading {
  gap: var(--3-spacing-spacing-2xl);
}

.metric-item.chart-02 .heading {
  display: flex;
  flex: 0 0 auto;
  width: 100%;
}

.metric-item.actions-true .heading {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  width: 100%;
}

.metric-item.chart-02.actions-false .heading {
  align-items: center;
  gap: var(--3-spacing-spacing-lg);
}

.metric-item.breakpoint-1-mobile.actions-true .heading {
  padding: var(--3-spacing-spacing-2xl) var(--3-spacing-spacing-xl)
    var(--3-spacing-spacing-2xl) var(--3-spacing-spacing-xl);
}

.metric-item.icon-01.breakpoint-1-mobile .heading {
  gap: var(--3-spacing-spacing-2xl);
}

.metric-item.icon-02.actions-false .heading {
  align-items: center;
  gap: var(--3-spacing-spacing-lg);
}

.metric-item.actions-true.breakpoint-1-desktop .heading {
  padding: var(--3-spacing-spacing-3xl);
}

.metric-item.actions-true.simple .heading {
  gap: var(--3-spacing-spacing-md);
}

.metric-item.actions-false.chart-01 .heading {
  color: var(--1-color-modes-colors-text-text-primary-900);
  font-family: var(--text-md-semibold-font-family);
  font-size: var(--text-md-semibold-font-size);
  font-style: var(--text-md-semibold-font-style);
  font-weight: var(--text-md-semibold-font-weight);
  letter-spacing: var(--text-md-semibold-letter-spacing);
  line-height: var(--text-md-semibold-line-height);
  margin-top: -1.00px;
}

.metric-item.icon-01.breakpoint-1-desktop .heading {
  gap: var(--3-spacing-spacing-3xl);
}

.metric-item.actions-false.simple .heading {
  color: var(--1-color-modes-colors-text-text-tertiary-600);
  font-family: var(--text-sm-medium-font-family);
  font-size: var(--text-sm-medium-font-size);
  font-style: var(--text-sm-medium-font-style);
  font-weight: var(--text-sm-medium-font-weight);
  letter-spacing: var(--text-sm-medium-letter-spacing);
  line-height: var(--text-sm-medium-line-height);
  margin-top: -1.00px;
}

.metric-item.breakpoint-1-mobile.actions-true.chart-01 .heading {
  gap: var(--3-spacing-spacing-2xl);
}

.metric-item.icon-02.actions-true.breakpoint-1-desktop .heading {
  gap: var(--3-spacing-spacing-3xl);
}

.metric-item.actions-true.breakpoint-1-desktop.chart-01 .heading {
  gap: var(--3-spacing-spacing-3xl);
}

.metric-item.chart-02.breakpoint-1-mobile.actions-true .heading {
  gap: var(--3-spacing-spacing-2xl);
}

.metric-item.chart-02.actions-true.breakpoint-1-desktop .heading {
  gap: var(--3-spacing-spacing-3xl);
}

.metric-item.icon-02.breakpoint-1-mobile.actions-true .heading {
  gap: var(--3-spacing-spacing-2xl);
}

.metric-item.icon-02 .heading-2 {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  gap: var(--3-spacing-spacing-lg);
  width: 100%;
}

.metric-item.chart-02 .heading-2 {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  gap: var(--3-spacing-spacing-lg);
  width: 100%;
}

.metric-item.chart-01 .heading-2 {
  color: var(--1-color-modes-colors-text-text-primary-900);
  font-family: var(--text-md-semibold-font-family);
  font-size: var(--text-md-semibold-font-size);
  font-style: var(--text-md-semibold-font-style);
  font-weight: var(--text-md-semibold-font-weight);
  letter-spacing: var(--text-md-semibold-letter-spacing);
  line-height: var(--text-md-semibold-line-height);
  margin-top: -1.00px;
}

.metric-item.simple .heading-2 {
  color: var(--1-color-modes-colors-text-text-tertiary-600);
  font-family: var(--text-sm-medium-font-family);
  font-size: var(--text-sm-medium-font-size);
  font-style: var(--text-sm-medium-font-style);
  font-weight: var(--text-sm-medium-font-weight);
  letter-spacing: var(--text-sm-medium-letter-spacing);
  line-height: var(--text-sm-medium-line-height);
  margin-top: -1.00px;
}

.metric-item.icon-03 .number-and-badge {
  align-items: flex-end;
  gap: var(--3-spacing-spacing-xl);
}

.metric-item.icon-02 .number-and-badge {
  align-items: flex-start;
  flex-direction: column;
  gap: var(--3-spacing-spacing-xl);
}

.metric-item.chart-03 .number-and-badge {
  align-items: flex-start;
  flex-direction: column;
  gap: var(--3-spacing-spacing-md);
}

.metric-item.chart-02 .number-and-badge {
  align-items: flex-end;
  gap: var(--3-spacing-spacing-xl);
}

.metric-item.chart-01 .number-and-badge {
  align-items: flex-end;
  gap: var(--3-spacing-spacing-xl);
}

.metric-item.icon-01 .number-and-badge {
  align-items: flex-end;
  gap: var(--3-spacing-spacing-xl);
}

.metric-item.simple .number-and-badge {
  align-items: flex-end;
  gap: var(--3-spacing-spacing-xl);
}

.metric-item.icon-03 .number-18 {
  color: var(--1-color-modes-colors-text-text-primary-900);
  font-family: var(--display-md-semibold-font-family);
  font-size: var(--display-md-semibold-font-size);
  font-style: var(--display-md-semibold-font-style);
  font-weight: var(--display-md-semibold-font-weight);
  letter-spacing: var(--display-md-semibold-letter-spacing);
  line-height: var(--display-md-semibold-line-height);
}

.metric-item.icon-02 .number-18 {
  align-self: stretch;
  color: var(--1-color-modes-colors-text-text-primary-900);
}

.metric-item.chart-03 .number-18 {
  align-self: stretch;
  color: var(--1-color-modes-colors-text-text-tertiary-600);
  font-family: var(--text-sm-medium-font-family);
  font-size: var(--text-sm-medium-font-size);
  font-style: var(--text-sm-medium-font-style);
  font-weight: var(--text-sm-medium-font-weight);
  letter-spacing: var(--text-sm-medium-letter-spacing);
  line-height: var(--text-sm-medium-line-height);
}

.metric-item.chart-02 .number-18 {
  color: var(--1-color-modes-colors-text-text-primary-900);
  font-family: var(--display-md-semibold-font-family);
  font-size: var(--display-md-semibold-font-size);
  font-style: var(--display-md-semibold-font-style);
  font-weight: var(--display-md-semibold-font-weight);
  letter-spacing: var(--display-md-semibold-letter-spacing);
  line-height: var(--display-md-semibold-line-height);
}

.metric-item.chart-01 .number-18 {
  color: var(--1-color-modes-colors-text-text-primary-900);
  font-family: var(--display-md-semibold-font-family);
  font-size: var(--display-md-semibold-font-size);
  font-style: var(--display-md-semibold-font-style);
  font-weight: var(--display-md-semibold-font-weight);
  letter-spacing: var(--display-md-semibold-letter-spacing);
  line-height: var(--display-md-semibold-line-height);
}

.metric-item.icon-01 .number-18 {
  color: var(--1-color-modes-colors-text-text-primary-900);
  font-family: var(--display-md-semibold-font-family);
  font-size: var(--display-md-semibold-font-size);
  font-style: var(--display-md-semibold-font-style);
  font-weight: var(--display-md-semibold-font-weight);
  letter-spacing: var(--display-md-semibold-letter-spacing);
  line-height: var(--display-md-semibold-line-height);
}

.metric-item.simple .number-18 {
  color: var(--1-color-modes-colors-text-text-primary-900);
  flex: 1;
}

.metric-item.icon-02.breakpoint-1-desktop .number-18 {
  font-family: var(--display-md-semibold-font-family);
  font-size: var(--display-md-semibold-font-size);
  font-style: var(--display-md-semibold-font-style);
  font-weight: var(--display-md-semibold-font-weight);
  letter-spacing: var(--display-md-semibold-letter-spacing);
  line-height: var(--display-md-semibold-line-height);
}

.metric-item.breakpoint-1-mobile.simple .number-18 {
  font-family: var(--display-sm-semibold-font-family);
  font-size: var(--display-sm-semibold-font-size);
  font-style: var(--display-sm-semibold-font-style);
  font-weight: var(--display-sm-semibold-font-weight);
  letter-spacing: var(--display-sm-semibold-letter-spacing);
  line-height: var(--display-sm-semibold-line-height);
}

.metric-item.icon-02.breakpoint-1-mobile .number-18 {
  flex: 1;
  font-family: var(--display-sm-semibold-font-family);
  font-size: var(--display-sm-semibold-font-size);
  font-style: var(--display-sm-semibold-font-style);
  font-weight: var(--display-sm-semibold-font-weight);
  letter-spacing: var(--display-sm-semibold-letter-spacing);
  line-height: var(--display-sm-semibold-line-height);
  white-space: nowrap;
}

.metric-item.breakpoint-1-desktop.simple .number-18 {
  font-family: var(--display-md-semibold-font-family);
  font-size: var(--display-md-semibold-font-size);
  font-style: var(--display-md-semibold-font-style);
  font-weight: var(--display-md-semibold-font-weight);
  letter-spacing: var(--display-md-semibold-letter-spacing);
  line-height: var(--display-md-semibold-line-height);
}

.metric-item.icon-03 .badge-wrap {
  align-items: center;
  display: flex;
  gap: var(--3-spacing-spacing-md);
}

.metric-item.icon-02 .badge-wrap {
  align-items: center;
  align-self: stretch;
  display: flex;
  gap: var(--3-spacing-spacing-md);
  width: 100%;
}

.metric-item.chart-03 .badge-wrap {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex-wrap: wrap;
  gap: var(--3-spacing-spacing-xl);
  justify-content: space-between;
  width: 100%;
}

.metric-item.chart-02 .badge-wrap {
  align-items: center;
  display: flex;
  gap: var(--3-spacing-spacing-md);
}

.metric-item.chart-01 .badge-wrap {
  align-items: center;
  display: flex;
  gap: var(--3-spacing-spacing-md);
}

.metric-item.icon-01 .badge-wrap {
  align-items: center;
  display: flex;
  gap: var(--3-spacing-spacing-md);
}

.metric-item.simple .badge-wrap {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: var(--3-spacing-spacing-md);
  padding: 0px 0px var(--3-spacing-spacing-md) 0px;
}

.metric-item.breakpoint-1-mobile .number-19 {
  font-family: var(--display-sm-semibold-font-family);
  font-size: var(--display-sm-semibold-font-size);
  font-style: var(--display-sm-semibold-font-style);
  font-weight: var(--display-sm-semibold-font-weight);
  letter-spacing: var(--display-sm-semibold-letter-spacing);
  line-height: var(--display-sm-semibold-line-height);
}

.metric-item.breakpoint-1-desktop .number-19 {
  font-family: var(--display-md-semibold-font-family);
  font-size: var(--display-md-semibold-font-size);
  font-style: var(--display-md-semibold-font-style);
  font-weight: var(--display-md-semibold-font-weight);
  letter-spacing: var(--display-md-semibold-letter-spacing);
  line-height: var(--display-md-semibold-line-height);
}

.metric-item.breakpoint-1-mobile .number-20 {
  font-family: var(--display-sm-semibold-font-family);
  font-size: var(--display-sm-semibold-font-size);
  font-style: var(--display-sm-semibold-font-style);
  font-weight: var(--display-sm-semibold-font-weight);
  letter-spacing: var(--display-sm-semibold-letter-spacing);
  line-height: var(--display-sm-semibold-line-height);
}

.metric-item.breakpoint-1-desktop .number-20 {
  font-family: var(--display-md-semibold-font-family);
  font-size: var(--display-md-semibold-font-size);
  font-style: var(--display-md-semibold-font-style);
  font-weight: var(--display-md-semibold-font-weight);
  letter-spacing: var(--display-md-semibold-letter-spacing);
  line-height: var(--display-md-semibold-line-height);
}

.metric-item.breakpoint-1-mobile .number-21 {
  font-family: var(--display-sm-semibold-font-family);
  font-size: var(--display-sm-semibold-font-size);
  font-style: var(--display-sm-semibold-font-style);
  font-weight: var(--display-sm-semibold-font-weight);
  letter-spacing: var(--display-sm-semibold-letter-spacing);
  line-height: var(--display-sm-semibold-line-height);
}

.metric-item.breakpoint-1-desktop .number-21 {
  font-family: var(--display-md-semibold-font-family);
  font-size: var(--display-md-semibold-font-size);
  font-style: var(--display-md-semibold-font-style);
  font-weight: var(--display-md-semibold-font-weight);
  letter-spacing: var(--display-md-semibold-letter-spacing);
  line-height: var(--display-md-semibold-line-height);
}

.metric-item.actions-false .heading-and-number {
  color: var(--1-color-modes-colors-text-text-primary-900);
  flex: 1;
  font-family: var(--text-md-semibold-font-family);
  font-size: var(--text-md-semibold-font-size);
  font-style: var(--text-md-semibold-font-style);
  font-weight: var(--text-md-semibold-font-weight);
  letter-spacing: var(--text-md-semibold-letter-spacing);
  line-height: var(--text-md-semibold-line-height);
}

.metric-item.actions-true .heading-and-number {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: var(--3-spacing-spacing-md);
  width: 100%;
}

.metric-item.icon-03 .number-and-badge-4 {
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.metric-item.icon-02 .number-and-badge-4 {
  align-items: flex-end;
}

.metric-item.chart-03 .number-and-badge-4 {
  align-items: flex-end;
}

.metric-item.chart-02 .number-and-badge-4 {
  align-items: flex-end;
}

.metric-item.chart-01 .number-and-badge-4 {
  align-items: flex-end;
}

.metric-item.icon-01 .number-and-badge-4 {
  align-items: flex-end;
}

.metric-item.simple .number-and-badge-4 {
  align-items: flex-end;
}

.metric-item.icon-03 .number-22 {
  white-space: nowrap;
  width: fit-content;
}

.metric-item.breakpoint-1-desktop .number-22 {
  font-family: var(--display-md-semibold-font-family);
  font-size: var(--display-md-semibold-font-size);
  font-style: var(--display-md-semibold-font-style);
  font-weight: var(--display-md-semibold-font-weight);
  letter-spacing: var(--display-md-semibold-letter-spacing);
  line-height: var(--display-md-semibold-line-height);
}

.metric-item.icon-01 .number-22 {
  flex: 1;
}

.metric-item.breakpoint-1-mobile .number-22 {
  font-family: var(--display-sm-semibold-font-family);
  font-size: var(--display-sm-semibold-font-size);
  font-style: var(--display-sm-semibold-font-style);
  font-weight: var(--display-sm-semibold-font-weight);
  letter-spacing: var(--display-sm-semibold-letter-spacing);
  line-height: var(--display-sm-semibold-line-height);
}

.metric-item.icon-03 .badge-wrap-2 {
  align-items: center;
  gap: var(--3-spacing-spacing-md);
}

.metric-item.icon-02 .badge-wrap-2 {
  align-items: flex-start;
}

.metric-item.chart-03 .badge-wrap-2 {
  align-items: flex-start;
}

.metric-item.chart-02 .badge-wrap-2 {
  align-items: flex-start;
}

.metric-item.chart-01 .badge-wrap-2 {
  align-items: flex-start;
}

.metric-item.icon-01 .badge-wrap-2 {
  align-items: flex-start;
  flex-direction: column;
  padding: 0px 0px var(--3-spacing-spacing-md) 0px;
}

.metric-item.simple .badge-wrap-2 {
  align-items: flex-start;
}

.metric-item.icon-03 .number-and-badge-5 {
  flex-direction: column;
}

.metric-item.icon-02 .number-and-badge-5 {
  flex-direction: column;
}

.metric-item.chart-03 .number-and-badge-5 {
  flex-direction: column;
}

.metric-item.actions-true .number-and-badge-5 {
  align-items: center;
  border-color: var(--1-color-modes-colors-border-border-secondary);
  border-top-style: solid;
  border-top-width: 1px;
  flex-direction: column;
}

.metric-item.icon-01 .number-and-badge-5 {
  flex-direction: column;
}

.metric-item.actions-false .number-and-badge-5 {
  gap: var(--3-spacing-spacing-xl);
}

.metric-item.icon-02.actions-false .number-and-badge-5 {
  align-items: flex-start;
}

.metric-item.actions-false.chart-01 .number-and-badge-5 {
  align-items: flex-end;
}

.metric-item.chart-02.actions-false .number-and-badge-5 {
  align-items: flex-end;
}

.metric-item.icon-03.actions-false .number-and-badge-5 {
  align-items: flex-end;
}

.metric-item.icon-01.actions-false .number-and-badge-5 {
  align-items: flex-end;
}

.metric-item.actions-false.simple .number-and-badge-5 {
  align-items: flex-end;
}

.metric-item.chart-03.actions-false .number-and-badge-5 {
  align-items: flex-end;
}

.metric-item.icon-02 .number-23 {
  align-self: stretch;
  color: var(--1-color-modes-colors-text-text-primary-900);
  margin-top: -1.00px;
}

.metric-item.chart-02 .number-23 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: var(--3-spacing-spacing-md);
}

.metric-item.chart-01 .number-23 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: var(--3-spacing-spacing-xl);
}

.metric-item.simple .number-23 {
  color: var(--1-color-modes-colors-text-text-primary-900);
  flex: 1;
  margin-top: -1.00px;
}

.metric-item.icon-02.breakpoint-1-desktop .number-23 {
  font-family: var(--display-md-semibold-font-family);
  font-size: var(--display-md-semibold-font-size);
  font-style: var(--display-md-semibold-font-style);
  font-weight: var(--display-md-semibold-font-weight);
  letter-spacing: var(--display-md-semibold-letter-spacing);
  line-height: var(--display-md-semibold-line-height);
}

.metric-item.breakpoint-1-mobile.simple .number-23 {
  font-family: var(--display-sm-semibold-font-family);
  font-size: var(--display-sm-semibold-font-size);
  font-style: var(--display-sm-semibold-font-style);
  font-weight: var(--display-sm-semibold-font-weight);
  letter-spacing: var(--display-sm-semibold-letter-spacing);
  line-height: var(--display-sm-semibold-line-height);
}

.metric-item.icon-02.breakpoint-1-mobile .number-23 {
  font-family: var(--display-sm-semibold-font-family);
  font-size: var(--display-sm-semibold-font-size);
  font-style: var(--display-sm-semibold-font-style);
  font-weight: var(--display-sm-semibold-font-weight);
  letter-spacing: var(--display-sm-semibold-letter-spacing);
  line-height: var(--display-sm-semibold-line-height);
}

.metric-item.breakpoint-1-desktop.simple .number-23 {
  font-family: var(--display-md-semibold-font-family);
  font-size: var(--display-md-semibold-font-size);
  font-style: var(--display-md-semibold-font-style);
  font-weight: var(--display-md-semibold-font-weight);
  letter-spacing: var(--display-md-semibold-letter-spacing);
  line-height: var(--display-md-semibold-line-height);
}

.metric-item.chart-02 .number-24 {
  white-space: nowrap;
  width: fit-content;
}

.metric-item.chart-01 .number-24 {
  align-self: stretch;
}

.metric-item.breakpoint-1-desktop .number-24 {
  font-family: var(--display-md-semibold-font-family);
  font-size: var(--display-md-semibold-font-size);
  font-style: var(--display-md-semibold-font-style);
  font-weight: var(--display-md-semibold-font-weight);
  letter-spacing: var(--display-md-semibold-letter-spacing);
  line-height: var(--display-md-semibold-line-height);
}

.metric-item.breakpoint-1-mobile .number-24 {
  font-family: var(--display-sm-semibold-font-family);
  font-size: var(--display-sm-semibold-font-size);
  font-style: var(--display-sm-semibold-font-style);
  font-weight: var(--display-sm-semibold-font-weight);
  letter-spacing: var(--display-sm-semibold-letter-spacing);
  line-height: var(--display-sm-semibold-line-height);
}

.metric-item.icon-03 .badge-wrap-3 {
  align-items: flex-start;
  display: inline-flex;
}

.metric-item.icon-02 .badge-wrap-3 {
  align-items: center;
  align-self: stretch;
  display: flex;
  gap: var(--3-spacing-spacing-md);
  width: 100%;
}

.metric-item.chart-03 .badge-wrap-3 {
  align-items: flex-start;
  display: inline-flex;
}

.metric-item.chart-02 .badge-wrap-3 {
  align-items: flex-start;
  display: inline-flex;
}

.metric-item.chart-01 .badge-wrap-3 {
  align-items: flex-start;
  display: inline-flex;
}

.metric-item.icon-01 .badge-wrap-3 {
  align-items: flex-start;
  display: inline-flex;
}

.metric-item.simple .badge-wrap-3 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
}

.metric-item.breakpoint-1-mobile.simple .badge-wrap-3 {
  padding: 0px 0px var(--3-spacing-spacing-xs) 0px;
}

.metric-item.breakpoint-1-desktop.simple .badge-wrap-3 {
  padding: 0px 0px var(--3-spacing-spacing-md) 0px;
}

.metric-item.icon-03 .content-6 {
  justify-content: space-between;
}

.metric-item.icon-02 .content-6 {
  justify-content: flex-end;
}

.metric-item.chart-03 .content-6 {
  justify-content: space-between;
}

.metric-item.chart-02 .content-6 {
  justify-content: space-between;
}

.metric-item.chart-01 .content-6 {
  justify-content: flex-end;
}

.metric-item.icon-01 .content-6 {
  justify-content: flex-end;
}

.metric-item.simple .content-6 {
  justify-content: flex-end;
}

.metric-item.icon-03.breakpoint-1-desktop .content-6 {
  padding: var(--3-spacing-spacing-xl) var(--3-spacing-spacing-3xl)
    var(--3-spacing-spacing-xl) var(--3-spacing-spacing-xl);
}

.metric-item.icon-02.breakpoint-1-desktop .content-6 {
  padding: var(--3-spacing-spacing-xl) var(--3-spacing-spacing-3xl)
    var(--3-spacing-spacing-xl) var(--3-spacing-spacing-3xl);
}

.metric-item.icon-03.breakpoint-1-mobile .content-6 {
  padding: var(--3-spacing-spacing-lg) var(--3-spacing-spacing-xl)
    var(--3-spacing-spacing-lg) var(--3-spacing-spacing-lg);
}

.metric-item.chart-03.breakpoint-1-mobile .content-6 {
  padding: var(--3-spacing-spacing-lg) var(--3-spacing-spacing-xl)
    var(--3-spacing-spacing-lg) var(--3-spacing-spacing-lg);
}

.metric-item.chart-03.breakpoint-1-desktop .content-6 {
  padding: var(--3-spacing-spacing-xl) var(--3-spacing-spacing-3xl)
    var(--3-spacing-spacing-xl) var(--3-spacing-spacing-xl);
}

.metric-item.chart-02.breakpoint-1-desktop .content-6 {
  padding: var(--3-spacing-spacing-xl) var(--3-spacing-spacing-3xl)
    var(--3-spacing-spacing-xl) var(--3-spacing-spacing-xl);
}

.metric-item.breakpoint-1-desktop.chart-01 .content-6 {
  padding: var(--3-spacing-spacing-xl) var(--3-spacing-spacing-3xl)
    var(--3-spacing-spacing-xl) var(--3-spacing-spacing-3xl);
}

.metric-item.breakpoint-1-mobile.simple .content-6 {
  padding: var(--3-spacing-spacing-xl);
}

.metric-item.icon-02.breakpoint-1-mobile .content-6 {
  padding: var(--3-spacing-spacing-xl);
}

.metric-item.icon-01.breakpoint-1-desktop .content-6 {
  padding: var(--3-spacing-spacing-xl) var(--3-spacing-spacing-3xl)
    var(--3-spacing-spacing-xl) var(--3-spacing-spacing-3xl);
}

.metric-item.chart-02.breakpoint-1-mobile .content-6 {
  padding: var(--3-spacing-spacing-lg) var(--3-spacing-spacing-xl)
    var(--3-spacing-spacing-lg) var(--3-spacing-spacing-lg);
}

.metric-item.breakpoint-1-desktop.simple .content-6 {
  padding: var(--3-spacing-spacing-xl) var(--3-spacing-spacing-3xl)
    var(--3-spacing-spacing-xl) var(--3-spacing-spacing-3xl);
}

.metric-item.breakpoint-1-mobile.chart-01 .content-6 {
  padding: var(--3-spacing-spacing-xl);
}

.metric-item.icon-01.breakpoint-1-mobile .content-6 {
  padding: var(--3-spacing-spacing-xl);
}

.metric-item.icon-03 .number-and-badge-6 {
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.metric-item.icon-02 .number-and-badge-6 {
  align-items: center;
}

.metric-item.chart-03 .number-and-badge-6 {
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.metric-item.chart-02 .number-and-badge-6 {
  align-items: center;
}

.metric-item.chart-01 .number-and-badge-6 {
  align-items: center;
}

.metric-item.icon-01 .number-and-badge-6 {
  align-items: flex-end;
}

.metric-item.simple .number-and-badge-6 {
  align-items: center;
}

.metric-item.icon-03 .number-25 {
  font-family: var(--display-sm-semibold-font-family);
  font-size: var(--display-sm-semibold-font-size);
  font-style: var(--display-sm-semibold-font-style);
  font-weight: var(--display-sm-semibold-font-weight);
  letter-spacing: var(--display-sm-semibold-letter-spacing);
  line-height: var(--display-sm-semibold-line-height);
  white-space: nowrap;
  width: fit-content;
}

.metric-item.icon-02 .number-25 {
  font-family: var(--display-sm-semibold-font-family);
  font-size: var(--display-sm-semibold-font-size);
  font-style: var(--display-sm-semibold-font-style);
  font-weight: var(--display-sm-semibold-font-weight);
  letter-spacing: var(--display-sm-semibold-letter-spacing);
  line-height: var(--display-sm-semibold-line-height);
}

.metric-item.chart-03 .number-25 {
  font-family: var(--display-md-semibold-font-family);
  font-size: var(--display-md-semibold-font-size);
  font-style: var(--display-md-semibold-font-style);
  font-weight: var(--display-md-semibold-font-weight);
  letter-spacing: var(--display-md-semibold-letter-spacing);
  line-height: var(--display-md-semibold-line-height);
  white-space: nowrap;
  width: fit-content;
}

.metric-item.chart-02 .number-25 {
  font-family: var(--display-sm-semibold-font-family);
  font-size: var(--display-sm-semibold-font-size);
  font-style: var(--display-sm-semibold-font-style);
  font-weight: var(--display-sm-semibold-font-weight);
  letter-spacing: var(--display-sm-semibold-letter-spacing);
  line-height: var(--display-sm-semibold-line-height);
}

.metric-item.chart-01 .number-25 {
  font-family: var(--display-sm-semibold-font-family);
  font-size: var(--display-sm-semibold-font-size);
  font-style: var(--display-sm-semibold-font-style);
  font-weight: var(--display-sm-semibold-font-weight);
  letter-spacing: var(--display-sm-semibold-letter-spacing);
  line-height: var(--display-sm-semibold-line-height);
}

.metric-item.icon-01 .number-25 {
  flex: 1;
  font-family: var(--display-sm-semibold-font-family);
  font-size: var(--display-sm-semibold-font-size);
  font-style: var(--display-sm-semibold-font-style);
  font-weight: var(--display-sm-semibold-font-weight);
  letter-spacing: var(--display-sm-semibold-letter-spacing);
  line-height: var(--display-sm-semibold-line-height);
}

.metric-item.simple .number-25 {
  font-family: var(--display-sm-semibold-font-family);
  font-size: var(--display-sm-semibold-font-size);
  font-style: var(--display-sm-semibold-font-style);
  font-weight: var(--display-sm-semibold-font-weight);
  letter-spacing: var(--display-sm-semibold-letter-spacing);
  line-height: var(--display-sm-semibold-line-height);
}

.metric-item.icon-03 .badge-wrap-4 {
  align-items: center;
  gap: var(--3-spacing-spacing-md);
}

.metric-item.icon-02 .badge-wrap-4 {
  align-items: center;
}

.metric-item.chart-03 .badge-wrap-4 {
  align-items: center;
  gap: var(--3-spacing-spacing-md);
}

.metric-item.chart-02 .badge-wrap-4 {
  align-items: center;
}

.metric-item.chart-01 .badge-wrap-4 {
  align-items: center;
}

.metric-item.icon-01 .badge-wrap-4 {
  align-items: flex-start;
  flex-direction: column;
  padding: 0px 0px var(--3-spacing-spacing-sm) 0px;
}

.metric-item.simple .badge-wrap-4 {
  align-items: center;
}

.metric-item.icon-03 .number-and-badge-7 {
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.metric-item.icon-02 .number-and-badge-7 {
  align-items: flex-end;
}

.metric-item.chart-03 .number-and-badge-7 {
  align-items: flex-end;
}

.metric-item.chart-02 .number-and-badge-7 {
  align-items: flex-end;
}

.metric-item.chart-01 .number-and-badge-7 {
  align-items: flex-end;
}

.metric-item.icon-01 .number-and-badge-7 {
  align-items: flex-end;
}

.metric-item.simple .number-and-badge-7 {
  align-items: flex-end;
}

.metric-item.icon-03 .number-26 {
  white-space: nowrap;
  width: fit-content;
}

.metric-item.icon-01 .number-26 {
  flex: 1;
}

.metric-item.icon-03 .badge-wrap-5 {
  align-items: center;
  gap: var(--3-spacing-spacing-md);
}

.metric-item.icon-02 .badge-wrap-5 {
  align-items: flex-start;
}

.metric-item.chart-03 .badge-wrap-5 {
  align-items: flex-start;
}

.metric-item.chart-02 .badge-wrap-5 {
  align-items: flex-start;
}

.metric-item.chart-01 .badge-wrap-5 {
  align-items: flex-start;
}

.metric-item.icon-01 .badge-wrap-5 {
  align-items: flex-start;
  flex-direction: column;
  padding: 0px 0px var(--3-spacing-spacing-md) 0px;
}

.metric-item.simple .badge-wrap-5 {
  align-items: flex-start;
}
