.header-navigation-wrapper {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  position: relative;
}

.header-navigation-wrapper .header-navigation-instance {
  flex: 0 0 auto !important;
}

.header-navigation-wrapper .log-out-instance {
  height: 20px !important;
  position: relative !important;
  width: 20px !important;
}
