.checkbox-base .instance-node-20 {
  height: 12px !important;
  left: 2px !important;
  position: absolute !important;
  top: 2px !important;
  width: 12px !important;
}

.checkbox-base .check-2 {
  border-radius: var(--2-radius-radius-full);
  position: relative;
}

.checkbox-base .class-141 {
  height: 16px !important;
  left: 2px !important;
  position: absolute !important;
  top: 2px !important;
  width: 16px !important;
}

.checkbox-base .class-142 {
  height: 14px !important;
  left: 3px !important;
  position: absolute !important;
  top: 3px !important;
  width: 14px !important;
}

.checkbox-base.size-26-md {
  height: 20px;
  width: 20px;
}

.checkbox-base.size-26-sm {
  height: 16px;
  width: 16px;
}

.checkbox-base.state-9-disabled {
  background-color: var(--1-color-modes-colors-background-bg-disabled-subtle);
  border: 1px solid;
  border-color: var(--1-color-modes-colors-border-border-disabled);
}

.checkbox-base.checked-true {
  overflow: hidden;
}

.checkbox-base.checked-false {
  border: 1px solid;
}

.checkbox-base.type-radio {
  border-radius: var(--2-radius-radius-full);
}

.checkbox-base.state-9-focused {
  box-shadow: var(--focus-rings-focus-ring);
}

.checkbox-base.state-9-focused.checked-false {
  background-color: var(--1-color-modes-colors-background-bg-primary);
  border-color: var(--1-color-modes-colors-border-border-primary);
}

.checkbox-base.size-26-md.type-checkbox {
  border-radius: var(--2-radius-radius-sm);
}

.checkbox-base.checked-true.state-9-focused {
  background-color: var(--1-color-modes-colors-background-bg-brand-solid);
}

.checkbox-base.checked-true.type-checkbox {
  position: relative;
}

.checkbox-base.checked-true.state-9-default {
  background-color: var(--1-color-modes-colors-background-bg-brand-solid);
}

.checkbox-base.state-9-hover.checked-false {
  border-color: var(--1-color-modes-colors-border-border-primary);
}

.checkbox-base.checked-true.state-9-hover {
  background-color: var(--1-color-modes-colors-background-bg-brand-solid);
}

.checkbox-base.state-9-default.checked-false {
  border-color: var(--1-color-modes-colors-border-border-primary);
}

.checkbox-base.size-26-sm.type-checkbox {
  border-radius: var(--2-radius-radius-xs);
}

.checkbox-base.size-26-md .check-2 {
  height: 8px;
  left: 6px;
  top: 6px;
  width: 8px;
}

.checkbox-base.size-26-sm .check-2 {
  height: 6px;
  left: 5px;
  top: 5px;
  width: 6px;
}

.checkbox-base.state-9-disabled .check-2 {
  background-color: var(--1-color-modes-colors-foreground-fg-disabled-subtle);
}

.checkbox-base.state-9-hover .check-2 {
  background-color: var(--1-color-modes-colors-foreground-fg-white);
}

.checkbox-base.state-9-default .check-2 {
  background-color: var(--1-color-modes-colors-foreground-fg-white);
}

.checkbox-base.state-9-focused .check-2 {
  background-color: var(--1-color-modes-colors-foreground-fg-white);
}
