.badge {
  align-items: center;
  display: inline-flex;
  position: relative;
}

.badge .text-17 {
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.badge .badge-close-x {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  overflow: hidden;
  padding: var(--3-spacing-spacing-xxs);
  position: relative;
}

.badge .instance-node-10 {
  height: 12px !important;
  position: relative !important;
  width: 12px !important;
}

.badge.icon-0-icon-trailing {
  gap: var(--3-spacing-spacing-xs);
}

.badge.pill-color {
  border: 1px solid;
  border-radius: var(--2-radius-radius-full);
}

.badge.icon-0-x-close {
  gap: var(--3-spacing-spacing-xxs);
}

.badge.pill-outline {
  border: 1.5px solid;
  border-radius: var(--2-radius-radius-full);
}

.badge.color-gray-blue {
  background-color: var(
    --1-color-modes-component-colors-utility-gray-blue-utility-gray-blue-50
  );
  border-color: var(
    --1-color-modes-component-colors-utility-gray-blue-utility-gray-blue-200
  );
}

.badge.badge-modern {
  border: 1px solid;
  box-shadow: var(--shadows-shadow-xs);
}

.badge.badge-color {
  border: 1px solid;
}

.badge.icon-0-only {
  gap: var(--3-spacing-spacing-xs);
}

.badge.badge-color.color-warning {
  background-color: var(
    --1-color-modes-component-colors-utility-warning-utility-warning-50
  );
  border-color: var(
    --1-color-modes-component-colors-utility-warning-utility-warning-200
  );
}

.badge.size-3-lg.badge-color {
  border-radius: var(--2-radius-radius-md);
}

.badge.pill-outline.color-blue-light {
  border-color: var(
    --1-color-modes-component-colors-utility-blue-light-utility-blue-light-600
  );
}

.badge.badge-color.color-pink {
  background-color: var(
    --1-color-modes-component-colors-utility-pink-utility-pink-50
  );
  border-color: var(
    --1-color-modes-component-colors-utility-pink-utility-pink-200
  );
}

.badge.pill-outline.color-gray {
  border-color: var(
    --1-color-modes-component-colors-utility-gray-utility-gray-600
  );
}

.badge.color-blue.pill-color {
  background-color: var(
    --1-color-modes-component-colors-utility-blue-utility-blue-50
  );
  border-color: var(
    --1-color-modes-component-colors-utility-blue-utility-blue-200
  );
}

.badge.size-3-lg.icon-0-country {
  gap: var(--3-spacing-spacing-sm);
}

.badge.pill-outline.color-error {
  border-color: var(
    --1-color-modes-component-colors-utility-error-utility-error-600
  );
}

.badge.badge-modern.color-warning {
  background-color: var(--1-color-modes-colors-background-bg-primary);
  border-color: var(--1-color-modes-colors-border-border-primary);
}

.badge.color-blue-light.pill-color {
  background-color: var(
    --1-color-modes-component-colors-utility-blue-light-utility-blue-light-50
  );
  border-color: var(
    --1-color-modes-component-colors-utility-blue-light-utility-blue-light-200
  );
}

.badge.pill-color.color-warning {
  background-color: var(
    --1-color-modes-component-colors-utility-warning-utility-warning-50
  );
  border-color: var(
    --1-color-modes-component-colors-utility-warning-utility-warning-200
  );
}

.badge.color-blue-light.badge-modern {
  background-color: var(--1-color-modes-colors-background-bg-primary);
  border-color: var(--1-color-modes-colors-border-border-primary);
}

.badge.badge-color.color-success {
  background-color: var(
    --1-color-modes-component-colors-utility-success-utility-success-50
  );
  border-color: var(
    --1-color-modes-component-colors-utility-success-utility-success-200
  );
}

.badge.pill-outline.color-warning {
  border-color: var(
    --1-color-modes-component-colors-utility-warning-utility-warning-600
  );
}

.badge.badge-color.color-blue-light {
  background-color: var(
    --1-color-modes-component-colors-utility-blue-light-utility-blue-light-50
  );
  border-color: var(
    --1-color-modes-component-colors-utility-blue-light-utility-blue-light-200
  );
}

.badge.pill-outline.color-pink {
  border-color: var(
    --1-color-modes-component-colors-utility-pink-utility-pink-600
  );
}

.badge.pill-outline.color-blue {
  border-color: var(
    --1-color-modes-component-colors-utility-blue-utility-blue-600
  );
}

.badge.badge-color.color-brand {
  background-color: var(
    --1-color-modes-component-colors-utility-brand-utility-brand-50
  );
  border-color: var(
    --1-color-modes-component-colors-utility-brand-utility-brand-200
  );
}

.badge.size-3-md.icon-0-icon-leading {
  gap: var(--3-spacing-spacing-xs);
}

.badge.pill-color.color-orange {
  background-color: var(
    --1-color-modes-component-colors-utility-orange-utility-orange-50
  );
  border-color: var(
    --1-color-modes-component-colors-utility-orange-utility-orange-200
  );
}

.badge.color-success.badge-modern {
  background-color: var(--1-color-modes-colors-background-bg-primary);
  border-color: var(--1-color-modes-colors-border-border-primary);
}

.badge.color-pink.pill-color {
  background-color: var(
    --1-color-modes-component-colors-utility-pink-utility-pink-50
  );
  border-color: var(
    --1-color-modes-component-colors-utility-pink-utility-pink-200
  );
}

.badge.badge-color.color-indigo {
  background-color: var(
    --1-color-modes-component-colors-utility-indigo-utility-indigo-50
  );
  border-color: var(
    --1-color-modes-component-colors-utility-indigo-utility-indigo-200
  );
}

.badge.badge-color.size-3-sm {
  border-radius: var(--2-radius-radius-sm);
}

.badge.size-3-md.icon-0-country {
  gap: var(--3-spacing-spacing-sm);
}

.badge.pill-outline.color-blue-gray {
  border-color: var(
    --1-color-modes-component-colors-utility-gray-blue-utility-gray-blue-600
  );
}

.badge.size-3-md.icon-0-only {
  padding: var(--3-spacing-spacing-sm);
}

.badge.size-3-sm.badge-modern {
  border-radius: var(--2-radius-radius-sm);
}

.badge.color-indigo.badge-modern {
  background-color: var(--1-color-modes-colors-background-bg-primary);
  border-color: var(--1-color-modes-colors-border-border-primary);
}

.badge.badge-color.color-blue {
  background-color: var(
    --1-color-modes-component-colors-utility-blue-utility-blue-50
  );
  border-color: var(
    --1-color-modes-component-colors-utility-blue-utility-blue-200
  );
}

.badge.size-3-sm.icon-0-country {
  gap: var(--3-spacing-spacing-xs);
}

.badge.color-gray.pill-color {
  background-color: var(
    --1-color-modes-component-colors-utility-gray-utility-gray-50
  );
  border-color: var(
    --1-color-modes-component-colors-utility-gray-utility-gray-200
  );
}

.badge.badge-modern.color-orange {
  background-color: var(--1-color-modes-colors-background-bg-primary);
  border-color: var(--1-color-modes-colors-border-border-primary);
}

.badge.pill-outline.color-purple {
  border-color: var(
    --1-color-modes-component-colors-utility-purple-utility-purple-600
  );
}

.badge.size-3-lg.icon-0-only {
  padding: var(--3-spacing-spacing-md);
}

.badge.color-gray.badge-modern {
  background-color: var(--1-color-modes-colors-background-bg-primary);
  border-color: var(--1-color-modes-colors-border-border-primary);
}

.badge.icon-0-avatar.size-3-sm {
  gap: var(--3-spacing-spacing-xs);
}

.badge.color-blue-gray.badge-modern {
  background-color: var(--1-color-modes-colors-background-bg-primary);
  border-color: var(--1-color-modes-colors-border-border-primary);
}

.badge.badge-color.color-error {
  background-color: var(
    --1-color-modes-component-colors-utility-error-utility-error-50
  );
  border-color: var(
    --1-color-modes-component-colors-utility-error-utility-error-200
  );
}

.badge.color-success.pill-color {
  background-color: var(
    --1-color-modes-component-colors-utility-success-utility-success-50
  );
  border-color: var(
    --1-color-modes-component-colors-utility-success-utility-success-200
  );
}

.badge.color-error.badge-modern {
  background-color: var(--1-color-modes-colors-background-bg-primary);
  border-color: var(--1-color-modes-colors-border-border-primary);
}

.badge.badge-color.color-blue-gray {
  background-color: var(
    --1-color-modes-component-colors-utility-gray-blue-utility-gray-blue-50
  );
  border-color: var(
    --1-color-modes-component-colors-utility-gray-blue-utility-gray-blue-200
  );
}

.badge.size-3-lg.icon-0-icon-leading {
  gap: var(--3-spacing-spacing-xs);
}

.badge.color-indigo.pill-color {
  background-color: var(
    --1-color-modes-component-colors-utility-indigo-utility-indigo-50
  );
  border-color: var(
    --1-color-modes-component-colors-utility-indigo-utility-indigo-200
  );
}

.badge.color-error.pill-color {
  background-color: var(
    --1-color-modes-component-colors-utility-error-utility-error-50
  );
  border-color: var(
    --1-color-modes-component-colors-utility-error-utility-error-200
  );
}

.badge.icon-0-icon-leading.badge-modern {
  gap: var(--3-spacing-spacing-xs);
}

.badge.badge-color.color-orange {
  background-color: var(
    --1-color-modes-component-colors-utility-orange-utility-orange-50
  );
  border-color: var(
    --1-color-modes-component-colors-utility-orange-utility-orange-200
  );
}

.badge.size-3-md.badge-modern {
  border-radius: var(--2-radius-radius-sm);
}

.badge.color-brand.pill-color {
  background-color: var(
    --1-color-modes-component-colors-utility-brand-utility-brand-50
  );
  border-color: var(
    --1-color-modes-component-colors-utility-brand-utility-brand-200
  );
}

.badge.size-3-lg.icon-0-avatar {
  gap: var(--3-spacing-spacing-sm);
}

.badge.badge-color.color-purple {
  background-color: var(
    --1-color-modes-component-colors-utility-purple-utility-purple-50
  );
  border-color: var(
    --1-color-modes-component-colors-utility-purple-utility-purple-200
  );
}

.badge.color-purple.pill-color {
  background-color: var(
    --1-color-modes-component-colors-utility-purple-utility-purple-50
  );
  border-color: var(
    --1-color-modes-component-colors-utility-purple-utility-purple-200
  );
}

.badge.icon-0-dot.size-3-md {
  gap: var(--3-spacing-spacing-sm);
}

.badge.color-blue.badge-modern {
  background-color: var(--1-color-modes-colors-background-bg-primary);
  border-color: var(--1-color-modes-colors-border-border-primary);
}

.badge.icon-0-avatar.size-3-md {
  gap: var(--3-spacing-spacing-sm);
}

.badge.color-pink.badge-modern {
  background-color: var(--1-color-modes-colors-background-bg-primary);
  border-color: var(--1-color-modes-colors-border-border-primary);
}

.badge.badge-color.icon-0-icon-leading {
  gap: var(--3-spacing-spacing-xs);
}

.badge.size-3-lg.badge-modern {
  border-radius: var(--2-radius-radius-md);
}

.badge.pill-outline.color-indigo {
  border-color: var(
    --1-color-modes-component-colors-utility-indigo-utility-indigo-600
  );
}

.badge.pill-outline.color-success {
  border-color: var(
    --1-color-modes-component-colors-utility-success-utility-success-600
  );
}

.badge.size-3-lg.icon-0-dot {
  gap: var(--3-spacing-spacing-sm);
}

.badge.color-brand.badge-modern {
  background-color: var(--1-color-modes-colors-background-bg-primary);
  border-color: var(--1-color-modes-colors-border-border-primary);
}

.badge.size-3-sm.icon-0-only {
  padding: 5px;
}

.badge.pill-outline.color-orange {
  border-color: var(
    --1-color-modes-component-colors-utility-orange-utility-orange-600
  );
}

.badge.color-purple.badge-modern {
  background-color: var(--1-color-modes-colors-background-bg-primary);
  border-color: var(--1-color-modes-colors-border-border-primary);
}

.badge.badge-color.color-gray {
  background-color: var(
    --1-color-modes-component-colors-utility-gray-utility-gray-50
  );
  border-color: var(
    --1-color-modes-component-colors-utility-gray-utility-gray-200
  );
}

.badge.pill-outline.color-brand {
  border-color: var(
    --1-color-modes-component-colors-utility-brand-utility-brand-600
  );
}

.badge.badge-color.size-3-md {
  border-radius: var(--2-radius-radius-sm);
}

.badge.size-3-sm.icon-0-dot {
  gap: var(--3-spacing-spacing-xs);
}

.badge.pill-outline.icon-0-icon-leading {
  gap: var(--3-spacing-spacing-xs);
}

.badge.size-3-lg.icon-0-dot.pill-color {
  padding: var(--3-spacing-spacing-xs) var(--3-spacing-spacing-lg)
    var(--3-spacing-spacing-xs) 10px;
}

.badge.pill-outline.size-3-sm.icon-0-dot {
  padding: var(--3-spacing-spacing-xxs) var(--3-spacing-spacing-md)
    var(--3-spacing-spacing-xxs) var(--3-spacing-spacing-sm);
}

.badge.size-3-lg.badge-color.icon-0-icon-trailing {
  padding: var(--3-spacing-spacing-xs) var(--3-spacing-spacing-md)
    var(--3-spacing-spacing-xs) 10px;
}

.badge.badge-color.icon-0-avatar.size-3-sm {
  padding: var(--3-spacing-spacing-xxs) var(--3-spacing-spacing-sm)
    var(--3-spacing-spacing-xxs) var(--3-spacing-spacing-xs);
}

.badge.size-3-sm.badge-modern.icon-0-x-close {
  padding: var(--3-spacing-spacing-xxs) 3px var(--3-spacing-spacing-xxs)
    var(--3-spacing-spacing-sm);
}

.badge.size-3-sm.icon-0-dot.badge-modern {
  padding: var(--3-spacing-spacing-xxs) var(--3-spacing-spacing-sm)
    var(--3-spacing-spacing-xxs) var(--3-spacing-spacing-sm);
}

.badge.size-3-sm.icon-0-country.pill-color {
  padding: var(--3-spacing-spacing-xxs) var(--3-spacing-spacing-md)
    var(--3-spacing-spacing-xxs) 3px;
}

.badge.badge-color.size-3-md.icon-0-icon-trailing {
  padding: var(--3-spacing-spacing-xxs) var(--3-spacing-spacing-sm)
    var(--3-spacing-spacing-xxs) var(--3-spacing-spacing-md);
}

.badge.size-3-md.pill-color.icon-0-x-close {
  padding: var(--3-spacing-spacing-xxs) var(--3-spacing-spacing-xs)
    var(--3-spacing-spacing-xxs) 10px;
}

.badge.size-3-lg.badge-color.icon-0-country {
  padding: var(--3-spacing-spacing-xs) 10px var(--3-spacing-spacing-xs)
    var(--3-spacing-spacing-md);
}

.badge.size-3-md.icon-0-country.badge-modern {
  padding: var(--3-spacing-spacing-xxs) var(--3-spacing-spacing-md)
    var(--3-spacing-spacing-xxs) var(--3-spacing-spacing-sm);
}

.badge.badge-color.icon-0-avatar.size-3-md {
  padding: var(--3-spacing-spacing-xxs) var(--3-spacing-spacing-md)
    var(--3-spacing-spacing-xxs) var(--3-spacing-spacing-sm);
}

.badge.badge-color.size-3-sm.icon-0-icon-trailing {
  padding: var(--3-spacing-spacing-xxs) var(--3-spacing-spacing-xs)
    var(--3-spacing-spacing-xxs) var(--3-spacing-spacing-sm);
}

.badge.size-3-lg.icon-0-avatar.pill-outline {
  padding: var(--3-spacing-spacing-xs) var(--3-spacing-spacing-lg)
    var(--3-spacing-spacing-xs) var(--3-spacing-spacing-sm);
}

.badge.size-3-lg.badge-color.icon-0-dot {
  padding: var(--3-spacing-spacing-xs) 10px var(--3-spacing-spacing-xs) 10px;
}

.badge.size-3-md.icon-0-country.pill-color {
  padding: var(--3-spacing-spacing-xxs) 10px var(--3-spacing-spacing-xxs)
    var(--3-spacing-spacing-xs);
}

.badge.size-3-lg.icon-0-false.badge-modern {
  padding: var(--3-spacing-spacing-xs) 10px var(--3-spacing-spacing-xs) 10px;
}

.badge.size-3-lg.pill-outline.icon-0-icon-trailing {
  padding: var(--3-spacing-spacing-xs) 10px var(--3-spacing-spacing-xs)
    var(--3-spacing-spacing-lg);
}

.badge.size-3-sm.pill-color.icon-0-x-close {
  padding: var(--3-spacing-spacing-xxs) 3px var(--3-spacing-spacing-xxs)
    var(--3-spacing-spacing-md);
}

.badge.pill-outline.icon-0-avatar.size-3-sm {
  padding: var(--3-spacing-spacing-xxs) var(--3-spacing-spacing-md)
    var(--3-spacing-spacing-xxs) 3px;
}

.badge.pill-outline.size-3-sm.icon-0-x-close {
  padding: var(--3-spacing-spacing-xxs) 3px var(--3-spacing-spacing-xxs)
    var(--3-spacing-spacing-md);
}

.badge.size-3-lg.pill-color.icon-0-icon-trailing {
  padding: var(--3-spacing-spacing-xs) 10px var(--3-spacing-spacing-xs)
    var(--3-spacing-spacing-lg);
}

.badge.size-3-lg.badge-color.icon-0-false {
  padding: var(--3-spacing-spacing-xs) 10px var(--3-spacing-spacing-xs) 10px;
}

.badge.size-3-sm.icon-0-icon-leading.pill-color {
  gap: var(--3-spacing-spacing-xxs);
  padding: var(--3-spacing-spacing-xxs) var(--3-spacing-spacing-md)
    var(--3-spacing-spacing-xxs) var(--3-spacing-spacing-sm);
}

.badge.size-3-lg.pill-outline.icon-0-x-close {
  padding: var(--3-spacing-spacing-xs) var(--3-spacing-spacing-sm)
    var(--3-spacing-spacing-xs) var(--3-spacing-spacing-lg);
}

.badge.size-3-md.icon-0-false.badge-modern {
  padding: var(--3-spacing-spacing-xxs) var(--3-spacing-spacing-md)
    var(--3-spacing-spacing-xxs) var(--3-spacing-spacing-md);
}

.badge.badge-color.size-3-sm.icon-0-country {
  padding: var(--3-spacing-spacing-xxs) var(--3-spacing-spacing-sm)
    var(--3-spacing-spacing-xxs) var(--3-spacing-spacing-xs);
}

.badge.size-3-lg.icon-0-dot.pill-outline {
  padding: var(--3-spacing-spacing-xs) var(--3-spacing-spacing-lg)
    var(--3-spacing-spacing-xs) 10px;
}

.badge.size-3-lg.icon-0-country.pill-outline {
  padding: var(--3-spacing-spacing-xs) var(--3-spacing-spacing-lg)
    var(--3-spacing-spacing-xs) var(--3-spacing-spacing-sm);
}

.badge.size-3-lg.icon-0-country.badge-modern {
  padding: var(--3-spacing-spacing-xs) 10px var(--3-spacing-spacing-xs)
    var(--3-spacing-spacing-md);
}

.badge.icon-0-avatar.size-3-md.pill-color {
  padding: var(--3-spacing-spacing-xxs) 10px var(--3-spacing-spacing-xxs)
    var(--3-spacing-spacing-xs);
}

.badge.pill-outline.size-3-sm.icon-0-icon-leading {
  padding: var(--3-spacing-spacing-xxs) var(--3-spacing-spacing-md)
    var(--3-spacing-spacing-xxs) var(--3-spacing-spacing-sm);
}

.badge.size-3-lg.pill-color.icon-0-x-close {
  padding: var(--3-spacing-spacing-xs) var(--3-spacing-spacing-sm)
    var(--3-spacing-spacing-xs) var(--3-spacing-spacing-lg);
}

.badge.badge-color.size-3-sm.icon-0-dot {
  padding: var(--3-spacing-spacing-xxs) var(--3-spacing-spacing-sm)
    var(--3-spacing-spacing-xxs) var(--3-spacing-spacing-sm);
}

.badge.badge-color.size-3-sm.icon-0-x-close {
  padding: var(--3-spacing-spacing-xxs) 3px var(--3-spacing-spacing-xxs)
    var(--3-spacing-spacing-sm);
}

.badge.size-3-lg.badge-color.icon-0-icon-leading {
  padding: var(--3-spacing-spacing-xs) 10px var(--3-spacing-spacing-xs)
    var(--3-spacing-spacing-md);
}

.badge.size-3-lg.icon-0-false.pill-outline {
  padding: var(--3-spacing-spacing-xs) var(--3-spacing-spacing-lg)
    var(--3-spacing-spacing-xs) var(--3-spacing-spacing-lg);
}

.badge.pill-outline.size-3-md.icon-0-icon-leading {
  padding: var(--3-spacing-spacing-xxs) 10px var(--3-spacing-spacing-xxs)
    var(--3-spacing-spacing-md);
}

.badge.size-3-lg.icon-0-avatar.badge-color {
  padding: var(--3-spacing-spacing-xs) 10px var(--3-spacing-spacing-xs)
    var(--3-spacing-spacing-md);
}

.badge.pill-outline.size-3-md.icon-0-x-close {
  padding: var(--3-spacing-spacing-xxs) var(--3-spacing-spacing-xs)
    var(--3-spacing-spacing-xxs) 10px;
}

.badge.size-3-md.pill-color.icon-0-icon-trailing {
  padding: var(--3-spacing-spacing-xxs) var(--3-spacing-spacing-md)
    var(--3-spacing-spacing-xxs) 10px;
}

.badge.size-3-lg.icon-0-country.pill-color {
  padding: var(--3-spacing-spacing-xs) var(--3-spacing-spacing-lg)
    var(--3-spacing-spacing-xs) var(--3-spacing-spacing-sm);
}

.badge.pill-outline.icon-0-avatar.size-3-md {
  padding: var(--3-spacing-spacing-xxs) 10px var(--3-spacing-spacing-xxs)
    var(--3-spacing-spacing-xs);
}

.badge.pill-outline.size-3-md.icon-0-false {
  padding: var(--3-spacing-spacing-xxs) 10px var(--3-spacing-spacing-xxs) 10px;
}

.badge.badge-color.size-3-md.icon-0-icon-leading {
  padding: var(--3-spacing-spacing-xxs) var(--3-spacing-spacing-md)
    var(--3-spacing-spacing-xxs) var(--3-spacing-spacing-sm);
}

.badge.size-3-sm.icon-0-dot.pill-color {
  padding: var(--3-spacing-spacing-xxs) var(--3-spacing-spacing-md)
    var(--3-spacing-spacing-xxs) var(--3-spacing-spacing-sm);
}

.badge.size-3-lg.icon-0-icon-leading.badge-modern {
  padding: var(--3-spacing-spacing-xs) 10px var(--3-spacing-spacing-xs)
    var(--3-spacing-spacing-md);
}

.badge.size-3-lg.badge-modern.icon-0-icon-trailing {
  padding: var(--3-spacing-spacing-xs) var(--3-spacing-spacing-md)
    var(--3-spacing-spacing-xs) 10px;
}

.badge.size-3-lg.icon-0-icon-leading.pill-outline {
  padding: var(--3-spacing-spacing-xs) var(--3-spacing-spacing-lg)
    var(--3-spacing-spacing-xs) 10px;
}

.badge.badge-color.size-3-sm.icon-0-icon-leading {
  padding: var(--3-spacing-spacing-xxs) var(--3-spacing-spacing-sm)
    var(--3-spacing-spacing-xxs) var(--3-spacing-spacing-xs);
}

.badge.size-3-lg.icon-0-icon-leading.pill-color {
  padding: var(--3-spacing-spacing-xs) var(--3-spacing-spacing-lg)
    var(--3-spacing-spacing-xs) 10px;
}

.badge.pill-outline.size-3-sm.icon-0-false {
  padding: var(--3-spacing-spacing-xxs) var(--3-spacing-spacing-md)
    var(--3-spacing-spacing-xxs) var(--3-spacing-spacing-md);
}

.badge.size-3-lg.icon-0-avatar.pill-color {
  padding: var(--3-spacing-spacing-xs) var(--3-spacing-spacing-lg)
    var(--3-spacing-spacing-xs) var(--3-spacing-spacing-sm);
}

.badge.size-3-sm.icon-0-country.badge-modern {
  padding: var(--3-spacing-spacing-xxs) var(--3-spacing-spacing-sm)
    var(--3-spacing-spacing-xxs) var(--3-spacing-spacing-xs);
}

.badge.pill-outline.size-3-md.icon-0-country {
  padding: var(--3-spacing-spacing-xxs) 10px var(--3-spacing-spacing-xxs)
    var(--3-spacing-spacing-xs);
}

.badge.pill-outline.icon-0-dot.size-3-md {
  padding: var(--3-spacing-spacing-xxs) 10px var(--3-spacing-spacing-xxs)
    var(--3-spacing-spacing-md);
}

.badge.icon-0-dot.size-3-md.badge-modern {
  padding: var(--3-spacing-spacing-xxs) var(--3-spacing-spacing-md)
    var(--3-spacing-spacing-xxs) var(--3-spacing-spacing-md);
}

.badge.icon-0-dot.size-3-md.pill-color {
  padding: var(--3-spacing-spacing-xxs) 10px var(--3-spacing-spacing-xxs)
    var(--3-spacing-spacing-md);
}

.badge.size-3-md.badge-modern.icon-0-x-close {
  padding: var(--3-spacing-spacing-xxs) var(--3-spacing-spacing-xs)
    var(--3-spacing-spacing-xxs) var(--3-spacing-spacing-md);
}

.badge.size-3-lg.icon-0-dot.badge-modern {
  padding: var(--3-spacing-spacing-xs) 10px var(--3-spacing-spacing-xs) 10px;
}

.badge.size-3-sm.pill-color.icon-0-icon-trailing {
  padding: var(--3-spacing-spacing-xxs) var(--3-spacing-spacing-sm)
    var(--3-spacing-spacing-xxs) var(--3-spacing-spacing-md);
}

.badge.size-3-md.icon-0-icon-leading.badge-modern {
  padding: var(--3-spacing-spacing-xxs) var(--3-spacing-spacing-md)
    var(--3-spacing-spacing-xxs) var(--3-spacing-spacing-sm);
}

.badge.pill-outline.size-3-md.icon-0-icon-trailing {
  padding: var(--3-spacing-spacing-xxs) var(--3-spacing-spacing-md)
    var(--3-spacing-spacing-xxs) 10px;
}

.badge.icon-0-avatar.size-3-sm.pill-color {
  padding: var(--3-spacing-spacing-xxs) var(--3-spacing-spacing-md)
    var(--3-spacing-spacing-xxs) 3px;
}

.badge.icon-0-avatar.size-3-sm.badge-modern {
  padding: var(--3-spacing-spacing-xxs) var(--3-spacing-spacing-sm)
    var(--3-spacing-spacing-xxs) var(--3-spacing-spacing-xs);
}

.badge.size-3-lg.icon-0-false.pill-color {
  padding: var(--3-spacing-spacing-xs) var(--3-spacing-spacing-lg)
    var(--3-spacing-spacing-xs) var(--3-spacing-spacing-lg);
}

.badge.badge-modern.size-3-md.icon-0-icon-trailing {
  padding: var(--3-spacing-spacing-xxs) var(--3-spacing-spacing-sm)
    var(--3-spacing-spacing-xxs) var(--3-spacing-spacing-md);
}

.badge.badge-color.size-3-md.icon-0-false {
  padding: var(--3-spacing-spacing-xxs) var(--3-spacing-spacing-md)
    var(--3-spacing-spacing-xxs) var(--3-spacing-spacing-md);
}

.badge.size-3-lg.icon-0-avatar.badge-modern {
  padding: var(--3-spacing-spacing-xs) 10px var(--3-spacing-spacing-xs)
    var(--3-spacing-spacing-md);
}

.badge.pill-outline.size-3-sm.icon-0-icon-trailing {
  padding: var(--3-spacing-spacing-xxs) var(--3-spacing-spacing-sm)
    var(--3-spacing-spacing-xxs) var(--3-spacing-spacing-md);
}

.badge.size-3-md.icon-0-false.pill-color {
  padding: var(--3-spacing-spacing-xxs) 10px var(--3-spacing-spacing-xxs) 10px;
}

.badge.icon-0-avatar.size-3-md.badge-modern {
  padding: var(--3-spacing-spacing-xxs) var(--3-spacing-spacing-md)
    var(--3-spacing-spacing-xxs) var(--3-spacing-spacing-sm);
}

.badge.badge-color.size-3-md.icon-0-x-close {
  padding: var(--3-spacing-spacing-xxs) var(--3-spacing-spacing-xs)
    var(--3-spacing-spacing-xxs) var(--3-spacing-spacing-md);
}

.badge.size-3-sm.icon-0-icon-leading.badge-modern {
  padding: var(--3-spacing-spacing-xxs) var(--3-spacing-spacing-sm)
    var(--3-spacing-spacing-xxs) var(--3-spacing-spacing-xs);
}

.badge.badge-color.icon-0-dot.size-3-md {
  padding: var(--3-spacing-spacing-xxs) var(--3-spacing-spacing-md)
    var(--3-spacing-spacing-xxs) var(--3-spacing-spacing-md);
}

.badge.size-3-sm.icon-0-false.pill-color {
  padding: var(--3-spacing-spacing-xxs) var(--3-spacing-spacing-md)
    var(--3-spacing-spacing-xxs) var(--3-spacing-spacing-md);
}

.badge.badge-color.size-3-sm.icon-0-false {
  padding: var(--3-spacing-spacing-xxs) var(--3-spacing-spacing-sm)
    var(--3-spacing-spacing-xxs) var(--3-spacing-spacing-sm);
}

.badge.badge-modern.size-3-sm.icon-0-icon-trailing {
  padding: var(--3-spacing-spacing-xxs) var(--3-spacing-spacing-xs)
    var(--3-spacing-spacing-xxs) var(--3-spacing-spacing-sm);
}

.badge.size-3-lg.badge-color.icon-0-x-close {
  padding: var(--3-spacing-spacing-xs) var(--3-spacing-spacing-sm)
    var(--3-spacing-spacing-xs) 10px;
}

.badge.size-3-md.icon-0-icon-leading.pill-color {
  padding: var(--3-spacing-spacing-xxs) 10px var(--3-spacing-spacing-xxs)
    var(--3-spacing-spacing-md);
}

.badge.size-3-lg.badge-modern.icon-0-x-close {
  padding: var(--3-spacing-spacing-xs) var(--3-spacing-spacing-sm)
    var(--3-spacing-spacing-xs) 10px;
}

.badge.pill-outline.size-3-sm.icon-0-country {
  padding: var(--3-spacing-spacing-xxs) var(--3-spacing-spacing-md)
    var(--3-spacing-spacing-xxs) 3px;
}

.badge.badge-color.size-3-md.icon-0-country {
  padding: var(--3-spacing-spacing-xxs) var(--3-spacing-spacing-md)
    var(--3-spacing-spacing-xxs) var(--3-spacing-spacing-sm);
}

.badge.size-3-sm.icon-0-false.badge-modern {
  padding: var(--3-spacing-spacing-xxs) var(--3-spacing-spacing-sm)
    var(--3-spacing-spacing-xxs) var(--3-spacing-spacing-sm);
}

.badge.size-3-sm .text-17 {
  font-family: var(--text-xs-medium-font-family);
  font-size: var(--text-xs-medium-font-size);
  font-style: var(--text-xs-medium-font-style);
  font-weight: var(--text-xs-medium-font-weight);
  letter-spacing: var(--text-xs-medium-letter-spacing);
  line-height: var(--text-xs-medium-line-height);
}

.badge.pill-color .text-17 {
  margin-top: -1.00px;
}

.badge.pill-outline .text-17 {
  margin-top: -1.50px;
}

.badge.size-3-md .text-17 {
  font-family: var(--text-sm-medium-font-family);
  font-size: var(--text-sm-medium-font-size);
  font-style: var(--text-sm-medium-font-style);
  font-weight: var(--text-sm-medium-font-weight);
  letter-spacing: var(--text-sm-medium-letter-spacing);
  line-height: var(--text-sm-medium-line-height);
}

.badge.badge-modern .text-17 {
  color: var(--1-color-modes-colors-text-text-secondary-700);
  margin-top: -1.00px;
}

.badge.size-3-lg .text-17 {
  font-family: var(--text-sm-medium-font-family);
  font-size: var(--text-sm-medium-font-size);
  font-style: var(--text-sm-medium-font-style);
  font-weight: var(--text-sm-medium-font-weight);
  letter-spacing: var(--text-sm-medium-letter-spacing);
  line-height: var(--text-sm-medium-line-height);
}

.badge.badge-color .text-17 {
  margin-top: -1.00px;
}

.badge.badge-color.color-warning .text-17 {
  color: var(
    --1-color-modes-component-colors-utility-warning-utility-warning-700
  );
}

.badge.pill-outline.color-blue-light .text-17 {
  color: var(
    --1-color-modes-component-colors-utility-blue-light-utility-blue-light-700
  );
}

.badge.badge-color.color-pink .text-17 {
  color: var(--1-color-modes-component-colors-utility-pink-utility-pink-700);
}

.badge.pill-outline.color-gray .text-17 {
  color: var(--1-color-modes-component-colors-utility-gray-utility-gray-700);
}

.badge.color-blue.pill-color .text-17 {
  color: var(--1-color-modes-component-colors-utility-blue-utility-blue-700);
}

.badge.pill-outline.color-error .text-17 {
  color: var(--1-color-modes-component-colors-utility-error-utility-error-700);
}

.badge.color-blue-light.pill-color .text-17 {
  color: var(
    --1-color-modes-component-colors-utility-blue-light-utility-blue-light-700
  );
}

.badge.pill-color.color-warning .text-17 {
  color: var(
    --1-color-modes-component-colors-utility-warning-utility-warning-700
  );
}

.badge.badge-color.color-success .text-17 {
  color: var(
    --1-color-modes-component-colors-utility-success-utility-success-700
  );
}

.badge.pill-outline.color-warning .text-17 {
  color: var(
    --1-color-modes-component-colors-utility-warning-utility-warning-700
  );
}

.badge.badge-color.color-blue-light .text-17 {
  color: var(
    --1-color-modes-component-colors-utility-blue-light-utility-blue-light-700
  );
}

.badge.pill-outline.color-pink .text-17 {
  color: var(--1-color-modes-component-colors-utility-pink-utility-pink-700);
}

.badge.pill-outline.color-blue .text-17 {
  color: var(--1-color-modes-component-colors-utility-blue-utility-blue-700);
}

.badge.badge-color.color-brand .text-17 {
  color: var(--1-color-modes-component-colors-utility-brand-utility-brand-700);
}

.badge.pill-color.color-orange .text-17 {
  color: var(--1-color-modes-component-colors-utility-orange-utility-orange-700);
}

.badge.color-pink.pill-color .text-17 {
  color: var(--1-color-modes-component-colors-utility-pink-utility-pink-700);
}

.badge.badge-color.color-indigo .text-17 {
  color: var(--1-color-modes-component-colors-utility-indigo-utility-indigo-700);
}

.badge.pill-outline.color-blue-gray .text-17 {
  color: var(
    --1-color-modes-component-colors-utility-gray-blue-utility-gray-blue-700
  );
}

.badge.pill-color.color-gray-blue .text-17 {
  color: var(
    --1-color-modes-component-colors-utility-gray-blue-utility-gray-blue-700
  );
}

.badge.badge-color.color-blue .text-17 {
  color: var(--1-color-modes-component-colors-utility-blue-utility-blue-700);
}

.badge.color-gray.pill-color .text-17 {
  color: var(--1-color-modes-component-colors-utility-gray-utility-gray-700);
}

.badge.pill-outline.color-purple .text-17 {
  color: var(--1-color-modes-component-colors-utility-purple-utility-purple-700);
}

.badge.badge-color.color-error .text-17 {
  color: var(--1-color-modes-component-colors-utility-error-utility-error-700);
}

.badge.color-success.pill-color .text-17 {
  color: var(
    --1-color-modes-component-colors-utility-success-utility-success-700
  );
}

.badge.badge-color.color-blue-gray .text-17 {
  color: var(
    --1-color-modes-component-colors-utility-gray-blue-utility-gray-blue-700
  );
}

.badge.color-indigo.pill-color .text-17 {
  color: var(--1-color-modes-component-colors-utility-indigo-utility-indigo-700);
}

.badge.color-error.pill-color .text-17 {
  color: var(--1-color-modes-component-colors-utility-error-utility-error-700);
}

.badge.badge-color.color-orange .text-17 {
  color: var(--1-color-modes-component-colors-utility-orange-utility-orange-700);
}

.badge.color-brand.pill-color .text-17 {
  color: var(--1-color-modes-component-colors-utility-brand-utility-brand-700);
}

.badge.color-purple.pill-color .text-17 {
  color: var(--1-color-modes-component-colors-utility-purple-utility-purple-700);
}

.badge.badge-color.color-purple .text-17 {
  color: var(--1-color-modes-component-colors-utility-purple-utility-purple-700);
}

.badge.pill-outline.color-indigo .text-17 {
  color: var(--1-color-modes-component-colors-utility-indigo-utility-indigo-700);
}

.badge.pill-outline.color-gray-blue .text-17 {
  color: var(
    --1-color-modes-component-colors-utility-gray-blue-utility-gray-blue-700
  );
}

.badge.pill-outline.color-orange .text-17 {
  color: var(--1-color-modes-component-colors-utility-orange-utility-orange-700);
}

.badge.badge-color.color-gray .text-17 {
  color: var(--1-color-modes-component-colors-utility-gray-utility-gray-700);
}

.badge.pill-outline.color-brand .text-17 {
  color: var(--1-color-modes-component-colors-utility-brand-utility-brand-700);
}

.badge.badge-color.color-gray-blue .text-17 {
  color: var(
    --1-color-modes-component-colors-utility-gray-blue-utility-gray-blue-700
  );
}

.badge.pill-outline.color-success .text-17 {
  color: var(
    --1-color-modes-component-colors-utility-success-utility-success-700
  );
}

.badge.badge-color .badge-close-x {
  border-radius: 3px;
}

.badge.badge-modern .badge-close-x {
  border-radius: 3px;
}

.badge.pill-outline .badge-close-x {
  border-radius: var(--2-radius-radius-full);
}

.badge.pill-color .badge-close-x {
  border-radius: var(--2-radius-radius-full);
}
