.header-navigation {
  align-items: center;
  background-color: var(--1-color-modes-colors-background-bg-primary);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: var(--1-color-modes-colors-border-border-secondary);
  display: flex;
  flex-direction: column;
  position: relative;
  width: 1440px;
}

.header-navigation .div {
  align-items: center;
  display: flex;
  height: 72px;
  justify-content: space-between;
  max-width: var(--5-containers-container-max-width-desktop);
  position: relative;
  width: 100%;
}

.header-navigation .content-2 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: var(--3-spacing-spacing-xl);
  position: relative;
}

.header-navigation .content-3 {
  background-color: var(--m3-schemes-primary-container);
  border: 0.3px solid;
  border-color: #cfd4dc;
  border-radius: 6px;
  height: 32px;
  overflow: hidden;
  position: relative;
  width: 32px;
}

.header-navigation .star {
  height: 24px;
  left: 4px;
  object-fit: cover;
  position: absolute;
  top: 4px;
  width: 24px;
}

.header-navigation .text-2 {
  color: var(--1-color-modes-colors-text-text-primary-900);
  font-family: var(--text-lg-semibold-font-family);
  font-size: var(--text-lg-semibold-font-size);
  font-style: var(--text-lg-semibold-font-style);
  font-weight: var(--text-lg-semibold-font-weight);
  letter-spacing: var(--text-lg-semibold-letter-spacing);
  line-height: var(--text-lg-semibold-line-height);
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.header-navigation .navigation {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: var(--3-spacing-spacing-xs);
  position: relative;
}

.header-navigation .nav-item-base-instance {
  display: inline-flex !important;
  flex: 0 0 auto !important;
  width: unset !important;
}

.header-navigation .design-component-instance-node {
  display: inline-flex !important;
  flex: 0 0 auto !important;
  flex-grow: unset !important;
}

.header-navigation .actions {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: var(--3-spacing-spacing-xs);
  position: relative;
}

.header-navigation .nav-item-button-instance {
  height: unset !important;
}

.header-navigation .log-out {
  height: 20px !important;
  position: relative !important;
  width: 20px !important;
}
