.section-label {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  max-width: 280px;
  position: relative;
  width: 280px;
}

.section-label .text-and-supporting-9 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.section-label .text-wrapper-8 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  position: relative;
}

.section-label .text-34 {
  color: var(--1-color-modes-colors-text-text-secondary-700);
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.section-label .asterisk-3 {
  color: var(--1-color-modes-colors-text-text-brand-tertiary-600);
  font-family: var(--text-sm-semibold-font-family);
  font-size: var(--text-sm-semibold-font-size);
  font-style: var(--text-sm-semibold-font-style);
  font-weight: var(--text-sm-semibold-font-weight);
  letter-spacing: var(--text-sm-semibold-letter-spacing);
  line-height: var(--text-sm-semibold-line-height);
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.section-label .class-111 {
  background-image: url(../../../static/img/help-circle-135.svg) !important;
  position: relative !important;
}

.section-label .class-112 {
  background-image: url(../../../static/img/help-circle-134.svg) !important;
  position: relative !important;
}

.section-label .supporting-text-6 {
  align-self: stretch;
  color: var(--1-color-modes-colors-text-text-tertiary-600);
  position: relative;
}

.section-label .actions-8 {
  display: inline-flex;
  flex: 0 0 auto;
  position: relative;
}

.section-label .buttons-button-7 {
  flex: 0 0 auto !important;
}

.section-label .text-35 {
  color: var(--1-color-modes-colors-text-text-secondary-700);
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.section-label .asterisk-4 {
  color: var(--1-color-modes-colors-text-text-brand-tertiary-600);
  font-family: var(--text-sm-semibold-font-family);
  font-size: var(--text-sm-semibold-font-size);
  font-style: var(--text-sm-semibold-font-style);
  font-weight: var(--text-sm-semibold-font-weight);
  letter-spacing: var(--text-sm-semibold-letter-spacing);
  line-height: var(--text-sm-semibold-line-height);
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.section-label .class-113 {
  background-image: url(../../../static/img/help-circle-133.svg) !important;
  position: relative !important;
}

.section-label .class-114 {
  background-image: url(../../../static/img/help-circle-132.svg) !important;
  position: relative !important;
}

.section-label .supporting-text-7 {
  align-self: stretch;
  color: var(--1-color-modes-colors-text-text-tertiary-600);
  position: relative;
}

.section-label.actions-true {
  gap: var(--3-spacing-spacing-lg);
}

.section-label .size-10-md {
  gap: var(--3-spacing-spacing-xs);
}

.section-label .size-10-sm {
  gap: var(--3-spacing-spacing-xxs);
}

.section-label .size-12-md {
  font-family: var(--text-md-regular-font-family);
  font-size: var(--text-md-regular-font-size);
  font-style: var(--text-md-regular-font-style);
  font-weight: var(--text-md-regular-font-weight);
  letter-spacing: var(--text-md-regular-letter-spacing);
  line-height: var(--text-md-regular-line-height);
}

.section-label .size-12-sm {
  font-family: var(--text-sm-regular-font-family);
  font-size: var(--text-sm-regular-font-size);
  font-style: var(--text-sm-regular-font-style);
  font-weight: var(--text-sm-regular-font-weight);
  letter-spacing: var(--text-sm-regular-letter-spacing);
  line-height: var(--text-sm-regular-line-height);
}

.section-label .actions-3-false {
  align-items: center;
}

.section-label .actions-3-true {
  align-items: flex-start;
  gap: var(--3-spacing-spacing-md);
}

.section-label .actions-3-false.size-13-md {
  gap: var(--3-spacing-spacing-xs);
}

.section-label .actions-3-false.size-13-sm {
  gap: var(--3-spacing-spacing-xxs);
}

.section-label .size-16-md {
  font-family: var(--text-md-regular-font-family);
  font-size: var(--text-md-regular-font-size);
  font-style: var(--text-md-regular-font-style);
  font-weight: var(--text-md-regular-font-weight);
  letter-spacing: var(--text-md-regular-letter-spacing);
  line-height: var(--text-md-regular-line-height);
}

.section-label .size-16-sm {
  font-family: var(--text-sm-regular-font-family);
  font-size: var(--text-sm-regular-font-size);
  font-style: var(--text-sm-regular-font-style);
  font-weight: var(--text-sm-regular-font-weight);
  letter-spacing: var(--text-sm-regular-letter-spacing);
  line-height: var(--text-sm-regular-line-height);
}

.section-label .text-wrapper-8.size-10-md .text-34 {
  font-family: var(--text-md-semibold-font-family);
  font-size: var(--text-md-semibold-font-size);
  font-style: var(--text-md-semibold-font-style);
  font-weight: var(--text-md-semibold-font-weight);
  letter-spacing: var(--text-md-semibold-letter-spacing);
  line-height: var(--text-md-semibold-line-height);
}

.section-label .text-wrapper-8.size-10-sm .text-34 {
  font-family: var(--text-sm-semibold-font-family);
  font-size: var(--text-sm-semibold-font-size);
  font-style: var(--text-sm-semibold-font-style);
  font-weight: var(--text-sm-semibold-font-weight);
  letter-spacing: var(--text-sm-semibold-letter-spacing);
  line-height: var(--text-sm-semibold-line-height);
}

.section-label .text-wrapper-8.size-10-sm .asterisk-3 {
  margin-top: -1.00px;
}

.section-label .actions-8.size-13-md .text-35 {
  font-family: var(--text-md-semibold-font-family);
  font-size: var(--text-md-semibold-font-size);
  font-style: var(--text-md-semibold-font-style);
  font-weight: var(--text-md-semibold-font-weight);
  letter-spacing: var(--text-md-semibold-letter-spacing);
  line-height: var(--text-md-semibold-line-height);
}

.section-label .actions-8.size-13-sm .text-35 {
  font-family: var(--text-sm-semibold-font-family);
  font-size: var(--text-sm-semibold-font-size);
  font-style: var(--text-sm-semibold-font-style);
  font-weight: var(--text-sm-semibold-font-weight);
  letter-spacing: var(--text-sm-semibold-letter-spacing);
  line-height: var(--text-sm-semibold-line-height);
}

.section-label .actions-8.size-13-sm .asterisk-4 {
  margin-top: -1.00px;
}
