.input-field {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: var(--3-spacing-spacing-sm);
  position: relative;
}

.input-field .input-with-label-2 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: var(--3-spacing-spacing-sm);
  position: relative;
  width: 100%;
}

.input-field .label-wrapper-2 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: var(--3-spacing-spacing-xxs);
  position: relative;
}

.input-field .label-2 {
  color: var(--1-color-modes-colors-text-text-secondary-700);
  font-family: var(--text-sm-medium-font-family);
  font-size: var(--text-sm-medium-font-size);
  font-style: var(--text-sm-medium-font-style);
  font-weight: var(--text-sm-medium-font-weight);
  letter-spacing: var(--text-sm-medium-letter-spacing);
  line-height: var(--text-sm-medium-line-height);
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.input-field .asterisk-2 {
  color: var(--1-color-modes-colors-text-text-brand-tertiary-600);
  font-family: var(--text-sm-medium-font-family);
  font-size: var(--text-sm-medium-font-size);
  font-style: var(--text-sm-medium-font-style);
  font-weight: var(--text-sm-medium-font-weight);
  letter-spacing: var(--text-sm-medium-letter-spacing);
  line-height: var(--text-sm-medium-line-height);
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.input-field .input-2 {
  align-self: stretch;
  border-radius: var(--2-radius-radius-md);
  box-shadow: var(--shadows-shadow-xs);
  display: flex;
  flex: 0 0 auto;
  position: relative;
  width: 100%;
}

.input-field .content-17 {
  align-items: center;
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: var(--3-spacing-spacing-md);
  position: relative;
}

.input-field .instance-node-18 {
  height: 20px !important;
  position: relative !important;
  width: 20px !important;
}

.input-field .payment-method-icon-2 {
  position: relative;
}

.input-field .mastercard {
  background-image: url(../../../static/img/left.svg);
  background-size: 100% 100%;
  height: 13px;
  left: 6px;
  position: relative;
  top: 5px;
  width: 22px;
}

.input-field .overlap-group-4 {
  height: 13px;
  left: 9px;
  position: relative;
  width: 14px;
}

.input-field .right-2 {
  height: 13px;
  left: 2px;
  position: absolute;
  top: 0;
  width: 11px;
}

.input-field .middle {
  height: 10px;
  left: 0;
  position: absolute;
  top: 2px;
  width: 5px;
}

.input-field .tag-2 {
  align-items: center;
  background-color: var(--1-color-modes-colors-background-bg-primary);
  border: 1px solid;
  border-color: var(--1-color-modes-colors-border-border-primary);
  border-radius: var(--2-radius-radius-sm);
  display: inline-flex;
  flex: 0 0 auto;
  gap: 3px;
  justify-content: center;
  padding: var(--3-spacing-spacing-xxs) var(--3-spacing-spacing-xs)
    var(--3-spacing-spacing-xxs) 5px;
  position: relative;
}

.input-field .content-18 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 5px;
  position: relative;
}

.input-field .avatar-6 {
  border: 0.33px solid !important;
  height: 16px !important;
}

.input-field .instance-node-19 {
  height: 16px !important;
  position: relative !important;
  width: 16px !important;
}

.input-field .text-27 {
  color: var(--1-color-modes-colors-text-text-secondary-700);
  font-family: var(--text-sm-medium-font-family);
  font-size: var(--text-sm-medium-font-size);
  font-style: var(--text-sm-medium-font-style);
  font-weight: var(--text-sm-medium-font-weight);
  letter-spacing: var(--text-sm-medium-letter-spacing);
  line-height: var(--text-sm-medium-line-height);
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.input-field .x-close-wrapper {
  align-items: flex-start;
  border-radius: 3px;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  overflow: hidden;
  padding: var(--3-spacing-spacing-xxs);
  position: relative;
}

.input-field .x-close-30 {
  height: 12px !important;
  position: relative !important;
  width: 12px !important;
}

.input-field .text-28 {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  display: -webkit-box;
  flex: 1;
  font-family: var(--text-md-regular-font-family);
  font-size: var(--text-md-regular-font-size);
  font-style: var(--text-md-regular-font-style);
  font-weight: var(--text-md-regular-font-weight);
  letter-spacing: var(--text-md-regular-letter-spacing);
  line-height: var(--text-md-regular-line-height);
  margin-top: -1.00px;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
}

.input-field .class-45 {
  background-image: url(../../../static/img/help-circle-69.svg) !important;
  position: relative !important;
}

.input-field .class-46 {
  background-image: url(../../../static/img/help-circle-70.svg) !important;
  position: relative !important;
}

.input-field .class-47 {
  background-image: url(../../../static/img/help-circle-71.svg) !important;
  position: relative !important;
}

.input-field .class-48 {
  background-image: url(../../../static/img/help-circle-72.svg) !important;
  position: relative !important;
}

.input-field .class-49 {
  background-image: url(../../../static/img/help-circle-73.svg) !important;
  position: relative !important;
}

.input-field .class-50 {
  background-image: url(../../../static/img/help-circle-74.svg) !important;
  position: relative !important;
}

.input-field .class-51 {
  background-image: url(../../../static/img/help-circle-75.svg) !important;
  position: relative !important;
}

.input-field .class-52 {
  background-image: url(../../../static/img/help-circle-76.svg) !important;
  position: relative !important;
}

.input-field .class-53 {
  background-image: url(../../../static/img/help-circle-77.svg) !important;
  position: relative !important;
}

.input-field .class-54 {
  background-image: url(../../../static/img/help-circle-78.svg) !important;
  position: relative !important;
}

.input-field .class-55 {
  background-image: url(../../../static/img/help-circle-79.svg) !important;
  position: relative !important;
}

.input-field .class-56 {
  background-image: url(../../../static/img/help-circle-80.svg) !important;
  position: relative !important;
}

.input-field .class-57 {
  background-image: url(../../../static/img/help-circle-81.svg) !important;
  position: relative !important;
}

.input-field .class-58 {
  background-image: url(../../../static/img/help-circle-82.svg) !important;
  position: relative !important;
}

.input-field .class-59 {
  background-image: url(../../../static/img/help-circle-83.svg) !important;
  position: relative !important;
}

.input-field .class-60 {
  background-image: url(../../../static/img/help-circle-84.svg) !important;
  position: relative !important;
}

.input-field .class-61 {
  background-image: url(../../../static/img/help-circle-85.svg) !important;
  position: relative !important;
}

.input-field .class-62 {
  background-image: url(../../../static/img/help-circle-86.svg) !important;
  position: relative !important;
}

.input-field .class-63 {
  background-image: url(../../../static/img/help-circle-87.svg) !important;
  position: relative !important;
}

.input-field .class-64 {
  background-image: url(../../../static/img/help-circle-88.svg) !important;
  position: relative !important;
}

.input-field .class-65 {
  background-image: url(../../../static/img/help-circle-89.svg) !important;
  position: relative !important;
}

.input-field .class-66 {
  background-image: url(../../../static/img/help-circle-90.svg) !important;
  position: relative !important;
}

.input-field .class-67 {
  background-image: url(../../../static/img/help-circle-91.svg) !important;
  position: relative !important;
}

.input-field .class-68 {
  background-image: url(../../../static/img/help-circle-92.svg) !important;
  position: relative !important;
}

.input-field .class-69 {
  background-image: url(../../../static/img/help-circle-93.svg) !important;
  position: relative !important;
}

.input-field .class-70 {
  background-image: url(../../../static/img/help-circle-94.svg) !important;
  position: relative !important;
}

.input-field .class-71 {
  background-image: url(../../../static/img/help-circle-95.svg) !important;
  position: relative !important;
}

.input-field .class-72 {
  background-image: url(../../../static/img/help-circle-96.svg) !important;
  position: relative !important;
}

.input-field .class-73 {
  background-image: url(../../../static/img/help-circle-97.svg) !important;
  position: relative !important;
}

.input-field .class-74 {
  background-image: url(../../../static/img/help-circle-98.svg) !important;
  position: relative !important;
}

.input-field .class-75 {
  background-image: url(../../../static/img/help-circle-99.svg) !important;
  position: relative !important;
}

.input-field .class-76 {
  background-image: url(../../../static/img/help-circle-68.svg) !important;
  position: relative !important;
}

.input-field .dropdown-4 {
  align-items: center;
  position: relative;
}

.input-field .text-29 {
  font-family: var(--text-md-regular-font-family);
  font-size: var(--text-md-regular-font-size);
  font-style: var(--text-md-regular-font-style);
  font-weight: var(--text-md-regular-font-weight);
  letter-spacing: var(--text-md-regular-letter-spacing);
  line-height: var(--text-md-regular-line-height);
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.input-field .text-input {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: var(--3-spacing-spacing-md);
  position: relative;
}

.input-field .text-wrapper-7 {
  color: var(--1-color-modes-colors-text-text-secondary-700);
  font-family: var(--text-md-regular-font-family);
  font-size: var(--text-md-regular-font-size);
  font-style: var(--text-md-regular-font-style);
  font-weight: var(--text-md-regular-font-weight);
  letter-spacing: var(--text-md-regular-letter-spacing);
  line-height: var(--text-md-regular-line-height);
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.input-field .text-30 {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  display: -webkit-box;
  flex: 1;
  font-family: var(--text-md-regular-font-family);
  font-size: var(--text-md-regular-font-size);
  font-style: var(--text-md-regular-font-style);
  font-weight: var(--text-md-regular-font-weight);
  letter-spacing: var(--text-md-regular-letter-spacing);
  line-height: var(--text-md-regular-line-height);
  margin-top: -1.00px;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
}

.input-field .class-77 {
  background-image: url(../../../static/img/help-circle-125.svg) !important;
  position: relative !important;
}

.input-field .class-78 {
  background-image: url(../../../static/img/help-circle-126.svg) !important;
  position: relative !important;
}

.input-field .class-79 {
  background-image: url(../../../static/img/help-circle-127.svg) !important;
  position: relative !important;
}

.input-field .class-80 {
  background-image: url(../../../static/img/help-circle-128.svg) !important;
  position: relative !important;
}

.input-field .class-81 {
  background-image: url(../../../static/img/help-circle-129.svg) !important;
  position: relative !important;
}

.input-field .class-82 {
  background-image: url(../../../static/img/help-circle-130.svg) !important;
  position: relative !important;
}

.input-field .class-83 {
  background-image: url(../../../static/img/help-circle-131.svg) !important;
  position: relative !important;
}

.input-field .class-84 {
  background-image: url(../../../static/img/help-circle-124.svg) !important;
  position: relative !important;
}

.input-field .text-input-2 {
  align-items: center;
  position: relative;
}

.input-field .text-31 {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  display: -webkit-box;
  flex: 1;
  font-family: var(--text-md-regular-font-family);
  font-size: var(--text-md-regular-font-size);
  font-style: var(--text-md-regular-font-style);
  font-weight: var(--text-md-regular-font-weight);
  letter-spacing: var(--text-md-regular-letter-spacing);
  line-height: var(--text-md-regular-line-height);
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
}

.input-field .class-85 {
  background-image: url(../../../static/img/help-circle-101.svg) !important;
  position: relative !important;
}

.input-field .class-86 {
  background-image: url(../../../static/img/help-circle-102.svg) !important;
  position: relative !important;
}

.input-field .class-87 {
  background-image: url(../../../static/img/help-circle-103.svg) !important;
  position: relative !important;
}

.input-field .class-88 {
  background-image: url(../../../static/img/help-circle-104.svg) !important;
  position: relative !important;
}

.input-field .class-89 {
  background-image: url(../../../static/img/help-circle-105.svg) !important;
  position: relative !important;
}

.input-field .class-90 {
  background-image: url(../../../static/img/help-circle-106.svg) !important;
  position: relative !important;
}

.input-field .class-91 {
  background-image: url(../../../static/img/help-circle-107.svg) !important;
  position: relative !important;
}

.input-field .class-92 {
  background-image: url(../../../static/img/help-circle-108.svg) !important;
  position: relative !important;
}

.input-field .class-93 {
  background-image: url(../../../static/img/help-circle-109.svg) !important;
  position: relative !important;
}

.input-field .class-94 {
  background-image: url(../../../static/img/help-circle-112.svg) !important;
  position: relative !important;
}

.input-field .class-95 {
  background-image: url(../../../static/img/help-circle-113.svg) !important;
  position: relative !important;
}

.input-field .class-96 {
  background-image: url(../../../static/img/help-circle-116.svg) !important;
  position: relative !important;
}

.input-field .class-97 {
  background-image: url(../../../static/img/help-circle-117.svg) !important;
  position: relative !important;
}

.input-field .class-98 {
  background-image: url(../../../static/img/help-circle-120.svg) !important;
  position: relative !important;
}

.input-field .class-99 {
  background-image: url(../../../static/img/help-circle-121.svg) !important;
  position: relative !important;
}

.input-field .class-100 {
  background-image: url(../../../static/img/help-circle-100.svg) !important;
  position: relative !important;
}

.input-field .text-32 {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  display: -webkit-box;
  font-family: var(--text-md-regular-font-family);
  font-size: var(--text-md-regular-font-size);
  font-style: var(--text-md-regular-font-style);
  font-weight: var(--text-md-regular-font-weight);
  letter-spacing: var(--text-md-regular-letter-spacing);
  line-height: var(--text-md-regular-line-height);
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
}

.input-field .text-input-3 {
  align-items: center;
  border-radius: var(--3-spacing-spacing-md) var(--3-spacing-spacing-none)
    var(--3-spacing-spacing-none) var(--3-spacing-spacing-md);
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: var(--3-spacing-spacing-md);
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.input-field .text-33 {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  display: -webkit-box;
  flex: 1;
  font-family: var(--text-md-regular-font-family);
  font-size: var(--text-md-regular-font-size);
  font-style: var(--text-md-regular-font-style);
  font-weight: var(--text-md-regular-font-weight);
  letter-spacing: var(--text-md-regular-letter-spacing);
  line-height: var(--text-md-regular-line-height);
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
}

.input-field .class-101 {
  background-image: url(../../../static/img/help-circle-111.svg) !important;
  position: relative !important;
}

.input-field .class-102 {
  background-image: url(../../../static/img/help-circle-114.svg) !important;
  position: relative !important;
}

.input-field .class-103 {
  background-image: url(../../../static/img/help-circle-115.svg) !important;
  position: relative !important;
}

.input-field .class-104 {
  background-image: url(../../../static/img/help-circle-118.svg) !important;
  position: relative !important;
}

.input-field .class-105 {
  background-image: url(../../../static/img/help-circle-119.svg) !important;
  position: relative !important;
}

.input-field .class-106 {
  background-image: url(../../../static/img/help-circle-122.svg) !important;
  position: relative !important;
}

.input-field .class-107 {
  background-image: url(../../../static/img/help-circle-123.svg) !important;
  position: relative !important;
}

.input-field .class-108 {
  background-image: url(../../../static/img/help-circle-110.svg) !important;
  position: relative !important;
}

.input-field .class-109 {
  border: unset !important;
  border-bottom-style: solid !important;
  border-bottom-width: 1px !important;
  border-radius: var(--3-spacing-spacing-none) var(--2-radius-radius-md)
    var(--2-radius-radius-md) var(--3-spacing-spacing-none) !important;
  border-right-style: solid !important;
  border-right-width: 1px !important;
  border-top-style: solid !important;
  border-top-width: 1px !important;
  box-shadow: unset !important;
  flex: 0 0 auto !important;
  z-index: 0 !important;
}

.input-field .class-110 {
  border-radius: var(--3-spacing-spacing-none) var(--2-radius-radius-md)
    var(--2-radius-radius-md) var(--3-spacing-spacing-none) !important;
  box-shadow: unset !important;
  flex: 0 0 auto !important;
  z-index: 0 !important;
}

.input-field .hint-text-2 {
  align-self: stretch;
  font-family: var(--text-sm-regular-font-family);
  font-size: var(--text-sm-regular-font-size);
  font-style: var(--text-sm-regular-font-style);
  font-weight: var(--text-sm-regular-font-weight);
  letter-spacing: var(--text-sm-regular-letter-spacing);
  line-height: var(--text-sm-regular-line-height);
  position: relative;
}

.input-field.type-3-payment-input {
  width: 320px;
}

.input-field.type-3-default {
  width: 320px;
}

.input-field.type-3-tags {
  width: 400px;
}

.input-field.type-3-trailing-button {
  width: 400px;
}

.input-field.type-3-trailing-dropdown {
  width: 320px;
}

.input-field.type-3-leading-dropdown {
  width: 320px;
}

.input-field.type-3-icon-leading {
  width: 320px;
}

.input-field.type-3-leading-text {
  width: 320px;
}

.input-field .type-4-payment-input {
  align-items: center;
  gap: var(--3-spacing-spacing-md);
}

.input-field .state-11-disabled {
  border: 1px solid;
  border-color: var(--1-color-modes-colors-border-border-disabled);
}

.input-field .type-4-default {
  align-items: center;
  gap: var(--3-spacing-spacing-md);
}

.input-field .type-4-tags {
  align-items: center;
  gap: var(--3-spacing-spacing-md);
}

.input-field .type-4-trailing-button {
  align-items: flex-start;
  background-color: var(--1-color-modes-colors-background-bg-primary);
  border: 1px solid;
}

.input-field .type-4-trailing-dropdown {
  align-items: flex-start;
}

.input-field .type-4-leading-dropdown {
  align-items: flex-start;
}

.input-field .state-11-placeholder {
  background-color: var(--1-color-modes-colors-background-bg-primary);
  border: 1px solid;
}

.input-field .state-11-filled {
  background-color: var(--1-color-modes-colors-background-bg-primary);
  border: 1px solid;
}

.input-field .type-4-icon-leading {
  align-items: center;
  gap: var(--3-spacing-spacing-md);
}

.input-field .type-4-leading-text {
  align-items: flex-start;
  border: 1px solid;
}

.input-field .state-11-focused {
  background-color: var(--1-color-modes-colors-background-bg-primary);
}

.input-field .state-11-placeholder.type-4-leading-text {
  border-color: var(--1-color-modes-colors-border-border-primary);
}

.input-field .type-4-leading-text.state-11-disabled {
  background-color: var(--1-color-modes-colors-background-bg-disabled-subtle);
}

.input-field .type-4-tags.size-5-md {
  padding: 10px 14px;
}

.input-field .state-11-disabled.type-4-trailing-dropdown {
  background-color: var(--1-color-modes-colors-background-bg-disabled-subtle);
}

.input-field .type-4-trailing-button.state-11-filled {
  border-color: var(--1-color-modes-colors-border-border-primary);
}

.input-field .state-11-disabled.type-4-icon-leading {
  background-color: var(--1-color-modes-colors-background-bg-disabled-subtle);
}

.input-field .type-4-leading-dropdown.state-11-disabled {
  background-color: var(--1-color-modes-colors-background-bg-disabled-subtle);
}

.input-field .type-4-default.state-11-disabled {
  background-color: var(--1-color-modes-colors-background-bg-disabled-subtle);
}

.input-field .state-11-focused.type-4-trailing-dropdown {
  border: 2px solid;
  overflow: hidden;
}

.input-field .type-4-default.size-5-sm {
  padding: var(--3-spacing-spacing-md) var(--3-spacing-spacing-lg)
    var(--3-spacing-spacing-md) var(--3-spacing-spacing-lg);
}

.input-field .type-4-payment-input.size-5-sm {
  padding: var(--3-spacing-spacing-md) var(--3-spacing-spacing-lg)
    var(--3-spacing-spacing-md) 10px;
}

.input-field .state-11-focused.type-4-leading-dropdown {
  border: 2px solid;
  overflow: hidden;
}

.input-field .state-11-focused.type-4-icon-leading {
  border: 2px solid;
  overflow: hidden;
}

.input-field .size-5-md.type-4-icon-leading {
  padding: 10px 14px;
}

.input-field .type-4-default.size-5-md {
  padding: 10px 14px;
}

.input-field .type-4-tags.state-11-focused {
  border: 2px solid;
  overflow: hidden;
}

.input-field .state-11-focused.type-4-trailing-button {
  border-color: var(--1-color-modes-colors-border-border-primary);
}

.input-field .state-11-placeholder.destructive-false {
  border-color: var(--1-color-modes-colors-border-border-primary);
}

.input-field .type-4-leading-text.state-11-filled {
  border-color: var(--1-color-modes-colors-border-border-primary);
}

.input-field .state-11-focused.type-4-payment-input {
  border: 2px solid;
  overflow: hidden;
}

.input-field .size-5-sm.type-4-icon-leading {
  padding: var(--3-spacing-spacing-md) var(--3-spacing-spacing-lg)
    var(--3-spacing-spacing-md) var(--3-spacing-spacing-lg);
}

.input-field .state-11-focused.type-4-leading-text {
  border-color: var(--1-color-modes-colors-border-border-primary);
}

.input-field .type-4-payment-input.size-5-md {
  padding: 10px 14px 10px 10px;
}

.input-field .state-11-placeholder.type-4-trailing-button {
  border-color: var(--1-color-modes-colors-border-border-primary);
}

.input-field .type-4-tags.size-5-sm {
  padding: var(--3-spacing-spacing-md) var(--3-spacing-spacing-lg)
    var(--3-spacing-spacing-md) var(--3-spacing-spacing-lg);
}

.input-field .type-4-tags.state-11-disabled {
  background-color: var(--1-color-modes-colors-background-bg-disabled-subtle);
}

.input-field .type-4-payment-input.state-11-disabled {
  background-color: var(--1-color-modes-colors-background-bg-disabled-subtle);
}

.input-field .destructive-false.state-11-filled {
  border-color: var(--1-color-modes-colors-border-border-primary);
}

.input-field .state-11-focused.type-4-default {
  border: 2px solid;
  overflow: hidden;
}

.input-field .state-11-placeholder.type-4-payment-input.destructive-true {
  border-color: var(--1-color-modes-colors-border-border-error-subtle);
}

.input-field .state-11-focused.destructive-false.type-4-leading-dropdown {
  border-color: var(--1-color-modes-colors-border-border-brand);
}

.input-field .state-11-focused.destructive-true.type-4-icon-leading {
  border-color: var(--1-color-modes-colors-border-border-error);
}

.input-field .state-11-focused.destructive-true.type-4-trailing-dropdown {
  border-color: var(--1-color-modes-colors-border-border-error);
}

.input-field .state-11-placeholder.destructive-true.type-4-default {
  border-color: var(--1-color-modes-colors-border-border-error-subtle);
}

.input-field .state-11-focused.type-4-payment-input.destructive-true {
  border-color: var(--1-color-modes-colors-border-border-error);
}

.input-field .type-4-tags.state-11-focused.destructive-false {
  border-color: var(--1-color-modes-colors-border-border-brand);
}

.input-field .destructive-true.state-11-filled.type-4-icon-leading {
  border-color: var(--1-color-modes-colors-border-border-error-subtle);
}

.input-field .destructive-true.type-4-leading-dropdown.state-11-filled {
  border-color: var(--1-color-modes-colors-border-border-error-subtle);
}

.input-field .type-4-tags.destructive-true.state-11-filled {
  border-color: var(--1-color-modes-colors-border-border-error-subtle);
}

.input-field .type-4-tags.state-11-focused.destructive-true {
  border-color: var(--1-color-modes-colors-border-border-error);
}

.input-field .type-4-payment-input.destructive-true.state-11-filled {
  border-color: var(--1-color-modes-colors-border-border-error-subtle);
}

.input-field .type-4-tags.state-11-placeholder.destructive-true {
  border-color: var(--1-color-modes-colors-border-border-error-subtle);
}

.input-field .state-11-placeholder.destructive-true.type-4-trailing-dropdown {
  border-color: var(--1-color-modes-colors-border-border-error-subtle);
}

.input-field .state-11-focused.destructive-false.type-4-trailing-dropdown {
  border-color: var(--1-color-modes-colors-border-border-brand);
}

.input-field .state-11-placeholder.destructive-true.type-4-leading-dropdown {
  border-color: var(--1-color-modes-colors-border-border-error-subtle);
}

.input-field .state-11-focused.type-4-payment-input.destructive-false {
  border-color: var(--1-color-modes-colors-border-border-brand);
}

.input-field .state-11-placeholder.destructive-true.type-4-icon-leading {
  border-color: var(--1-color-modes-colors-border-border-error-subtle);
}

.input-field .type-4-default.destructive-true.state-11-filled {
  border-color: var(--1-color-modes-colors-border-border-error-subtle);
}

.input-field .state-11-focused.type-4-default.destructive-false {
  border-color: var(--1-color-modes-colors-border-border-brand);
}

.input-field .state-11-focused.type-4-default.destructive-true {
  border-color: var(--1-color-modes-colors-border-border-error);
}

.input-field .state-11-focused.destructive-false.type-4-icon-leading {
  border-color: var(--1-color-modes-colors-border-border-brand);
}

.input-field .state-11-focused.destructive-true.type-4-leading-dropdown {
  border-color: var(--1-color-modes-colors-border-border-error);
}

.input-field .state-11-filled.destructive-true.type-4-trailing-dropdown {
  border-color: var(--1-color-modes-colors-border-border-error-subtle);
}

.input-field .destructive-4-true {
  color: var(--1-color-modes-colors-text-text-error-primary-600);
}

.input-field .destructive-4-false {
  color: var(--1-color-modes-colors-text-text-tertiary-600);
}

.input-field .input-2.type-4-payment-input .payment-method-icon-2 {
  background-color: var(--primitives-colors-base-white);
  border: 1px solid;
  border-color: var(--1-color-modes-colors-border-border-secondary);
  border-radius: var(--3-spacing-spacing-xs);
  height: 24px;
  width: 34px;
}

.input-field .input-2.type-4-tags .payment-method-icon-2 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: var(--3-spacing-spacing-sm);
}

.input-field .input-2.state-11-disabled .text-28 {
  color: var(--1-color-modes-colors-text-text-disabled);
}

.input-field .input-2.state-11-filled .text-28 {
  color: var(--1-color-modes-colors-text-text-primary-900);
}

.input-field .input-2.state-11-focused .text-28 {
  color: var(--1-color-modes-colors-text-text-primary-900);
}

.input-field .input-2.state-11-placeholder.type-4-leading-text .text-28 {
  color: var(--1-color-modes-colors-text-text-placeholder);
}

.input-field .input-2.state-11-placeholder.type-4-default .text-28 {
  color: var(--1-color-modes-colors-text-text-placeholder);
}

.input-field .input-2.state-11-placeholder.type-4-leading-dropdown .text-28 {
  color: var(--1-color-modes-colors-text-text-placeholder);
}

.input-field .input-2.state-11-placeholder.type-4-icon-leading .text-28 {
  color: var(--1-color-modes-colors-text-text-placeholder);
}

.input-field .input-2.state-11-placeholder.type-4-trailing-button .text-28 {
  color: var(--1-color-modes-colors-text-text-placeholder);
}

.input-field .input-2.state-11-placeholder.type-4-trailing-dropdown .text-28 {
  color: var(--1-color-modes-colors-text-text-placeholder);
}

.input-field
  .input-2.state-11-placeholder.size-5-sm.type-4-payment-input
  .text-28 {
  color: var(--1-color-modes-colors-text-text-placeholder);
}

.input-field
  .input-2.state-11-placeholder.destructive-false.size-5-sm
  .text-28 {
  color: var(--1-color-modes-colors-text-text-placeholder);
}

.input-field
  .input-2.state-11-placeholder.type-4-payment-input.destructive-true
  .text-28 {
  color: var(--1-color-modes-colors-text-text-placeholder);
}

.input-field
  .input-2.type-4-tags.state-11-placeholder.destructive-false
  .text-28 {
  color: var(--1-color-modes-colors-text-text-placeholder);
}

.input-field
  .input-2.type-4-tags.state-11-placeholder.destructive-true
  .text-28 {
  color: var(--1-color-modes-colors-text-text-primary-900);
}

.input-field
  .input-2.state-11-placeholder.destructive-false.size-5-md.type-4-payment-input
  .text-28 {
  color: var(--1-color-modes-colors-text-text-disabled);
}

.input-field .input-2.type-4-payment-input .dropdown-4 {
  display: inline-flex;
  flex: 0 0 auto;
  padding: 10px 0px 10px 14px;
}

.input-field .input-2.type-4-default .dropdown-4 {
  display: inline-flex;
  flex: 0 0 auto;
  padding: 10px 0px 10px 14px;
}

.input-field .input-2.type-4-tags .dropdown-4 {
  display: inline-flex;
  flex: 0 0 auto;
  padding: 10px 0px 10px 14px;
}

.input-field .input-2.type-4-trailing-button .dropdown-4 {
  display: inline-flex;
  flex: 0 0 auto;
  padding: 10px 0px 10px 14px;
}

.input-field .input-2.type-4-trailing-dropdown .dropdown-4 {
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: var(--3-spacing-spacing-md);
}

.input-field .input-2.type-4-leading-dropdown .dropdown-4 {
  align-self: stretch;
  display: inline-flex;
  flex: 0 0 auto;
  gap: var(--3-spacing-spacing-xs);
}

.input-field .input-2.type-4-icon-leading .dropdown-4 {
  display: inline-flex;
  flex: 0 0 auto;
  padding: 10px 0px 10px 14px;
}

.input-field .input-2.type-4-leading-text .dropdown-4 {
  border-radius: var(--3-spacing-spacing-md) var(--3-spacing-spacing-none)
    var(--3-spacing-spacing-none) var(--3-spacing-spacing-md);
  display: inline-flex;
  flex: 0 0 auto;
}

.input-field .input-2.size-5-sm.type-4-leading-text .dropdown-4 {
  padding: var(--3-spacing-spacing-md) var(--3-spacing-spacing-lg)
    var(--3-spacing-spacing-md) var(--3-spacing-spacing-lg);
}

.input-field .input-2.size-5-sm.type-4-leading-dropdown .dropdown-4 {
  padding: var(--3-spacing-spacing-md) 0px var(--3-spacing-spacing-md)
    var(--3-spacing-spacing-lg);
}

.input-field .input-2.size-5-md.type-4-leading-dropdown .dropdown-4 {
  padding: 10px 0px 10px 14px;
}

.input-field .input-2.type-4-leading-dropdown.state-11-disabled .dropdown-4 {
  justify-content: space-between;
}

.input-field .input-2.size-5-md.type-4-leading-text .dropdown-4 {
  padding: 10px var(--3-spacing-spacing-lg) 10px 14px;
}

.input-field .input-2.destructive-true.type-4-leading-dropdown .dropdown-4 {
  justify-content: space-between;
}

.input-field .input-2.size-5-md.type-4-trailing-dropdown .dropdown-4 {
  padding: 10px 0px 10px 14px;
}

.input-field .input-2.size-5-sm.type-4-trailing-dropdown .dropdown-4 {
  padding: var(--3-spacing-spacing-md) 0px var(--3-spacing-spacing-md)
    var(--3-spacing-spacing-lg);
}

.input-field
  .input-2.size-5-md.state-11-placeholder.type-4-leading-dropdown
  .dropdown-4 {
  justify-content: space-between;
}

.input-field .input-2.type-4-payment-input .text-29 {
  color: var(--1-color-modes-colors-foreground-fg-tertiary-600);
}

.input-field .input-2.type-4-default .text-29 {
  color: var(--1-color-modes-colors-foreground-fg-tertiary-600);
}

.input-field .input-2.type-4-tags .text-29 {
  color: var(--1-color-modes-colors-foreground-fg-tertiary-600);
}

.input-field .input-2.type-4-trailing-button .text-29 {
  color: var(--1-color-modes-colors-foreground-fg-tertiary-600);
}

.input-field .input-2.type-4-trailing-dropdown .text-29 {
  color: var(--1-color-modes-colors-foreground-fg-tertiary-600);
}

.input-field .input-2.type-4-leading-dropdown .text-29 {
  color: var(--1-color-modes-colors-text-text-secondary-700);
}

.input-field .input-2.type-4-icon-leading .text-29 {
  color: var(--1-color-modes-colors-foreground-fg-tertiary-600);
}

.input-field .input-2.type-4-leading-text .text-29 {
  color: var(--1-color-modes-colors-foreground-fg-tertiary-600);
}

.input-field .input-2.state-11-placeholder .text-30 {
  color: var(--1-color-modes-colors-text-text-placeholder);
}

.input-field .input-2.state-11-focused .text-30 {
  color: var(--1-color-modes-colors-text-text-primary-900);
}

.input-field .input-2.state-11-disabled .text-30 {
  color: var(--1-color-modes-colors-text-text-disabled);
}

.input-field .input-2.state-11-filled .text-30 {
  color: var(--1-color-modes-colors-text-text-primary-900);
}

.input-field .input-2.type-4-payment-input .text-input-2 {
  display: flex;
  flex: 1;
  gap: var(--3-spacing-spacing-md);
  padding: 10px 14px;
}

.input-field .input-2.type-4-default .text-input-2 {
  display: flex;
  flex: 1;
  gap: var(--3-spacing-spacing-md);
  padding: 10px 14px;
}

.input-field .input-2.type-4-tags .text-input-2 {
  display: flex;
  flex: 1;
  gap: var(--3-spacing-spacing-md);
  padding: 10px 14px;
}

.input-field .input-2.type-4-trailing-button .text-input-2 {
  display: flex;
  flex: 1;
  gap: var(--3-spacing-spacing-md);
  padding: 10px 14px;
}

.input-field .input-2.type-4-trailing-dropdown .text-input-2 {
  display: inline-flex;
  flex: 0 0 auto;
  gap: var(--3-spacing-spacing-xs);
}

.input-field .input-2.type-4-leading-dropdown .text-input-2 {
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: var(--3-spacing-spacing-md);
}

.input-field .input-2.type-4-icon-leading .text-input-2 {
  display: flex;
  flex: 1;
  gap: var(--3-spacing-spacing-md);
  padding: 10px 14px;
}

.input-field .input-2.type-4-leading-text .text-input-2 {
  align-self: stretch;
  border-radius: var(--3-spacing-spacing-none) var(--3-spacing-spacing-md)
    var(--3-spacing-spacing-md) var(--3-spacing-spacing-none);
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: var(--3-spacing-spacing-md);
  overflow: hidden;
}

.input-field .input-2.size-5-sm.type-4-leading-text .text-input-2 {
  padding: var(--3-spacing-spacing-md) var(--3-spacing-spacing-lg)
    var(--3-spacing-spacing-md) var(--3-spacing-spacing-lg);
}

.input-field .input-2.state-11-placeholder.type-4-leading-text .text-input-2 {
  background-color: var(--1-color-modes-colors-background-bg-primary);
  border: 1px solid;
}

.input-field .input-2.type-4-leading-text.state-11-disabled .text-input-2 {
  border: 1px solid;
  border-color: var(--1-color-modes-colors-border-border-disabled);
}

.input-field .input-2.size-5-sm.type-4-leading-dropdown .text-input-2 {
  padding: var(--3-spacing-spacing-md) var(--3-spacing-spacing-lg)
    var(--3-spacing-spacing-md) 10px;
}

.input-field .input-2.destructive-false.type-4-trailing-dropdown .text-input-2 {
  justify-content: space-between;
}

.input-field .input-2.size-5-md.type-4-leading-dropdown .text-input-2 {
  padding: 10px 14px 10px var(--3-spacing-spacing-lg);
}

.input-field .input-2.state-11-focused.type-4-trailing-dropdown .text-input-2 {
  justify-content: space-between;
}

.input-field .input-2.size-5-md.type-4-leading-text .text-input-2 {
  padding: 10px 14px;
}

.input-field .input-2.state-11-filled.type-4-trailing-dropdown .text-input-2 {
  justify-content: space-between;
}

.input-field .input-2.type-4-leading-text.state-11-filled .text-input-2 {
  background-color: var(--1-color-modes-colors-background-bg-primary);
  border: 1px solid;
}

.input-field .input-2.state-11-focused.type-4-leading-text .text-input-2 {
  background-color: var(--1-color-modes-colors-background-bg-primary);
  border: 2px solid;
}

.input-field .input-2.size-5-md.type-4-trailing-dropdown .text-input-2 {
  padding: 10px 14px;
}

.input-field .input-2.size-5-sm.type-4-trailing-dropdown .text-input-2 {
  padding: var(--3-spacing-spacing-md) var(--3-spacing-spacing-lg)
    var(--3-spacing-spacing-md) var(--3-spacing-spacing-lg);
}

.input-field
  .input-2.state-11-placeholder.destructive-false.type-4-leading-text
  .text-input-2 {
  border-color: var(--1-color-modes-colors-border-border-primary);
}

.input-field
  .input-2.state-11-focused.destructive-false.type-4-leading-text
  .text-input-2 {
  border-color: var(--1-color-modes-colors-border-border-brand);
}

.input-field
  .input-2.state-11-placeholder.destructive-true.type-4-leading-text
  .text-input-2 {
  border-color: var(--1-color-modes-colors-border-border-error-subtle);
}

.input-field
  .input-2.destructive-false.type-4-leading-text.state-11-filled
  .text-input-2 {
  border-color: var(--1-color-modes-colors-border-border-primary);
}

.input-field
  .input-2.state-11-placeholder.size-5-sm.type-4-trailing-dropdown
  .text-input-2 {
  justify-content: space-between;
}

.input-field
  .input-2.state-11-focused.destructive-true.type-4-leading-text
  .text-input-2 {
  border-color: var(--1-color-modes-colors-border-border-error);
}

.input-field
  .input-2.destructive-true.type-4-leading-text.state-11-filled
  .text-input-2 {
  border-color: var(--1-color-modes-colors-border-border-error-subtle);
}

.input-field
  .input-2.destructive-true.size-5-md.type-4-leading-text.state-11-filled
  .text-input-2 {
  justify-content: space-between;
}

.input-field .input-2.type-4-payment-input .text-31 {
  margin-top: -1.00px;
}

.input-field .input-2.state-11-disabled .text-31 {
  color: var(--1-color-modes-colors-text-text-disabled);
  margin-top: -1.00px;
}

.input-field .input-2.type-4-default .text-31 {
  margin-top: -1.00px;
}

.input-field .input-2.type-4-tags .text-31 {
  margin-top: -1.00px;
}

.input-field .input-2.type-4-trailing-button .text-31 {
  margin-top: -1.00px;
}

.input-field .input-2.type-4-trailing-dropdown .text-31 {
  margin-top: -1.00px;
}

.input-field .input-2.type-4-leading-dropdown .text-31 {
  margin-top: -1.00px;
}

.input-field .input-2.state-11-placeholder .text-31 {
  color: var(--1-color-modes-colors-text-text-placeholder);
  margin-top: -1.00px;
}

.input-field .input-2.state-11-filled .text-31 {
  color: var(--1-color-modes-colors-text-text-primary-900);
  margin-top: -1.00px;
}

.input-field .input-2.type-4-icon-leading .text-31 {
  margin-top: -1.00px;
}

.input-field .input-2.state-11-focused .text-31 {
  color: var(--1-color-modes-colors-text-text-primary-900);
}

.input-field .input-2.state-11-focused.type-4-leading-text .text-31 {
  margin-top: -2.00px;
}

.input-field .input-2.type-4-payment-input .text-32 {
  margin-top: -1.00px;
}

.input-field .input-2.state-11-disabled .text-32 {
  color: var(--1-color-modes-colors-text-text-primary-900);
  margin-top: -1.00px;
}

.input-field .input-2.type-4-default .text-32 {
  margin-top: -1.00px;
}

.input-field .input-2.type-4-tags .text-32 {
  margin-top: -1.00px;
}

.input-field .input-2.type-4-trailing-button .text-32 {
  margin-top: -1.00px;
}

.input-field .input-2.type-4-trailing-dropdown .text-32 {
  margin-top: -1.00px;
}

.input-field .input-2.type-4-leading-dropdown .text-32 {
  flex: 1;
  margin-top: -1.00px;
}

.input-field .input-2.state-11-placeholder .text-32 {
  color: var(--1-color-modes-colors-text-text-placeholder);
  margin-top: -1.00px;
}

.input-field .input-2.state-11-filled .text-32 {
  color: var(--1-color-modes-colors-text-text-primary-900);
  margin-top: -1.00px;
}

.input-field .input-2.type-4-icon-leading .text-32 {
  margin-top: -1.00px;
}

.input-field .input-2.state-11-focused .text-32 {
  color: var(--1-color-modes-colors-text-text-primary-900);
}

.input-field .input-2.state-11-placeholder.type-4-leading-text .text-32 {
  flex: 1;
}

.input-field .input-2.type-4-leading-text.state-11-filled .text-32 {
  width: 195px;
}

.input-field .input-2.state-11-focused.type-4-leading-text .text-32 {
  flex: 1;
  margin-top: -2.00px;
}

.input-field .input-2.size-5-md .text-input-3 {
  padding: 10px 14px;
}

.input-field .input-2.size-5-sm .text-input-3 {
  padding: var(--3-spacing-spacing-md) var(--3-spacing-spacing-lg)
    var(--3-spacing-spacing-md) var(--3-spacing-spacing-lg);
}

.input-field .input-2.state-11-disabled .text-input-3 {
  background-color: var(--1-color-modes-colors-background-bg-disabled-subtle);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: var(--1-color-modes-colors-border-border-disabled);
  border-left-style: solid;
  border-left-width: 1px;
  border-top-style: solid;
  border-top-width: 1px;
}

.input-field .input-2.state-11-placeholder .text-input-3 {
  background-color: var(--1-color-modes-colors-background-bg-primary);
}

.input-field .input-2.state-11-filled .text-input-3 {
  background-color: var(--1-color-modes-colors-background-bg-primary);
}

.input-field .input-2.state-11-focused .text-input-3 {
  background-color: var(--1-color-modes-colors-background-bg-primary);
  border: 2px solid;
}

.input-field .input-2.destructive-true.state-11-filled .text-input-3 {
  border: 1px solid;
  border-color: var(--1-color-modes-colors-border-border-error-subtle);
}

.input-field .input-2.state-11-focused.destructive-false .text-input-3 {
  border-color: var(--1-color-modes-colors-border-border-brand);
}

.input-field .input-2.state-11-placeholder.destructive-false .text-input-3 {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: var(--1-color-modes-colors-border-border-primary);
  border-left-style: solid;
  border-left-width: 1px;
  border-top-style: solid;
  border-top-width: 1px;
}

.input-field .input-2.state-11-focused.destructive-true .text-input-3 {
  border-color: var(--1-color-modes-colors-border-border-error);
}

.input-field .input-2.state-11-placeholder.destructive-true .text-input-3 {
  border: 1px solid;
  border-color: var(--1-color-modes-colors-border-border-error-subtle);
}

.input-field .input-2.destructive-false.state-11-filled .text-input-3 {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: var(--1-color-modes-colors-border-border-primary);
  border-left-style: solid;
  border-left-width: 1px;
  border-top-style: solid;
  border-top-width: 1px;
}

.input-field .input-2.state-11-placeholder .text-33 {
  color: var(--1-color-modes-colors-text-text-placeholder);
  margin-top: -1.00px;
}

.input-field .input-2.state-11-focused .text-33 {
  color: var(--1-color-modes-colors-text-text-primary-900);
  margin-top: -2.00px;
}

.input-field .input-2.state-11-disabled .text-33 {
  color: var(--1-color-modes-colors-text-text-disabled);
  margin-top: -1.00px;
}

.input-field .input-2.state-11-filled .text-33 {
  color: var(--1-color-modes-colors-text-text-primary-900);
  margin-top: -1.00px;
}
