.create {
  align-items: flex-start;
  background-color: var(--1-color-modes-colors-background-bg-primary);
  display: flex;
  flex-direction: column;
  height: 1024px;
  position: relative;
}

.create .header-navigation-9 {
  flex: 0 0 auto !important;
  z-index: 1 !important;
}

.create .icon-instance-node-10 {
  height: 20px !important;
  position: relative !important;
  width: 20px !important;
}

.create .main-8 {
  align-items: flex-start;
  align-self: stretch;
  background-color: #ffffff;
  border-radius: 40px 0px 0px 0px;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 32px;
  margin-bottom: -1660.00px;
  overflow-y: scroll;
  padding: 24px 0px;
  position: relative;
  width: 100%;
  z-index: 0;
}

.create .main-8::-webkit-scrollbar {
  display: none;
  width: 0;
}

.create .section-9 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  overflow-y: scroll;
  position: relative;
  width: 100%;
}

.create .section-9::-webkit-scrollbar {
  display: none;
  width: 0;
}

.create .content-42 {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  gap: var(--3-spacing-spacing-xl);
  position: relative;
  width: 1280px;
}

.create .text-and-supporting-20 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: var(--3-spacing-spacing-xs);
  min-width: 320px;
  position: relative;
}

.create .text-54 {
  align-self: stretch;
  color: var(--1-color-modes-colors-text-text-primary-900);
  font-family: var(--display-sm-semibold-font-family);
  font-size: var(--display-sm-semibold-font-size);
  font-style: var(--display-sm-semibold-font-style);
  font-weight: var(--display-sm-semibold-font-weight);
  letter-spacing: var(--display-sm-semibold-letter-spacing);
  line-height: var(--display-sm-semibold-line-height);
  margin-top: -1.00px;
  position: relative;
}

.create .supporting-text-13 {
  align-self: stretch;
  color: var(--1-color-modes-colors-text-text-tertiary-600);
  font-family: var(--text-sm-regular-font-family);
  font-size: var(--text-sm-regular-font-size);
  font-style: var(--text-sm-regular-font-style);
  font-weight: var(--text-sm-regular-font-weight);
  letter-spacing: var(--text-sm-regular-letter-spacing);
  line-height: var(--text-sm-regular-line-height);
  position: relative;
}

.create .actions-19 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: var(--3-spacing-spacing-lg);
  position: relative;
}

.create .design-component-instance-node-6 {
  flex: 0 0 auto !important;
}

.create .button-15 {
  flex: 0 0 auto;
  position: relative;
}

.create .form-11 {
  margin-bottom: unset !important;
  margin-top: unset !important;
}

.create .form-12 {
  font-family: var(--text-md-regular-font-family) !important;
  font-size: var(--text-md-regular-font-size) !important;
  font-style: var(--text-md-regular-font-style) !important;
  font-weight: var(--text-md-regular-font-weight) !important;
  letter-spacing: var(--text-md-regular-letter-spacing) !important;
  line-height: var(--text-md-regular-line-height) !important;
}
