.avatar {
  border-radius: var(--2-radius-radius-full);
}

.avatar .overlap-group-6 {
  position: relative;
}

.avatar .text-38 {
  color: var(--1-color-modes-colors-foreground-fg-quaternary-500);
  position: absolute;
  text-align: center;
}

.avatar .contrast-border {
  border-color: var(
    --1-color-modes-component-colors-components-avatars-avatar-contrast-border
  );
  border-radius: var(--2-radius-radius-full);
  left: 0;
  position: absolute;
  top: 0;
}

.avatar .text-39 {
  color: var(--1-color-modes-colors-foreground-fg-quaternary-500);
  left: 0;
  position: absolute;
  text-align: center;
}

.avatar .class-115 {
  height: 32px !important;
  left: 12px !important;
  position: absolute !important;
  top: 12px !important;
  width: 32px !important;
}

.avatar .class-116 {
  height: 32px !important;
  left: 16px !important;
  position: absolute !important;
  top: 16px !important;
  width: 32px !important;
}

.avatar .class-117 {
  height: 32px !important;
  left: 11px !important;
  position: absolute !important;
  top: 11px !important;
  width: 32px !important;
}

.avatar .class-118 {
  height: 32px !important;
  left: 15px !important;
  position: absolute !important;
  top: 15px !important;
  width: 32px !important;
}

.avatar .avatar-online {
  border-color: var(--1-color-modes-colors-background-bg-primary);
  border-radius: var(--2-radius-radius-full);
  position: absolute;
}

.avatar .class-119 {
  height: 28px !important;
  left: 9px !important;
  position: absolute !important;
  top: 9px !important;
  width: 28px !important;
}

.avatar .class-120 {
  height: 28px !important;
  left: 10px !important;
  position: absolute !important;
  top: 10px !important;
  width: 28px !important;
}

.avatar .avatar-company-icon {
  border: 1.5px solid;
  border-color: var(--1-color-modes-colors-background-bg-primary);
  border-radius: var(--2-radius-radius-full);
  position: absolute;
}

.avatar .class-121 {
  height: 24px !important;
  left: 8px !important;
  position: absolute !important;
  top: 8px !important;
  width: 24px !important;
}

.avatar .class-122 {
  height: 24px !important;
  left: 7px !important;
  position: absolute !important;
  top: 7px !important;
  width: 24px !important;
}

.avatar .avatar-company-icon-2 {
  border: 1.5px solid;
  border-color: var(--1-color-modes-colors-background-bg-primary);
  border-radius: var(--2-radius-radius-full);
  position: absolute;
}

.avatar .user-01 {
  height: 20px !important;
  left: 6px !important;
  position: absolute !important;
  top: 6px !important;
  width: 20px !important;
}

.avatar .avatar-company-icon-3 {
  border: 1.5px solid;
  border-color: var(--1-color-modes-colors-background-bg-primary);
  border-radius: var(--2-radius-radius-full);
  position: absolute;
}

.avatar .user-01-33 {
  height: 16px !important;
  left: 4px !important;
  position: absolute !important;
  top: 4px !important;
  width: 16px !important;
}

.avatar .avatar-company-icon-4 {
  border: 1.5px solid;
  border-color: var(--1-color-modes-colors-background-bg-primary);
  border-radius: var(--2-radius-radius-full);
  position: absolute;
}

.avatar .class-123 {
  height: 18px !important;
  left: 37px !important;
  position: absolute !important;
  top: 37px !important;
  width: 18px !important;
}

.avatar .class-124 {
  height: 20px !important;
  left: 43px !important;
  position: absolute !important;
  top: 43px !important;
  width: 20px !important;
}

.avatar .class-125 {
  height: 16px !important;
  left: 31px !important;
  position: absolute !important;
  top: 31px !important;
  width: 16px !important;
}

.avatar .class-126 {
  height: 14px !important;
  left: 25px !important;
  position: absolute !important;
  top: 25px !important;
  width: 14px !important;
}

.avatar .class-127 {
  height: 12px !important;
  left: 20px !important;
  position: absolute !important;
  top: 20px !important;
  width: 12px !important;
}

.avatar .class-128 {
  height: 10px !important;
  left: 15px !important;
  position: absolute !important;
  top: 15px !important;
  width: 10px !important;
}

.avatar .contrast-border-2 {
  border-color: var(
    --1-color-modes-component-colors-components-avatars-avatar-contrast-border
  );
  border-radius: var(--2-radius-radius-full);
}

.avatar.size-19-md {
  height: 40px;
  width: 40px;
}

.avatar.size-19-sm {
  height: 32px;
  width: 32px;
}

.avatar.text-0-true {
  background-color: var(
    --1-color-modes-component-colors-components-avatars-avatar-bg
  );
}

.avatar.size-19-xl {
  height: 56px;
  width: 56px;
}

.avatar.placeholder-true {
  background-color: var(
    --1-color-modes-component-colors-components-avatars-avatar-bg
  );
}

.avatar.size-19-lg {
  height: 48px;
  width: 48px;
}

.avatar.size-19-xs {
  height: 24px;
  width: 24px;
}

.avatar.size-19-two-xl {
  height: 64px;
  width: 64px;
}

.avatar.placeholder-false.text-0-false {
  background-position: 50% 50%;
  background-size: cover;
}

.avatar.placeholder-false.text-0-false.size-19-xl {
  background-image: url(../../../static/img/size-xl-placeholder-false-text-false-status-icon-online-indic.png);
}

.avatar.size-19-md.placeholder-false.text-0-false {
  background-image: url(../../../static/img/size-md-placeholder-false-text-false-status-icon-online-indic.png);
}

.avatar.size-19-xs.placeholder-false.text-0-false {
  background-image: url(../../../static/img/size-xs-placeholder-false-text-false-status-icon-false.png);
}

.avatar.size-19-sm.placeholder-false.text-0-false {
  background-image: url(../../../static/img/size-sm-placeholder-false-text-false-status-icon-online-indic.png);
}

.avatar.placeholder-false.text-0-false.size-19-two-xl {
  background-image: url(../../../static/img/size-2xl-placeholder-false-text-false-status-icon-online-indi.png);
}

.avatar.size-19-lg.placeholder-false.text-0-false {
  background-image: url(../../../static/img/size-lg-placeholder-false-text-false-status-icon-false.png);
}

.avatar.size-19-xs.placeholder-false.false.text-0-false {
  overflow: hidden;
}

.avatar.placeholder-false.text-0-false.online-indicator.size-19-two-xl {
  box-shadow: var(--focus-rings-ring-gray);
}

.avatar.false .overlap-group-6 {
  border-color: var(
    --1-color-modes-component-colors-components-avatars-avatar-contrast-border
  );
  border-radius: var(--2-radius-radius-full);
}

.avatar.verified.size-19-md .overlap-group-6 {
  border: 0.75px solid;
  border-color: var(
    --1-color-modes-component-colors-components-avatars-avatar-contrast-border
  );
  border-radius: var(--2-radius-radius-full);
  height: 40px;
}

.avatar.size-19-xl.online-indicator .overlap-group-6 {
  height: 58px;
  width: 58px;
}

.avatar.size-19-xs.company .overlap-group-6 {
  height: 28px;
  width: 28px;
}

.avatar.false.size-19-two-xl .overlap-group-6 {
  border: 0.75px solid;
  height: 64px;
}

.avatar.size-19-xs.false .overlap-group-6 {
  border: 0.5px solid;
  height: 24px;
}

.avatar.size-19-sm.company .overlap-group-6 {
  height: 36px;
  width: 36px;
}

.avatar.size-19-md.online-indicator .overlap-group-6 {
  height: 42px;
  width: 42px;
}

.avatar.verified.size-19-sm .overlap-group-6 {
  border: 0.5px solid;
  border-color: var(
    --1-color-modes-component-colors-components-avatars-avatar-contrast-border
  );
  border-radius: var(--2-radius-radius-full);
  height: 32px;
}

.avatar.size-19-xs.online-indicator .overlap-group-6 {
  height: 26px;
  width: 26px;
}

.avatar.size-19-sm.false .overlap-group-6 {
  border: 0.5px solid;
  height: 32px;
}

.avatar.size-19-lg.online-indicator .overlap-group-6 {
  height: 50px;
  width: 50px;
}

.avatar.size-19-md.company .overlap-group-6 {
  height: 44px;
  width: 44px;
}

.avatar.verified.size-19-xl .overlap-group-6 {
  border: 0.75px solid;
  border-color: var(
    --1-color-modes-component-colors-components-avatars-avatar-contrast-border
  );
  border-radius: var(--2-radius-radius-full);
  height: 56px;
}

.avatar.false.size-19-xl .overlap-group-6 {
  border: 0.75px solid;
  height: 56px;
}

.avatar.size-19-lg.company .overlap-group-6 {
  height: 52px;
  width: 52px;
}

.avatar.size-19-xs.verified .overlap-group-6 {
  height: 25px;
  width: 25px;
}

.avatar.size-19-lg.verified .overlap-group-6 {
  border: 0.75px solid;
  border-color: var(
    --1-color-modes-component-colors-components-avatars-avatar-contrast-border
  );
  border-radius: var(--2-radius-radius-full);
  height: 48px;
}

.avatar.size-19-lg.false .overlap-group-6 {
  border: 0.75px solid;
  height: 48px;
}

.avatar.size-19-sm.online-indicator .overlap-group-6 {
  height: 34px;
  width: 34px;
}

.avatar.size-19-xl.company .overlap-group-6 {
  height: 60px;
  width: 60px;
}

.avatar.verified.size-19-two-xl .overlap-group-6 {
  border: 0.75px solid;
  border-color: var(
    --1-color-modes-component-colors-components-avatars-avatar-contrast-border
  );
  border-radius: var(--2-radius-radius-full);
  height: 64px;
}

.avatar.size-19-md.false .overlap-group-6 {
  border: 0.75px solid;
  height: 40px;
}

.avatar.size-19-two-xl.company .overlap-group-6 {
  height: 68px;
  width: 68px;
}

.avatar.online-indicator.placeholder-true.size-19-two-xl .overlap-group-6 {
  height: 66px;
  width: 66px;
}

.avatar.online-indicator.size-19-two-xl.text-0-true .overlap-group-6 {
  height: 66px;
  width: 66px;
}

.avatar.placeholder-false.text-0-false.online-indicator.size-19-two-xl
  .overlap-group-6 {
  height: 68px;
  width: 68px;
}

.avatar.size-19-md .text-38 {
  font-family: var(--text-md-semibold-font-family);
  font-size: var(--text-md-semibold-font-size);
  font-style: var(--text-md-semibold-font-style);
  font-weight: var(--text-md-semibold-font-weight);
  left: -1px;
  letter-spacing: var(--text-md-semibold-letter-spacing);
  line-height: var(--text-md-semibold-line-height);
  top: 7px;
  width: 40px;
}

.avatar.size-19-sm .text-38 {
  font-family: var(--text-sm-semibold-font-family);
  font-size: var(--text-sm-semibold-font-size);
  font-style: var(--text-sm-semibold-font-style);
  font-weight: var(--text-sm-semibold-font-weight);
  left: 0;
  letter-spacing: var(--text-sm-semibold-letter-spacing);
  line-height: var(--text-sm-semibold-line-height);
  top: 6px;
  width: 32px;
}

.avatar.size-19-xl .text-38 {
  font-family: var(--text-xl-semibold-font-family);
  font-size: var(--text-xl-semibold-font-size);
  font-style: var(--text-xl-semibold-font-style);
  font-weight: var(--text-xl-semibold-font-weight);
  left: -1px;
  letter-spacing: var(--text-xl-semibold-letter-spacing);
  line-height: var(--text-xl-semibold-line-height);
  top: 12px;
  width: 56px;
}

.avatar.size-19-lg .text-38 {
  font-family: var(--text-lg-semibold-font-family);
  font-size: var(--text-lg-semibold-font-size);
  font-style: var(--text-lg-semibold-font-style);
  font-weight: var(--text-lg-semibold-font-weight);
  left: -1px;
  letter-spacing: var(--text-lg-semibold-letter-spacing);
  line-height: var(--text-lg-semibold-line-height);
  top: 9px;
  width: 48px;
}

.avatar.size-19-xs .text-38 {
  font-family: var(--text-xs-semibold-font-family);
  font-size: var(--text-xs-semibold-font-size);
  font-style: var(--text-xs-semibold-font-style);
  font-weight: var(--text-xs-semibold-font-weight);
  left: 0;
  letter-spacing: var(--text-xs-semibold-letter-spacing);
  line-height: var(--text-xs-semibold-line-height);
  top: 2px;
  width: 24px;
}

.avatar.size-19-two-xl .text-38 {
  font-family: var(--display-xs-semibold-font-family);
  font-size: var(--display-xs-semibold-font-size);
  font-style: var(--display-xs-semibold-font-style);
  font-weight: var(--display-xs-semibold-font-weight);
  left: -1px;
  letter-spacing: var(--display-xs-semibold-letter-spacing);
  line-height: var(--display-xs-semibold-line-height);
  top: 15px;
  width: 64px;
}

.avatar.size-19-md .contrast-border {
  border: 0.75px solid;
  height: 40px;
  width: 40px;
}

.avatar.size-19-sm .contrast-border {
  border: 0.5px solid;
  height: 32px;
  width: 32px;
}

.avatar.size-19-xl .contrast-border {
  border: 0.75px solid;
  height: 56px;
  width: 56px;
}

.avatar.size-19-lg .contrast-border {
  border: 0.75px solid;
  height: 48px;
  width: 48px;
}

.avatar.size-19-xs .contrast-border {
  border: 0.5px solid;
  height: 24px;
  width: 24px;
}

.avatar.size-19-two-xl .contrast-border {
  border: 0.75px solid;
  height: 64px;
  width: 64px;
}

.avatar.size-19-md .text-39 {
  font-family: var(--text-md-semibold-font-family);
  font-size: var(--text-md-semibold-font-size);
  font-style: var(--text-md-semibold-font-style);
  font-weight: var(--text-md-semibold-font-weight);
  letter-spacing: var(--text-md-semibold-letter-spacing);
  line-height: var(--text-md-semibold-line-height);
  top: 8px;
  width: 40px;
}

.avatar.size-19-sm .text-39 {
  font-family: var(--text-sm-semibold-font-family);
  font-size: var(--text-sm-semibold-font-size);
  font-style: var(--text-sm-semibold-font-style);
  font-weight: var(--text-sm-semibold-font-weight);
  letter-spacing: var(--text-sm-semibold-letter-spacing);
  line-height: var(--text-sm-semibold-line-height);
  top: 6px;
  width: 32px;
}

.avatar.size-19-xl .text-39 {
  font-family: var(--text-xl-semibold-font-family);
  font-size: var(--text-xl-semibold-font-size);
  font-style: var(--text-xl-semibold-font-style);
  font-weight: var(--text-xl-semibold-font-weight);
  letter-spacing: var(--text-xl-semibold-letter-spacing);
  line-height: var(--text-xl-semibold-line-height);
  top: 13px;
  width: 56px;
}

.avatar.size-19-lg .text-39 {
  font-family: var(--text-lg-semibold-font-family);
  font-size: var(--text-lg-semibold-font-size);
  font-style: var(--text-lg-semibold-font-style);
  font-weight: var(--text-lg-semibold-font-weight);
  letter-spacing: var(--text-lg-semibold-letter-spacing);
  line-height: var(--text-lg-semibold-line-height);
  top: 10px;
  width: 48px;
}

.avatar.size-19-xs .text-39 {
  font-family: var(--text-xs-semibold-font-family);
  font-size: var(--text-xs-semibold-font-size);
  font-style: var(--text-xs-semibold-font-style);
  font-weight: var(--text-xs-semibold-font-weight);
  letter-spacing: var(--text-xs-semibold-letter-spacing);
  line-height: var(--text-xs-semibold-line-height);
  top: 3px;
  width: 24px;
}

.avatar.size-19-two-xl .text-39 {
  font-family: var(--display-xs-semibold-font-family);
  font-size: var(--display-xs-semibold-font-size);
  font-style: var(--display-xs-semibold-font-style);
  font-weight: var(--display-xs-semibold-font-weight);
  letter-spacing: var(--display-xs-semibold-letter-spacing);
  line-height: var(--display-xs-semibold-line-height);
  top: 16px;
  width: 64px;
}

.avatar.size-19-md .avatar-online {
  border: 1.5px solid;
}

.avatar.size-19-sm .avatar-online {
  border: 1.5px solid;
}

.avatar.company .avatar-online {
  background-position: 50% 50%;
  background-size: cover;
}

.avatar.size-19-xl .avatar-online {
  background-image: url(../../../static/img/size-xl.png);
  border: 1.5px solid;
}

.avatar.false .avatar-online {
  background-image: url(../../../static/img/size-xl.png);
  border: 1.5px solid;
  height: 17px;
  left: 46px;
  top: 46px;
  width: 17px;
}

.avatar.size-19-lg .avatar-online {
  border: 1.5px solid;
}

.avatar.online-indicator .avatar-online {
  background-color: var(--1-color-modes-colors-foreground-fg-success-secondary);
  background-image: url(../../../static/img/size-xl.png);
  border: 1.5px solid;
}

.avatar.verified .avatar-online {
  background-image: url(../../../static/img/size-xl.png);
  border: 1.5px solid;
  height: 17px;
  left: 46px;
  top: 46px;
  width: 17px;
}

.avatar.size-19-xs .avatar-online {
  border: 1.5px solid;
}

.avatar.size-19-xl.online-indicator .avatar-online {
  height: 17px;
  left: 40px;
  top: 40px;
  width: 17px;
}

.avatar.size-19-xs.company .avatar-online {
  background-image: url(../../../static/img/size-xs.png);
  height: 13px;
  left: 14px;
  top: 14px;
  width: 13px;
}

.avatar.size-19-sm.company .avatar-online {
  background-image: url(../../../static/img/size-sm.png);
  height: 15px;
  left: 20px;
  top: 20px;
  width: 15px;
}

.avatar.size-19-md.online-indicator .avatar-online {
  height: 13px;
  left: 28px;
  top: 28px;
  width: 13px;
}

.avatar.size-19-xs.online-indicator .avatar-online {
  height: 9px;
  left: 16px;
  top: 16px;
  width: 9px;
}

.avatar.online-indicator.size-19-two-xl .avatar-online {
  height: 19px;
  width: 19px;
}

.avatar.size-19-lg.online-indicator .avatar-online {
  height: 15px;
  left: 34px;
  top: 34px;
  width: 15px;
}

.avatar.size-19-md.company .avatar-online {
  background-image: url(../../../static/img/size-md.png);
  height: 17px;
  left: 26px;
  top: 26px;
  width: 17px;
}

.avatar.size-19-lg.company .avatar-online {
  background-image: url(../../../static/img/size-lg.png);
  height: 19px;
  left: 32px;
  top: 32px;
  width: 19px;
}

.avatar.size-19-sm.online-indicator .avatar-online {
  height: 11px;
  left: 22px;
  top: 22px;
  width: 11px;
}

.avatar.size-19-xl.company .avatar-online {
  height: 21px;
  left: 38px;
  top: 38px;
  width: 21px;
}

.avatar.size-19-two-xl.company .avatar-online {
  background-image: url(../../../static/img/size-2xl.png);
  border: 1.67px solid;
  height: 23px;
  left: 44px;
  top: 44px;
  width: 23px;
}

.avatar.online-indicator.placeholder-true.size-19-two-xl .avatar-online {
  left: 46px;
  top: 46px;
}

.avatar.online-indicator.size-19-two-xl.text-0-true .avatar-online {
  left: 46px;
  top: 46px;
}

.avatar.placeholder-false.text-0-false.online-indicator.size-19-two-xl
  .avatar-online {
  left: 48px;
  top: 48px;
}

.avatar.false .avatar-company-icon {
  height: 19px;
  left: 32px;
  top: 32px;
  width: 19px;
}

.avatar.company .avatar-company-icon {
  background-image: url(../../../static/img/size-lg.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 19px;
  left: 32px;
  top: 32px;
  width: 19px;
}

.avatar.online-indicator .avatar-company-icon {
  background-color: var(--1-color-modes-colors-foreground-fg-success-secondary);
  height: 15px;
  left: 34px;
  top: 34px;
  width: 15px;
}

.avatar.verified .avatar-company-icon {
  height: 19px;
  left: 32px;
  top: 32px;
  width: 19px;
}

.avatar.false .avatar-company-icon-2 {
  height: 17px;
  left: 26px;
  top: 26px;
  width: 17px;
}

.avatar.company .avatar-company-icon-2 {
  background-image: url(../../../static/img/size-md.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 17px;
  left: 26px;
  top: 26px;
  width: 17px;
}

.avatar.online-indicator .avatar-company-icon-2 {
  background-color: var(--1-color-modes-colors-foreground-fg-success-secondary);
  height: 13px;
  left: 28px;
  top: 28px;
  width: 13px;
}

.avatar.verified .avatar-company-icon-2 {
  height: 17px;
  left: 26px;
  top: 26px;
  width: 17px;
}

.avatar.false .avatar-company-icon-3 {
  height: 15px;
  left: 20px;
  top: 20px;
  width: 15px;
}

.avatar.company .avatar-company-icon-3 {
  background-image: url(../../../static/img/size-sm.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 15px;
  left: 20px;
  top: 20px;
  width: 15px;
}

.avatar.online-indicator .avatar-company-icon-3 {
  background-color: var(--1-color-modes-colors-foreground-fg-success-secondary);
  height: 11px;
  left: 22px;
  top: 22px;
  width: 11px;
}

.avatar.verified .avatar-company-icon-3 {
  height: 15px;
  left: 20px;
  top: 20px;
  width: 15px;
}

.avatar.false .avatar-company-icon-4 {
  height: 13px;
  left: 14px;
  top: 14px;
  width: 13px;
}

.avatar.company .avatar-company-icon-4 {
  background-image: url(../../../static/img/size-xs.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 13px;
  left: 14px;
  top: 14px;
  width: 13px;
}

.avatar.online-indicator .avatar-company-icon-4 {
  background-color: var(--1-color-modes-colors-foreground-fg-success-secondary);
  height: 9px;
  left: 16px;
  top: 16px;
  width: 9px;
}

.avatar.verified .avatar-company-icon-4 {
  height: 13px;
  left: 14px;
  top: 14px;
  width: 13px;
}

.avatar.size-19-md .contrast-border-2 {
  border: 0.75px solid;
  height: 40px;
}

.avatar.size-19-sm .contrast-border-2 {
  border: 0.5px solid;
  height: 32px;
}

.avatar.size-19-xl .contrast-border-2 {
  border: 0.75px solid;
  height: 56px;
}

.avatar.size-19-lg .contrast-border-2 {
  border: 0.75px solid;
  height: 48px;
}

.avatar.size-19-xs .contrast-border-2 {
  border: 0.5px solid;
  height: 24px;
}

.avatar.size-19-two-xl .contrast-border-2 {
  border: 0.75px solid;
  height: 64px;
}
