.help-icon {
  background-size: 100% 100%;
  height: 16px;
  width: 16px;
}

.help-icon .tooltip {
  box-shadow: var(--shadows-shadow-lg);
  display: inline-flex;
  position: absolute;
}

.help-icon .FIND-ME-wrapper {
  align-items: flex-start;
  background-color: var(--1-color-modes-colors-background-bg-primary-solid);
  border-radius: var(--2-radius-radius-md);
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
}

.help-icon .FIND-ME {
  position: relative;
}

.help-icon .FINDME {
  align-self: stretch;
  color: var(--1-color-modes-colors-text-text-white);
  font-family: var(--text-xs-semibold-font-family);
  font-size: var(--text-xs-semibold-font-size);
  font-style: var(--text-xs-semibold-font-style);
  font-weight: var(--text-xs-semibold-font-weight);
  letter-spacing: var(--text-xs-semibold-letter-spacing);
  line-height: var(--text-xs-semibold-line-height);
  margin-top: -1.00px;
  position: relative;
}

.help-icon .supporting-text-8 {
  align-self: stretch;
  color: var(
    --1-color-modes-component-colors-components-tooltips-tooltip-supporting-text
  );
  font-family: var(--text-xs-medium-font-family);
  font-size: var(--text-xs-medium-font-size);
  font-style: var(--text-xs-medium-font-style);
  font-weight: var(--text-xs-medium-font-weight);
  letter-spacing: var(--text-xs-medium-letter-spacing);
  line-height: var(--text-xs-medium-line-height);
  position: relative;
}

.help-icon .tooltip-2 {
  position: relative;
}

.help-icon .cursor-2 {
  height: 20px;
  left: 6px;
  position: absolute;
  top: 8px;
  width: 20px;
}

.help-icon .img-wrapper {
  background-size: 100% 100%;
  height: 21px;
  position: relative;
  top: 1px;
  width: 19px;
}

.help-icon .lines-3 {
  height: 4px;
  left: 8px;
  position: absolute;
  top: 10px;
  width: 5px;
}

.help-icon .overlap-4 {
  position: relative;
}

.help-icon .tooltip-3 {
  align-items: center;
  box-shadow: var(--shadows-shadow-lg);
  display: inline-flex;
  position: absolute;
}

.help-icon .tooltip-4 {
  position: relative;
}

.help-icon .content-22 {
  align-items: flex-start;
  background-color: var(--1-color-modes-colors-background-bg-primary-solid);
  border-radius: var(--2-radius-radius-md);
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
}

.help-icon .FIND-ME-2 {
  position: relative;
}

.help-icon .cursor-3 {
  height: 20px;
  position: absolute;
  width: 20px;
}

.help-icon .overlap-group-5 {
  background-size: 100% 100%;
  height: 21px;
  position: relative;
  top: 1px;
  width: 19px;
}

.help-icon.top-left.open-0-true {
  position: relative;
}

.help-icon.top-right.open-0-true {
  position: relative;
}

.help-icon.left.open-0-true {
  position: relative;
}

.help-icon.open-0-true.top-arrow {
  position: relative;
}

.help-icon.top-no-arrow.open-0-true {
  position: relative;
}

.help-icon.supporting-text-3-false.open-0-false.left {
  background-image: url(../../../static/img/help-circle-42.svg);
}

.help-icon.left.supporting-text-3-true.open-0-true {
  background-image: url(../../../static/img/help-circle-57.svg);
}

.help-icon.supporting-text-3-false.open-0-true.bottom {
  background-image: url(../../../static/img/help-circle-52.svg);
}

.help-icon.left.supporting-text-3-true.open-0-false {
  background-image: url(../../../static/img/help-circle-43.svg);
}

.help-icon.supporting-text-3-true.right.open-0-true {
  background-image: url(../../../static/img/help-circle-55.svg);
}

.help-icon.open-0-true.supporting-text-3-true.bottom {
  background-image: url(../../../static/img/help-circle-53.svg);
}

.help-icon.supporting-text-3-false.top-right.open-0-true {
  background-image: url(../../../static/img/help-circle-48.svg);
}

.help-icon.top-left.supporting-text-3-true.open-0-true {
  background-image: url(../../../static/img/help-circle-51.svg);
}

.help-icon.supporting-text-3-false.top-right.open-0-false {
  background-image: url(../../../static/img/help-circle-34.svg);
}

.help-icon.supporting-text-3-true.top-right.open-0-true {
  background-image: url(../../../static/img/help-circle-49.svg);
}

.help-icon.supporting-text-3-false.open-0-true.left {
  background-image: url(../../../static/img/help-circle-56.svg);
}

.help-icon.supporting-text-3-false.right.open-0-true {
  background-image: url(../../../static/img/help-circle-54.svg);
}

.help-icon.supporting-text-3-false.open-0-true.top-arrow {
  background-image: url(../../../static/img/help-circle-46.svg);
}

.help-icon.top-left.supporting-text-3-false.open-0-false {
  background-image: url(../../../static/img/help-circle-36.svg);
}

.help-icon.supporting-text-3-true.open-0-true.top-arrow {
  background-image: url(../../../static/img/help-circle-47.svg);
}

.help-icon.top-left.supporting-text-3-false.open-0-true {
  background-image: url(../../../static/img/help-circle-50.svg);
}

.help-icon.open-0-false.supporting-text-3-true.top-no-arrow {
  background-image: url(../../../static/img/help-circle-31.svg);
}

.help-icon.top-left.supporting-text-3-true.open-0-false {
  background-image: url(../../../static/img/help-circle-37.svg);
}

.help-icon.supporting-text-3-false.top-no-arrow.open-0-true {
  background-image: url(../../../static/img/help-circle-44.svg);
}

.help-icon.supporting-text-3-false.right.open-0-false {
  background-image: url(../../../static/img/help-circle-40.svg);
}

.help-icon.supporting-text-3-false.open-0-false.top-no-arrow {
  background-image: url(../../../static/img/help-circle-30.svg);
}

.help-icon.supporting-text-3-true.open-0-false.bottom {
  background-image: url(../../../static/img/help-circle-39.svg);
}

.help-icon.supporting-text-3-true.right.open-0-false {
  background-image: url(../../../static/img/help-circle-41.svg);
}

.help-icon.supporting-text-3-true.open-0-false.top-arrow {
  background-image: url(../../../static/img/help-circle-33.svg);
}

.help-icon.supporting-text-3-true.top-no-arrow.open-0-true {
  background-image: url(../../../static/img/help-circle-45.svg);
}

.help-icon.supporting-text-3-true.top-right.open-0-false {
  background-image: url(../../../static/img/help-circle-35.svg);
}

.help-icon.supporting-text-3-false.open-0-false.bottom {
  background-image: url(../../../static/img/help-circle-38.svg);
}

.help-icon.supporting-text-3-false.open-0-false.top-arrow {
  background-image: url(../../../static/img/help-circle-32.svg);
}

.help-icon.left .tooltip {
  align-items: center;
}

.help-icon.right .tooltip {
  align-items: center;
  left: -48px;
  top: -44px;
}

.help-icon.top-no-arrow .tooltip {
  align-items: center;
  flex-direction: column;
}

.help-icon.bottom .tooltip {
  align-items: center;
  left: -48px;
  top: -44px;
}

.help-icon.top-right .tooltip {
  align-items: flex-start;
  flex-direction: column;
  left: -12px;
}

.help-icon.top-left .tooltip {
  align-items: flex-end;
  flex-direction: column;
}

.help-icon.top-arrow .tooltip {
  align-items: center;
  flex-direction: column;
}

.help-icon.supporting-text-3-false.top-arrow .tooltip {
  left: -48px;
  top: -44px;
}

.help-icon.supporting-text-3-false.top-right .tooltip {
  top: -44px;
}

.help-icon.supporting-text-3-true.top-right .tooltip {
  top: -110px;
}

.help-icon.supporting-text-3-false.left .tooltip {
  left: -121px;
  top: -9px;
}

.help-icon.supporting-text-3-true.top-no-arrow .tooltip {
  left: -146px;
  top: -104px;
}

.help-icon.supporting-text-3-false.top-no-arrow .tooltip {
  left: -48px;
  top: -38px;
}

.help-icon.left.supporting-text-3-true .tooltip {
  left: -319px;
  top: -42px;
}

.help-icon.top-left.supporting-text-3-false .tooltip {
  left: -84px;
  top: -44px;
}

.help-icon.supporting-text-3-true.top-arrow .tooltip {
  left: -146px;
  top: -110px;
}

.help-icon.top-left.supporting-text-3-true .tooltip {
  left: -281px;
  top: -110px;
}

.help-icon.left .FIND-ME-wrapper {
  align-self: stretch;
  display: inline-flex;
}

.help-icon.supporting-text-3-true .FIND-ME-wrapper {
  display: inline-flex;
  padding: var(--3-spacing-spacing-lg);
}

.help-icon.right .FIND-ME-wrapper {
  display: inline-flex;
}

.help-icon.supporting-text-3-false .FIND-ME-wrapper {
  align-self: stretch;
  padding: var(--3-spacing-spacing-md) var(--3-spacing-spacing-lg)
    var(--3-spacing-spacing-md) var(--3-spacing-spacing-lg);
}

.help-icon.bottom .FIND-ME-wrapper {
  display: inline-flex;
}

.help-icon.supporting-text-3-false.top-arrow .FIND-ME-wrapper {
  display: flex;
  width: 100%;
}

.help-icon.supporting-text-3-false.top-right .FIND-ME-wrapper {
  display: flex;
  width: 100%;
}

.help-icon.supporting-text-3-false.top-no-arrow .FIND-ME-wrapper {
  display: flex;
  width: 100%;
}

.help-icon.top-left.supporting-text-3-false .FIND-ME-wrapper {
  display: flex;
  width: 100%;
}

.help-icon.supporting-text-3-false .FIND-ME {
  color: var(--1-color-modes-colors-text-text-white);
  font-family: var(--text-xs-semibold-font-family);
  font-size: var(--text-xs-semibold-font-size);
  font-style: var(--text-xs-semibold-font-style);
  font-weight: var(--text-xs-semibold-font-weight);
  letter-spacing: var(--text-xs-semibold-letter-spacing);
  line-height: var(--text-xs-semibold-line-height);
  margin-top: -1.00px;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.help-icon.supporting-text-3-true .FIND-ME {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: var(--3-spacing-spacing-xs);
}

.help-icon.left .tooltip-2 {
  height: 16px;
  width: 8.51px;
}

.help-icon.right .tooltip-2 {
  height: 8.51px;
  width: 28px;
}

.help-icon.top-no-arrow .tooltip-2 {
  height: 8.51px;
  width: 28px;
}

.help-icon.bottom .tooltip-2 {
  height: 8.51px;
  width: 28px;
}

.help-icon.top-right .tooltip-2 {
  height: 8.51px;
  width: 28px;
}

.help-icon.top-left .tooltip-2 {
  height: 8.51px;
  width: 28px;
}

.help-icon.top-arrow .tooltip-2 {
  height: 8.51px;
  width: 16px;
}

.help-icon.right .img-wrapper {
  background-image: url(../../../static/img/shape.svg);
}

.help-icon.bottom .img-wrapper {
  background-image: url(../../../static/img/shape.svg);
}

.help-icon.supporting-text-3-false.top-arrow .img-wrapper {
  background-image: url(../../../static/img/shape-2.svg);
}

.help-icon.supporting-text-3-false.top-right .img-wrapper {
  background-image: url(../../../static/img/shape-4.svg);
}

.help-icon.supporting-text-3-true.top-right .img-wrapper {
  background-image: url(../../../static/img/shape-5.svg);
}

.help-icon.supporting-text-3-false.left .img-wrapper {
  background-image: url(../../../static/img/shape-12.svg);
}

.help-icon.supporting-text-3-true.top-no-arrow .img-wrapper {
  background-image: url(../../../static/img/shape-1.svg);
}

.help-icon.supporting-text-3-false.top-no-arrow .img-wrapper {
  background-image: url(../../../static/img/shape.svg);
}

.help-icon.left.supporting-text-3-true .img-wrapper {
  background-image: url(../../../static/img/shape-13.svg);
}

.help-icon.top-left.supporting-text-3-false .img-wrapper {
  background-image: url(../../../static/img/shape-6.svg);
}

.help-icon.supporting-text-3-true.top-arrow .img-wrapper {
  background-image: url(../../../static/img/shape-3.svg);
}

.help-icon.top-left.supporting-text-3-true .img-wrapper {
  background-image: url(../../../static/img/shape-7.svg);
}

.help-icon.left .overlap-4 {
  height: 52px;
  left: -48px;
  top: -9px;
  width: 112px;
}

.help-icon.right .overlap-4 {
  left: 6px;
}

.help-icon.top-no-arrow .overlap-4 {
  height: 52px;
  left: -48px;
  top: -9px;
  width: 112px;
}

.help-icon.bottom .overlap-4 {
  top: 8px;
}

.help-icon.top-right .overlap-4 {
  height: 52px;
  left: -48px;
  top: -9px;
  width: 112px;
}

.help-icon.top-left .overlap-4 {
  height: 52px;
  left: -48px;
  top: -9px;
  width: 112px;
}

.help-icon.top-arrow .overlap-4 {
  height: 52px;
  left: -48px;
  top: -9px;
  width: 112px;
}

.help-icon.supporting-text-3-false.right .overlap-4 {
  height: 37px;
  top: -9px;
  width: 132px;
}

.help-icon.supporting-text-3-true.bottom .overlap-4 {
  height: 118px;
  left: -146px;
  width: 309px;
}

.help-icon.supporting-text-3-true.right .overlap-4 {
  height: 100px;
  top: -42px;
  width: 329px;
}

.help-icon.supporting-text-3-false.bottom .overlap-4 {
  height: 52px;
  left: -48px;
  width: 112px;
}

.help-icon.left .tooltip-3 {
  left: 0;
  top: 12px;
}

.help-icon.right .tooltip-3 {
  left: 14px;
  top: 0;
}

.help-icon.top-no-arrow .tooltip-3 {
  left: 0;
  top: 12px;
}

.help-icon.bottom .tooltip-3 {
  flex-direction: column;
  left: 0;
  top: 12px;
}

.help-icon.top-right .tooltip-3 {
  left: 0;
  top: 12px;
}

.help-icon.top-left .tooltip-3 {
  left: 0;
  top: 12px;
}

.help-icon.top-arrow .tooltip-3 {
  left: 0;
  top: 12px;
}

.help-icon.left .tooltip-4 {
  height: 8.51px;
  width: 16px;
}

.help-icon.right .tooltip-4 {
  height: 16px;
  width: 8.51px;
}

.help-icon.top-no-arrow .tooltip-4 {
  height: 8.51px;
  width: 16px;
}

.help-icon.bottom .tooltip-4 {
  height: 8.51px;
  width: 16px;
}

.help-icon.top-right .tooltip-4 {
  height: 8.51px;
  width: 16px;
}

.help-icon.top-left .tooltip-4 {
  height: 8.51px;
  width: 16px;
}

.help-icon.top-arrow .tooltip-4 {
  height: 8.51px;
  width: 16px;
}

.help-icon.left .content-22 {
  display: inline-flex;
}

.help-icon.supporting-text-3-true .content-22 {
  display: inline-flex;
  padding: var(--3-spacing-spacing-lg);
}

.help-icon.right .content-22 {
  align-self: stretch;
  display: inline-flex;
}

.help-icon.top-no-arrow .content-22 {
  display: inline-flex;
}

.help-icon.supporting-text-3-false .content-22 {
  align-self: stretch;
  padding: var(--3-spacing-spacing-md) var(--3-spacing-spacing-lg)
    var(--3-spacing-spacing-md) var(--3-spacing-spacing-lg);
}

.help-icon.top-right .content-22 {
  display: inline-flex;
}

.help-icon.top-left .content-22 {
  display: inline-flex;
}

.help-icon.top-arrow .content-22 {
  display: inline-flex;
}

.help-icon.supporting-text-3-false.bottom .content-22 {
  display: flex;
  width: 100%;
}

.help-icon.supporting-text-3-false .FIND-ME-2 {
  color: var(--1-color-modes-colors-text-text-white);
  font-family: var(--text-xs-semibold-font-family);
  font-size: var(--text-xs-semibold-font-size);
  font-style: var(--text-xs-semibold-font-style);
  font-weight: var(--text-xs-semibold-font-weight);
  letter-spacing: var(--text-xs-semibold-letter-spacing);
  line-height: var(--text-xs-semibold-line-height);
  margin-top: -1.00px;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.help-icon.supporting-text-3-true .FIND-ME-2 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: var(--3-spacing-spacing-xs);
}

.help-icon.left .cursor-3 {
  left: 54px;
  top: 17px;
}

.help-icon.right .cursor-3 {
  left: 0;
}

.help-icon.top-no-arrow .cursor-3 {
  left: 54px;
  top: 17px;
}

.help-icon.bottom .cursor-3 {
  top: 0;
}

.help-icon.top-right .cursor-3 {
  left: 54px;
  top: 17px;
}

.help-icon.top-left .cursor-3 {
  left: 54px;
  top: 17px;
}

.help-icon.top-arrow .cursor-3 {
  left: 54px;
  top: 17px;
}

.help-icon.supporting-text-3-false.right .cursor-3 {
  top: 17px;
}

.help-icon.supporting-text-3-true.bottom .cursor-3 {
  left: 152px;
}

.help-icon.supporting-text-3-true.right .cursor-3 {
  top: 50px;
}

.help-icon.supporting-text-3-false.bottom .cursor-3 {
  left: 54px;
}

.help-icon.left .overlap-group-5 {
  background-image: url(../../../static/img/shape-8.svg);
}

.help-icon.top-no-arrow .overlap-group-5 {
  background-image: url(../../../static/img/shape-8.svg);
}

.help-icon.top-right .overlap-group-5 {
  background-image: url(../../../static/img/shape-8.svg);
}

.help-icon.top-left .overlap-group-5 {
  background-image: url(../../../static/img/shape-8.svg);
}

.help-icon.top-arrow .overlap-group-5 {
  background-image: url(../../../static/img/shape-8.svg);
}

.help-icon.supporting-text-3-false.right .overlap-group-5 {
  background-image: url(../../../static/img/shape-10.svg);
}

.help-icon.supporting-text-3-true.bottom .overlap-group-5 {
  background-image: url(../../../static/img/shape-9.svg);
}

.help-icon.supporting-text-3-true.right .overlap-group-5 {
  background-image: url(../../../static/img/shape-11.svg);
}

.help-icon.supporting-text-3-false.bottom .overlap-group-5 {
  background-image: url(../../../static/img/shape-8.svg);
}
